<div id="wrapperErrorPage">
    <div class="col-sm-12">
        <div class="error-number">404</div>
        <h5 class="error-title">Không tìm thấy trang</h5>
        <p class="error-message">
            Rất tiếc trang bạn đang tìm kiếm không tồn tại. Vui lòng kiểm tra lại hoặc click <a href="/">Vào đây</a>
            để quay về trang chủ.
            <br/>
            Cảm ơn bạn đã sử dụng dịch vụ của chúng tôi!
        </p>
    </div>
</div><!-- end #wrapeprNotFoundPage -->