<div id="wrapperErrorPage">
    <div class="col-sm-12">
        <div class="error-number">500</div>
        <h5 class="error-title">Có gì đó hoạt động chưa đúng </h5>
        <p class="error-message">
            Rất xin lỗi quý khách vì sự bất tiện này. Quý khách vui lòng liên hệ với bộ phận Chăm sóc khách hàng để được trợ giúp.
            <ul class="customer-care-hotline">
                <li>Hotline: 0972 88 11 25</li>                
            </ul>            
            <div>Xin cảm ơn!</div>
        </p>
    </div>
</div><!-- end #wrapeprNotFoundPage -->