@using Newtonsoft.Json.Serialization;
@{
    ViewBag.Title = "Giỏ hàng";
    var jsonSerializerSettings = new JsonSerializerSettings
    {
        ContractResolver = new CamelCasePropertyNamesContractResolver()
    };
}

<partial name="_Breadcumb">
    <div id="shopping-cart" class="shopping-cart">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <partial name="_TitleBar" model="ViewBag.Title" />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <a href="/gio-hang" class="shopping-cart">
                        <i class="ion-bag"></i>
                        <span class="number-product">1</span>
                    </a>
                </div>
                <div class="col-sm-12">
                    <table class="table table-bordered table-responsive">
                        <thead>
                            <tr>
                                <th>Sản phẩm</th>
                                <th>Giá</th>
                                <th>Số lượng</th>
                                <th>Tổng tiển</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>           
        </div>
    </div>

    @section scripts {
        <script type="text/javascript">
        </script>
    }
