@using GHM.WebSite.Nelly.Helper
@using GHM.WebSite.Nelly.Models
@{
    ViewBag.Title = "Giỏ hàng";
    var jsonSerializerSettings = new JsonSerializerSettings
    {
        ContractResolver = new CamelCasePropertyNamesContractResolver()
    };

    var sessionId = HttpContextAccessor.HttpContext.Session.Id;
}

<partial name="_Breadcumb">
    <div id="shopping-cart" class="shopping-carts">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 cm-mgb-15">
                    <partial name="_TitleBar" model="ViewBag.Title" />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 cm-mgb-5">
                    <a href="/gio-hang" class="shopping-cart">
                        <i class="ion-bag"></i>
                        <span class="product-quantity" data-bind="text: listProduct().length"></span>
                    </a>
                    <span class="total-product">
                        Giỏ hàng của bạn:
                        <b data-bind="text: listProduct().length"></b>
                        sản phẩm
                    </span>
                </div>
                <!--ko if: listProduct().length > 0-->
                <div class="col-sm-12">
                    <table class="table table-bordered table-responsive table-product">
                        <thead>
                            <tr>
                                <th class="v-middle">Sản phẩm</th>
                                <th class="text-center v-middle w150">Giá</th>
                                <th class="text-center v-middle w150">Số lượng</th>
                                <th class="text-center v-middle w150">Tổng tiển</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!--ko foreach: $root.listProduct-->
                            <tr>
                                <td class="v-middle">
                                    <div class="media">
                                        <div class="media-left">
                                            <a data-bind="attr: {href: '/san-pham/' + seoLink + '.html', title: name}">
                                                <img class="w70" data-bind="attr: {src: '@ViewBag.Url' + thumbnail, title: name}" onerror="this.onerror = null;this.src='/images/no-image.png'" />
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <a data-bind="attr: {href: '.san-pham/' + seoLink + '.html', title: name}">
                                                <h3 data-bind="text: name"></h3>
                                            </a>
                                        </div>
                                    </div>
                                </td>
                                <td class="text-center v-middle w150" data-bind="text: formatNumberic(salePrice,  'N0') + ' đ'"></td>
                                <td class="text-center v-middle w100">
                                    <div class="input-group">
                                        <span class="input-group-btn">
                                            <button class="btn btn-add no-border-radius" data-bind="click: $root.addProductQuantity.bind($data, $data, false), enable: productQuantity() > 0">
                                                <i class="la la-minus"></i>
                                            </button>
                                        </span>
                                        <input class="form-control text-right" data-bind="value: productQuantity(), attr: {id: 'product-' + id}, event: {change: $root.changeQuantity.bind($data)}" />
                                        <span class="input-group-btn">
                                            <button class="btn btn-add no-border-radius" data-bind="click: $root.addProductQuantity.bind($data, $data, true)">
                                                <i class="la la-plus"></i>
                                            </button>
                                        </span>
                                    </div>
                                </td>
                                <td class="text-center v-middle" data-bind="text: formatNumberic(totalPrice(),  'N0') + ' đ'"></td>
                            </tr>
                            <!--/ko-->
                        </tbody>
                    </table>
                </div>
                <div class="col-sm-12">
                    <div class="pull-right">
                        <label>Tổng sô tiền:</label>
                        <span class="" data-bind="text: formatNumberic(totalPrice(),  'N0') + ' đ'"></span>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="pull-right">
                        (<span class="" data-bind="text: totalMoney() + 'đồng'"></span>)
                    </div>
                </div>
                <div class="col-sm-6">
                    <a href="javascript://">
                        <i class="la la-"></i>
                        Quay lại
                    </a>
                </div>
                <!--/ko-->
                <!--ko if: !listProduct() || listProduct().length === 0-->
                <div class="col-sm-12">
                    <div class="alert alert-danger">
                        Giỏ hàng trống. Vui lòng tiếp tục mua hàng.
                    </div>
                </div>
                <!--/ko-->
                <div class="col-sm-6 pull-right">
                    <div class="read-more">
                        <a class="btn btn-main">Tiếp tục mua hàng</a>
                        <a class="btn btn-main">Tiến hành thanh toán</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @section scripts {
        <script type="text/javascript">
             var products = @(ViewBag.ListProduct != null ? Html.Raw(JsonConvert.SerializeObject(ViewBag.ListProduct, jsonSerializerSettings)) : "[]");
        </script>
        <script src="~/js/viewmodel/shopping-cart.viewmodel.min.js"></script>
    }
