@{
    var NewsAtive = ViewBag.NewsAtive as List<NewsDetailViewModel>;
    var url = "https://websitefile.ghmsoft.vn/";
}
    <section id="intro">
        <style>
            canvas.intro-canvas-el {
                z-index: 0;
            }
        </style>
        <div id="intro_content" class="container">
            <div class="row">
                <div class="col-sm-12 titlebar">
                    <h2>@(!string.IsNullOrEmpty(ViewBag.NewsAboutUS?.Title) ? ViewBag.NewsAboutUS?.Title : "VỀ CHÚNG TÔI")</h2>
                </div>
            </div>
            <div id="tabs-holder" class="row">
                <div class="col-md-6">
                    <div class="tab-content">
                        <div id="tab_1" class="tab-pane active">
                            <p>@(!string.IsNullOrEmpty(ViewBag.NewsAboutUS?.Content) ? Html.Raw(ViewBag.NewsAboutUS?.Content) : "error")</p>

                        </div>

                    </div>
                </div>
                <div class="col-md-6 text-center animated fadeInRight visible cm-mgt-35" data-animation="fadeInRight" data-animation-delay="600">
                    <img class="img-responsive" src="@(ViewBag.NewsAboutUS != null && !string.IsNullOrEmpty(ViewBag.NewsAboutUS.FeatureImage) ? $"{url}{ViewBag.NewsAboutUS.FeatureImage}" : "")"
                         alt="@(!string.IsNullOrEmpty(ViewBag.NewsAboutUS?.AltImage) ? ViewBag.NewsAboutUS?.AltImage :"about-image")"
                         onerror="this.src='/images/no-image.png'" />
                </div>
            </div>
        </div>
    </section>
<script src="~/js/test/particles.js" > </script > 
<script src="~/js/test/app.js"></script>
<script src="~/js/test/lib/stats.js" > </script >
