@{
    var listPhoto = ViewBag.AlbumViewModel as List<AlbumWithItemViewModel>;
    var listAlbum = ViewBag.ListAlbum as List<AlbumViewModel>;
}
<section id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="titlebar">
                    <h3>@Resource.LibraryImage</h3>                  
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div id="gallery-filter" class="col-xs-12 text-center">
                <div class="btn-toolbar">
                    <div class="btn-group">
                        <span class="filter btn active" data-filter="all">All</span>
                        @if (listPhoto != null && listPhoto.Any())
                        {
                            @foreach (var album in listPhoto)
                            {
                                <span class="filter btn" data-filter="@album.SeoLink">@album.Title</span>                               
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            @if (listPhoto != null && listPhoto.Any())
            {
                @foreach (var album in listPhoto)
                {                 
                    @if (album.AlbumItems != null && album.AlbumItems.Any())
                    {
                        @foreach (var photo in album.AlbumItems.Take(3))
                        {
                            <ul class="portfolio-items-list cm-pdl-0">
                                <li class="col-xs-6 col-sm-4 col-md-3 portfolio-item @album.SeoLink web mix_all" data-cat="2" style=" display: inline-block; opacity: 1;">
                                    <div class="hover-overlay">
                                        <partial name="_PhotoItem" model="photo" />
                                    </div>
                                </li>
                            </ul>
                        }
                    }
                 }
            }

        </div>
    </div>
</section>
