@{
    var listMenuProduct = ViewBag.MenuProduct as List<MenuItemViewModel>;
   
}
@if (listMenuProduct != null && listMenuProduct.Any())
{
    <div id="product-hot">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h2 class="titlebar">Sản phẩm </h2>
                </div>
            </div>
            <div class="row">
                @foreach (var product in listMenuProduct)
                {
                    <div class="col-sm-3 cm-mgb-20">
                        <partial name="_MenuProduct" model="product" />
                    </div>
                }
            </div>
        </div>
    </div>
}
