@{
    var websiteSetting = ViewBag.WebsiteSetting as WebsiteSetting;
    var listSocialNetWork = ViewBag.SocialNetwork as List<SocialNetworkViewModel>;
    var newsFounder = ViewBag.NewsFounder as List<NewsDetailViewModel>;
    var url = "https://websitefile.TTMedic.vn/";
}
<section id="team">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 titlebar">
                    <h2>@(!string.IsNullOrEmpty(ViewBag.NewsFounder?.Title) ? ViewBag.NewsFounder?.Title : "NHÀ SÁNG LẬP")</h2>
                </div>
            </div>
            <div class="row team_members_wrapper">
                <div class="col-sm-6 col-md-3 animated fadeInRight visible" data-animation="fadeInRight" data-animation-delay="500">
                    <div class="team-member text-center">
                        <div class="img-block">
                            <img class="img-responsive" src="@(ViewBag.NewsFounder != null && !string.IsNullOrEmpty(ViewBag.NewsFounder.FeatureImage) ? $"{url}{ViewBag.NewsFounder.FeatureImage}" : "")"
                                 alt="@(!string.IsNullOrEmpty(ViewBag.NewsFounder?.AltImage) ? ViewBag.NewsFounder?.AltImage :"team_foto")"
                                 onerror="this.src='/images/no-image.png'" />
                        </div>
                        <div class="team-img-meta">
                            <h5>DANG TRAN DUNG</h5>
                            <h6>CO-FOUNDER</h6>
                        </div>                       
                    </div>
                </div>
                <div class="col-sm-6 col-md-9 animated fadeInRight visible" data-animation="fadeInRight" data-animation-delay="500">
                    <div class="team-member">
                        @(!string.IsNullOrEmpty(ViewBag.NewsFounder?.Content) ? Html.Raw(ViewBag.NewsFounder?.Content) : "error")
                    </div>
                </div>
            </div>
        </div>
    
</section>
