@using GHM.WebSite.Nelly.Helper
@using GHM.WebSite.Nelly.Models
@{
    var listSocialNetWork = ViewBag.SocialNetwork as List<SocialNetworkViewModel>;
    var productSelectItemJson = HttpContextAccessor.HttpContext.Session.GetString(SessionParam.ShoppingCart);
    var productsItems = JsonConvertHelper.GetObjectFromJson<List<ProductSelectedItem>>(productSelectItemJson);
}

<ul class="layout_sidebar hidden-sm hidden-xs">
    <li>
        <div class="item-left shopping-cart hidden-sm hidden-xs">
            <a href="/gio-hang" data-toggle="tooltip" title="Giỏ hàng">
                <img data-src="/images/facion/giohang.png" class="lazy" />
                <span class="quantity-product" id="quantity-product-sidebar">@(productsItems != null ? productsItems.Count : 0)</span>
            </a>
        </div>
        <div class="item-right">
            <a href="/gio-hang" data-toggle="tooltip" title=" Giỏ hàng"><span> Giỏ hàng</span></a>
        </div>
    </li>
    <li class="hidden-sm hidden-xs">
        <div class="item-left">
            <a href="/lien-he" data-toggle="tooltip" title="Liên hệ">
                <img data-src="/images/facion/contact.png" class="lazy" />
                @*<i class="la la-asterisk"> </i>*@
            </a>
        </div>
        <div class="item-right">
            <a href="/lien-he" data-toggle="tooltip" title="Liên hệ"><span> Liên hệ</span></a>
            <ul class="list-inline">
                @if (listSocialNetWork != null && listSocialNetWork.Any())
                {
                    @foreach (var socialNetwork in listSocialNetWork)
                    {
                        <li class="list-items">
                            <a href="@socialNetwork.Url">
                                @if (!string.IsNullOrEmpty(socialNetwork.Icon))
                                {
                                    <i class="fa @(socialNetwork.Icon)"></i>
                                }
                            </a>
                        </li>
                    }
                }
            </ul>
        </div>
    </li>
</ul>
