@{ 
    var websiteSetting = ViewBag.WebsiteSetting as WebsiteSetting;
    var listSocialNetWork = ViewBag.SocialNetwork as List<SocialNetworkViewModel>;
    var url = "https://websitefile.TTMedic.vn/";
}
<footer id="footer">
    <div class="container">     
        <div class="row cm-mgt-10">
            <div class="col-sm-12 text-center">
                <div class="social-network">
                    @if (listSocialNetWork != null && listSocialNetWork.Any()) { 
                        <ul class="list-inline">

                            @foreach (var socialNetWork in listSocialNetWork)
                            {
                                <li>
                                    <a href="@socialNetWork.Url">
                                        @if (!string.IsNullOrEmpty(socialNetWork.Image))
                                        {
                                            <img src="@(string.IsNullOrEmpty(socialNetWork.Image) ? "/images/no-image.png" : $"{url}{socialNetWork.Image}")"
                                                 alt="@socialNetWork.Name"
                                                 class="lazy" />
                                        }
                                    </a>
                                </li>
                            }

                        </ul>}
                </div>
            </div>
            <div class="row">
                <div class="footer_copyright col-sm-12 text-center">
                    <p>Copyright 2017 - @DateTime.Now.Year <span>TTMedic</span>. All Rights Reserved.</p>
                </div>
            </div>
        </div>
        </div>
</footer>