@model string;

@if (!string.IsNullOrEmpty(Model))
{
    <div class="titlebar">
        <h3>@Model</h3>
        <div class="image center">
            <img class="lazy" width="25" data-src="/images/facion/la hong.png" />
        </div>
    </div>
}
