@font-face {
  font-family: 'Regular';
  src: url('../../lib/Font-Roboto/fa-regular-400.tff') format('truetype');
}
@font-face {
  font-family: 'Roboto-Bold';
  src: url('../../lib/Font-Roboto/Roboto-Bold_1.tff') format('truetype');
}
@font-face {
  font-family: 'Roboto-Regular';
  src: url('../../lib/Font-Roboto/Roboto-Regular.tff') format('truetype');
}
@font-face {
  font-family: 'VLALLROUNDGOTHIC-BOOK';
  src: url('../../lib/Font-Roboto/VLALLROUNDGOTHIC-BOOK.otf') format('truetype');
}
@font-face {
  font-family: 'vlauthenticaregular';
  src: url('../../lib/font-roboto/vlauthenticaregular.otf') format('truetype');
}
.events {
  background-image: url('../../images/bgr web/bgr trang tin tuc_su kien-uu dai.jpg');
  background-position: initial;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.events .event-item {
  width: 100%;
  display: block;
  overflow: hidden;
  margin-bottom: 10px;
}
.events .event-item .thumbnail-event {
  position: relative;
}
.events .event-item .thumbnail-event img {
  border: 1px solid #7aa127;
  width: 100%;
}
.events .event-item .title-event-default {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 10px;
  padding-top: 0px;
}
.events .event-item .title-event-default a {
  text-decoration: none;
  font-size: 22px;
  color: #7aa127;
}
@media only screen and (max-width: 768px) {
  .events .event-item .title-event-default a {
    font-size: 20px;
  }
}
.events .event-item .title-event {
  margin-top: 0px;
  padding-top: 10px;
  font-size: 16px;
  min-height: 60px;
}
@media only screen and (max-width: 768px) {
  .events .event-item .title-event {
    min-height: 60px;
  }
}
.events .event-item .title-event a {
  text-decoration: none;
  color: #7aa127;
}
.events .event-item .description {
  padding: 10px;
  font-size: 16px;
  color: #949293;
  padding-top: 0px;
  /*min-height:80px;*/
}
.events .event-item:hover a {
  color: #7aa127;
}
#event-detail .event-video {
  background-image: url('../../images/bgr web/event/bgr-03.jpg');
  background-size: cover;
  background-position: center;
  padding: 40px 0px;
}
@media only screen and (max-width: 768px) {
  #event-detail .event-video {
    padding: 20px 0px;
  }
}
#event-detail .event-video .titlebar {
  width: 40%;
  line-height: 30px;
  font-size: 24px;
}
@media only screen and (max-width: 768px) {
  #event-detail .event-video .titlebar {
    width: 100%;
    font-size: 18px;
  }
}
#event-detail .event-video .thumbnail-youtube {
  width: 60%;
  margin: auto;
  padding: 20px;
}
@media only screen and (max-width: 768px) {
  #event-detail .event-video .thumbnail-youtube {
    width: 100%;
  }
  #event-detail .event-video .thumbnail-youtube iframe {
    height: 320px;
  }
}
#event-detail .event-video #content {
  position: relative;
}
#event-detail .event-video #content:before,
#event-detail .event-video #content:after,
#event-detail .event-video #content > :first-child:before,
#event-detail .event-video #content > :first-child:after {
  position: absolute;
  content: ' ';
  width: 40px;
  height: 40px;
  border-color: #FFFFFF;
  /* or whatever colour */
  border-style: solid;
  /* or whatever style */
}
#event-detail .event-video #content:before {
  top: 0;
  left: 0;
  border-width: 3px 0 0 3px;
}
#event-detail .event-video #content:after {
  top: 0;
  right: 0;
  border-width: 3px 3px 0 0;
}
#event-detail .event-video #content > :first-child:before {
  bottom: 0;
  right: 0;
  border-width: 0 3px 3px 0;
}
#event-detail .event-video #content > :first-child:after {
  bottom: 0;
  left: 0;
  border-width: 0 0 3px 3px;
}
#event-detail .event-video .btn-register {
  color: #FFFFFF;
  font-size: 18px;
  margin-top: 20px;
  background-color: #7aa127;
  border-radius: 20px;
  padding: 6px 20px;
  font-family: OpenSans;
}
#event-detail .event-content {
  padding: 40px 0px;
  background-image: url('../../images/bgr web/event/bgr-01_02.jpg');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-color: #7aa127;
}
@media only screen and (max-width: 768px) {
  #event-detail .event-content {
    background-size: auto 100%;
    padding: 20px 0px;
  }
}
#event-detail .event-content .content {
  color: #eef0f1;
}
#event-detail .event-day {
  padding: 40px 0px;
  background-image: url('../../images/bgr web/event/bgr-00-02.jpg');
  background-position: initial;
  background-repeat: no-repeat;
  background-size: cover;
}
@media only screen and (max-width: 768px) {
  #event-detail .event-day {
    padding: 20px 0px;
    background-size: auto 100%;
  }
}
#event-detail .event-day .professionals {
  padding-bottom: 30px;
}
#event-detail .event-day #professionalsSlider .item {
  color: #FFFFFF;
}
#event-detail .event-day #professionalsSlider .item .professional-image {
  position: relative;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
#event-detail .event-day #professionalsSlider .item .full-name {
  padding-top: 10px;
  color: #7aa127;
  font-size: 20px;
}
#event-detail .event-day #professionalsSlider .item .description {
  color: #949293;
  padding: 10px;
}
#event-detail .event-day .lSAction .lSPrev {
  left: 0px;
}
#event-detail .event-day .lSAction .lSNext {
  right: 0px;
}
#event-detail .event-day .lSAction a {
  /*background-color: #c0c0c0;*/
  color: #7aa127;
  width: 24px;
  height: 32px;
  text-align: center;
  vertical-align: middle;
  top: 40%;
}
#event-detail .event-day .lSAction a i {
  font-size: 11px;
  padding-top: 12px;
  vertical-align: middle;
}
#event-detail .event-day .title {
  text-align: center;
}
#event-detail .event-day .days {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#event-detail .event-day .days .item {
  flex-basis: 44%;
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0px;
}
@media only screen and (max-width: 768px) {
  #event-detail .event-day .days .item {
    flex-basis: 100%;
  }
}
#event-detail .event-day .days .item .thumbnail-event {
  position: relative;
}
#event-detail .event-day .days .item .thumbnail-event .img-overlay {
  background: rgba(255, 255, 255, 0.25);
  opacity: 1;
}
#event-detail .event-day .days .item .thumbnail-event .content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10px;
  color: #eef0f1;
  padding: 10px;
  line-height: 23px;
  padding-bottom: 0px;
}
#event-detail .event-day .days .item .thumbnail-event .content .title {
  white-space: normal;
  margin-bottom: 0px;
  color: #eef0f1;
  font-size: 20px;
}
@media only screen and (max-width: 768px) {
  #event-detail .event-day .days .item .thumbnail-event .content .title {
    font-size: 16px;
  }
}
#event-detail .event-day .days .item .thumbnail-event .content hr {
  background-color: #eef0f1;
  margin-bottom: 10px;
}
#event-detail .event-day .days .item .thumbnail-event .content .description {
  white-space: normal;
}
#event-detail .sponsors {
  padding: 40px 0px;
  padding-bottom: 60px;
  background-image: url('../../images/bgr web/event/bgr-01_05.jpg');
  background-position: initial;
  background-repeat: no-repeat;
  background-size: cover;
}
@media only screen and (max-width: 768px) {
  #event-detail .sponsors {
    padding: 20px 0px;
    background-size: auto 100%;
  }
}
@media only screen and (max-width: 768px) {
  #event-detail .sponsors .titlebar {
    font-size: 18px;
  }
}
#event-detail .sponsors .lSAction .lSPrev {
  left: 0px;
}
#event-detail .sponsors .lSAction .lSNext {
  right: 0px;
}
#event-detail .sponsors .lSAction a {
  color: #FFFFFF;
  width: 24px;
  height: 32px;
  text-align: center;
  vertical-align: middle;
  top: 50%;
}
@media only screen and (max-width: 768px) {
  #event-detail .sponsors .lSAction a {
    top: 35%;
  }
}
#event-detail .sponsors .lSAction a i {
  font-size: 11px;
  padding-top: 12px;
  vertical-align: middle;
  color: #FFFFFF;
}
#event-detail .image-library {
  padding: 40px 0px;
  padding-bottom: 60px;
  background-image: url('../../images/bgr web/event/bgr-02.jpg');
  background-position: initial;
  background-repeat: no-repeat;
  background-size: cover;
}
@media only screen and (max-width: 768px) {
  #event-detail .image-library {
    padding: 20px 0px;
    background-size: auto 100%;
  }
}
#event-detail .image-library .titlebar {
  /*margin-bottom:0px;*/
}
#event-detail .image-library #image-library-silder .item {
  position: relative;
}
#event-detail .image-library #image-library-silder .item .thumbnail {
  margin-bottom: 10px;
  border: none;
  border-radius: unset;
  background-color: transparent;
  padding: 0px;
}
#event-detail .image-library #image-library-silder .item .selected a {
  border: 4px solid #7aa127 !important;
  /*z-index: 2000;*/
}
#event-detail .image-library #image-library-silder .item .selected a::after {
  font-family: FontAwesome;
  content: "\f0d7";
  color: #7aa127;
  position: absolute;
  left: 45%;
  bottom: -30px;
  font-size: 50px;
}
#event-detail .image-library .image-default {
  margin-top: 0px;
}
#event-detail .image-library .lSAction .lSPrev {
  left: 0px;
}
#event-detail .image-library .lSAction .lSNext {
  right: 0px;
}
#event-detail .image-library .lSAction a {
  background-color: #7aa127;
  color: #FFFFFF;
  width: 24px;
  height: 32px;
  text-align: center;
  vertical-align: middle;
  top: 50%;
}
@media only screen and (max-width: 768px) {
  #event-detail .image-library .lSAction a {
    top: 35%;
  }
}
#event-detail .image-library .lSAction a i {
  font-size: 11px;
  padding-top: 12px;
  vertical-align: middle;
  color: #FFFFFF;
}
#event-detail .register-form {
  background-image: url('../../images/bgr web/banner lien he-20.jpg');
  background-position: initial;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: #eef0f1;
  padding: 40px 0px;
}
@media only screen and (max-width: 768px) {
  #event-detail .register-form {
    background-size: auto 100%;
    padding: 10px 0px;
  }
}
#event-detail .register-form .content {
  background-color: rgba(42, 45, 54, 0.9);
  margin: 30px 0px;
  padding: 40px;
}
@media only screen and (max-width: 768px) {
  #event-detail .register-form .content {
    margin: 10px 0px;
    padding: 10px;
  }
}
@media only screen and (max-width: 768px) {
  #event-detail .register-form .content #contact_form {
    padding-top: 20px;
  }
}
#event-detail .register-form .content #contact_form .form-group {
  margin-bottom: 10px;
}
#event-detail .register-form .content #contact_form input,
#event-detail .register-form .content #contact_form textarea {
  background-color: transparent;
  border-radius: unset;
  color: #eef0f1 !important;
}
#event-detail .register-form .content #contact_form .list-event-day {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 768px) {
  #event-detail .register-form .content #contact_form .list-event-day {
    flex-direction: column;
    align-items: flex-start;
  }
}
#event-detail .register-form .content #contact_form .list-event-day ul {
  margin-bottom: 0px;
}
@media only screen and (max-width: 768px) {
  #event-detail .register-form .content #contact_form .list-event-day ul {
    display: flex;
    flex-direction: column;
  }
}
#event-detail .register-form .content #contact_form .list-event-day ul li {
  padding: 0px 10px;
  /*&:first-child {
                                padding-left: 5px;
                            }*/
}
@media only screen and (max-width: 768px) {
  #event-detail .register-form .content #contact_form .list-event-day ul li {
    padding-left: 5px;
  }
}
#event-detail .register-form .content #contact_form .list-event-day a {
  color: #eef0f1;
  font-size: 18px;
  font-family: OpenSans-Light;
}
#event-detail .register-form .content #contact_form .list-event-day a:hover,
#event-detail .register-form .content #contact_form .list-event-day a:active,
#event-detail .register-form .content #contact_form .list-event-day a:focus,
#event-detail .register-form .content #contact_form .list-event-day a:visited {
  text-decoration: none;
}
#event-detail .register-form .content #contact_form .submit {
  text-align: center;
}
#event-detail .register-form .content #contact_form .submit .btn-send-message {
  background-color: #7aa127;
  color: #FFFFFF;
  border-radius: 20px;
  text-transform: uppercase;
  font-size: 20px;
  padding: 8px 20px;
  transition: 0.3s ease-in-out;
  margin-top: 20px;
}
#event-detail .register-form .content #contact_form .submit .btn-send-message:hover {
  background-color: #7aa127;
}
#event-detail .register-form .content .title {
  margin-top: 0px;
  text-transform: uppercase;
  font-size: 24px;
  font-family: OpenSans-Bold;
}
#event-detail .register-form .content .description {
  line-height: 23px;
}
#event-detail .register-form .content .title-time {
  padding-top: 20px;
  margin-top: 0px;
  text-transform: uppercase;
  font-size: 18px;
}
#event-detail .register-form .content .times {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0px;
}
#event-detail .register-form .content .times ul li {
  padding: 15px;
  font-size: 20px;
  color: #7aa127;
  background-color: #FFFFFF;
  margin: 5px;
  border-radius: 3px;
  font-family: OpenSans-Bold;
  text-transform: uppercase;
}
@media only screen and (max-width: 768px) {
  #event-detail .register-form .content .times ul li {
    padding: 10px;
    font-size: 16px;
  }
}
#event-detail .register-form .content .address {
  text-align: center;
  font-size: 16px;
}
#event-detail .icon {
  text-align: center;
  color: #FFFFFF;
}
#event-detail .icon i {
  font-size: 50px;
}
#event-detail .titlebar {
  margin-top: 0px;
  margin-bottom: 30px;
  text-transform: uppercase;
  color: #FFFFFF;
  /*font-size: 20px;*/
}