@import "config.less";

.events {
    background-image: url('../../images/bgr web/bgr trang tin tuc_su kien-uu dai.jpg');
    background-position: initial;
    background-repeat: no-repeat;
    background-size: 100% auto;

    .event-item {
        width: 100%;
        display: block;
        overflow: hidden;

        .thumbnail-event {
            position: relative;

            img {
                border: 1px solid @main-color;
                width: 100%;
            }
        }

        .title-event-default {
            margin-top: 0px;
            margin-bottom: 0px;
            padding: 10px;
            padding-top: 0px;

            a {
                text-decoration: none;
                font-size: 22px;
                color: @main-color;

                @media @mobile {
                    font-size: 20px;
                }
            }
        }

        .title-event {
            margin-top: 0px;
            padding-top: 10px;
            font-size: 16px;
            min-height: 60px;

            @media @mobile {
                min-height: 60px;
            }

            a {
                text-decoration: none;
                color: @color-text;
            }
        }

        .description {
            padding: 10px;
            font-size: 16px;
            color: @color-text-opacity;
            padding-top: 0px;
            /*min-height:80px;*/
        }

        &:hover {
            a {
                color: @main-color;
            }
        }

        margin-bottom: 10px;
    }
}

#event-detail {
    .event-video {
        background-image: url('../../images/bgr web/event/bgr-03.jpg');
        background-size: cover;
        background-position: center;
        padding: 40px 0px;

        @media @mobile {
            padding: 20px 0px;
        }

        .titlebar {
            width: 40%;
            line-height: 30px;
            font-size: 24px;

            @media @mobile {
                width: 100%;
                font-size: 18px;
            }
        }

        .thumbnail-youtube {
            width: 60%;
            margin: auto;
            padding: 20px;

            @media @mobile {
                width: 100%;

                iframe {
                    height: 320px;
                }
            }
        }

        #content {
            position: relative
        }

        #content:before, #content:after, #content > :first-child:before, #content > :first-child:after {
            position: absolute;
            content: ' ';
            width: 40px;
            height: 40px;
            border-color: @color-white; /* or whatever colour */
            border-style: solid; /* or whatever style */
        }

        #content:before {
            top: 0;
            left: 0;
            border-width: 3px 0 0 3px
        }

        #content:after {
            top: 0;
            right: 0;
            border-width: 3px 3px 0 0
        }

        #content > :first-child:before {
            bottom: 0;
            right: 0;
            border-width: 0 3px 3px 0
        }

        #content > :first-child:after {
            bottom: 0;
            left: 0;
            border-width: 0 0 3px 3px
        }

        .btn-register {
            color: @color-white;
            font-size: 18px;
            margin-top: 20px;
            background-color: @main-color;
            border-radius: 20px;
            padding: 6px 20px;
            font-family: OpenSans;
        }
    }

    .event-content {
        padding: 40px 0px;
        background-image: url('../../images/bgr web/event/bgr-01_02.jpg');
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: 100% auto;
        background-color: @main-color;

        @media @mobile {
            background-size: auto 100%;
            padding: 20px 0px;
        }

        .content {
            color: @color-text-white;
        }
    }

    .event-day {
        padding: 40px 0px;
        background-image: url('../../images/bgr web/event/bgr-00-02.jpg');
        background-position: initial;
        background-repeat: no-repeat;
        background-size: cover;

        @media @mobile {
            padding: 20px 0px;
            background-size: auto 100%;
        }

        .professionals {
            padding-bottom: 30px;
        }

        #professionalsSlider {
            .item {
                color: @color-white;

                .professional-image {
                    position: relative;
                    background-color: white;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                .full-name {
                    padding-top: 10px;
                    color: @main-color;
                    font-size: 20px;
                }

                .description {
                    color: @color-text-opacity;
                    padding: 10px;
                }
            }
        }

        .lSAction {
            .lSPrev {
                left: 0px;
            }

            .lSNext {
                right: 0px;
            }

            a {
                /*background-color: #c0c0c0;*/
                color: @color-text;
                width: 24px;
                height: 32px;
                text-align: center;
                vertical-align: middle;
                top: 40%;

                i {
                    font-size: 11px;
                    padding-top: 12px;
                    vertical-align: middle;
                }
            }
        }

        .title {
            text-align: center;
        }

        .days {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            .item {
                flex-basis: 44%;
                overflow: hidden;
                white-space: nowrap;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 10px 0px;

                @media @mobile {
                    flex-basis: 100%;
                }

                .thumbnail-event {
                    position: relative;

                    .img-overlay {
                        background: rgba(255,255,255,.25);
                        opacity: 1;
                    }

                    .content {
                        position: absolute;
                        left: 0;
                        right: 0;
                        bottom: 10px;
                        color: @color-text-white;
                        padding: 10px;
                        line-height: 23px;
                        padding-bottom: 0px;

                        .title {
                            white-space: normal;
                            margin-bottom: 0px;
                            color: @color-text-white;
                            font-size: 20px;

                            @media @mobile {
                                font-size: 16px;
                            }
                        }

                        hr {
                            background-color: @color-text-white;
                            margin-bottom: 10px;
                        }

                        .description {
                            white-space: normal;
                        }
                    }
                }
            }
        }
    }

    .sponsors {
        padding: 40px 0px;
        padding-bottom: 60px;
        background-image: url('../../images/bgr web/event/bgr-01_05.jpg');
        background-position: initial;
        background-repeat: no-repeat;
        background-size: cover;

        #sponsorsSlider {
        }

        @media @mobile {
            padding: 20px 0px;
            background-size: auto 100%;
        }

        .titlebar {
            @media @mobile {
                font-size: 18px;
            }
        }

        .lSAction {
            .lSPrev {
                left: 0px;
            }

            .lSNext {
                right: 0px;
            }

            a {
                color: @color-white;
                width: 24px;
                height: 32px;
                text-align: center;
                vertical-align: middle;
                top: 50%;

                @media @mobile {
                    top: 35%;
                }

                i {
                    font-size: 11px;
                    padding-top: 12px;
                    vertical-align: middle;
                    color: @color-white;
                }
            }
        }
    }

    .image-library {
        padding: 40px 0px;
        padding-bottom: 60px;
        background-image: url('../../images/bgr web/event/bgr-02.jpg');
        background-position: initial;
        background-repeat: no-repeat;
        background-size: cover;

        @media @mobile {
            padding: 20px 0px;
            background-size: auto 100%;
        }

        .titlebar {
            /*margin-bottom:0px;*/
        }

        #image-library-silder {

            .item {
                position: relative;

                .thumbnail {
                    margin-bottom: 10px;
                    border: none;
                    border-radius: unset;
                    background-color: transparent;
                    padding: 0px;
                }

                .selected {
                    a {
                        border: 4px solid @main-color !important;
                        /*z-index: 2000;*/
                    }

                    a::after {
                        font-family: FontAwesome;
                        content: "\f0d7";
                        color: @main-color;
                        position: absolute;
                        left: 45%;
                        bottom: -30px;
                        font-size: 50px;
                    }
                }
            }
        }

        .image-default {
            margin-top: 0px;
        }

        .lSAction {
            .lSPrev {
                left: 0px;
            }

            .lSNext {
                right: 0px;
            }

            a {
                background-color: @color-text;
                color: @color-white;
                width: 24px;
                height: 32px;
                text-align: center;
                vertical-align: middle;
                top: 50%;

                @media @mobile {
                    top: 35%;
                }

                i {
                    font-size: 11px;
                    padding-top: 12px;
                    vertical-align: middle;
                    color: @color-white;
                }
            }
        }
    }

    .register-form {
        background-image: url('../../images/bgr web/banner lien he-20.jpg');
        background-position: initial;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        color: @color-text-white;
        padding: 40px 0px;

        @media @mobile {
            background-size: auto 100%;
            padding: 10px 0px;
        }

        .content {
            background-color: rgba(42,45,54,0.9);
            margin: 30px 0px;
            padding: 40px;

            @media @mobile {
                margin: 10px 0px;
                padding: 10px;
            }

            #contact_form {

                @media @mobile {
                    padding-top: 20px;
                }

                .form-group {
                    margin-bottom: 10px;
                }

                input, textarea {
                    background-color: transparent;
                    border-radius: unset;
                    color: @color-text-white !important;
                }

                .list-event-day {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    @media @mobile {
                        flex-direction: column;
                        align-items: flex-start;
                    }

                    ul {
                        margin-bottom: 0px;

                        @media @mobile {
                            display: flex;
                            flex-direction: column;
                        }

                        li {
                            padding: 0px 10px;
                            /*&:first-child {
                                padding-left: 5px;
                            }*/
                            @media @mobile {
                                padding-left: 5px;
                            }
                        }
                    }

                    a {
                        color: @color-text-white;
                        font-size: 18px;
                        font-family: OpenSans-Light;

                        &:hover, &:active, &:focus, &:visited {
                            text-decoration: none;
                        }
                    }
                }

                .submit {
                    text-align: center;

                    .btn-send-message {
                        background-color: @main-color;
                        color: @color-white;
                        border-radius: 20px;
                        text-transform: uppercase;
                        font-size: 20px;
                        padding: 8px 20px;
                        transition: 0.3s ease-in-out;
                        margin-top: 20px;

                        &:hover {
                            background-color: @main-color;
                        }
                    }
                }
            }

            .title {
                margin-top: 0px;
                text-transform: uppercase;
                font-size: 24px;
                font-family: OpenSans-Bold;
            }

            .description {
                line-height: 23px;
            }

            .title-time {
                padding-top: 20px;
                margin-top: 0px;
                text-transform: uppercase;
                font-size: 18px;
            }

            .times {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 10px 0px;

                ul {
                    li {
                        padding: 15px;
                        font-size: 20px;
                        color: @main-color;
                        background-color: @color-white;
                        margin: 5px;
                        border-radius: 3px;
                        font-family: OpenSans-Bold;
                        text-transform: uppercase;

                        @media @mobile {
                            padding: 10px;
                            font-size: 16px;
                        }
                    }
                }
            }

            .address {
                text-align: center;
                font-size: 16px;
            }
        }
    }

    .icon {
        text-align: center;
        color: @color-white;

        i {
            font-size: 50px;
        }
    }

    .titlebar {
        margin-top: 0px;
        margin-bottom: 30px;
        text-transform: uppercase;
        color: @color-white;
        /*font-size: 20px;*/
    }
}
