@font-face {
  font-family: 'Regular';
  src: url('../../lib/Font-Roboto/fa-regular-400.tff') format('truetype');
}
@font-face {
  font-family: 'Roboto-Bold';
  src: url('../../lib/font-roboto/roboto-bold_1.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto-Regular';
  src: url('../../lib/font-roboto/roboto-regular.ttf') format('truetype');
}
@font-face {
  font-family: 'VLALLROUNDGOTHIC-BOOK';
  src: url('../../lib/Font-Roboto/VLALLROUNDGOTHIC-BOOK.OTF') format('truetype');
}
@font-face {
  font-family: 'vlauthenticaregular';
  src: url('../../lib/font-roboto/VLAUTHENTICAREGULAR.OTF') format('truetype');
}
#footer {
  color: #FFFFFF;
  padding-bottom: 30px;
  padding-top: 30px;
  /*background-image: url('../../images/bgr-web/background-image/nen-pc_08.jpg');*/
  background-position: initial;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
@media only screen and (min-width: 1200px) {
  #footer .row {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media only screen and (max-width: 1200px) {
  #footer .container .col-sm-4 {
    text-align: center;
  }
}
@media only screen and (max-width: 1200px) {
  #footer {
    background-size: auto 100%;
  }
}
#footer .logo {
  margin: 10px 0px;
}
@media only screen and (max-width: 1200px) {
  #footer .logo {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
#footer .logo img {
  width: 160px;
}
@media only screen and (min-width: 1200px) {
  #footer #wrap-content-branch {
    border-right: 1px solid white;
    border-left: 1px solid white;
  }
}
#footer #wrap-content-branch .contact-info {
  list-style-type: none;
  color: #7aa127;
  padding-left: 0px;
  font-family: Roboto-Regular;
}
@media only screen and (min-width: 1200px) {
  #footer #wrap-content-branch .contact-info {
    padding: 0px 15px;
  }
}
#footer #wrap-content-branch .contact-info ul {
  list-style-type: none;
  padding-left: 0px;
}
@media only screen and (max-width: 1200px) {
}
#footer #wrap-content-branch .contact-info ul .branch {
  background-image: linear-gradient(to right, #ffffff, rgba(255, 0, 0, 0));
}
#footer #wrap-content-branch .contact-info ul .branch h6 {
  font-size: 22px !important;
  color: green !important;
  font-family: Roboto-Regular;
}
#footer #wrap-content-branch .contact-info ul li {
  padding: 3px 2px;
  color: #eef0f1;
  font-size: 16px !important;
  font-family: Roboto-Regular;
  font-size: 14px;
}
#footer #wrap-content-branch .contact-info ul li i {
  padding-right: 5px;
}
#footer #wrap-content-branch .contact-info ul li i:before {
  padding-left: 2px;
}
#footer #wrap-content-branch .contact-info ul li a {
  color: #eef0f1;
  font-size: 16px !important;
}
#footer #wrap-content-branch .contact-info ul li a:hover {
  text-decoration: none;
}
#footer .social-info {
  font-family: Roboto-Regular;
}
@media only screen and (min-width: 1200px) {
  #footer .social-info {
    padding-left: 25px;
  }
}
@media only screen and (max-width: 1200px) {
  #footer .social-info {
    text-align: center;
  }
}
#footer .social-info .hotline {
  font-size: 21px !important;
}
#footer .social-info .hotline-value {
  font-size: 37px !important;
}
#footer .social-info .btn-scocial i {
  color: #686868;
  border-radius: 50%;
  background: white;
  font-size: 32px;
}
#footer .social-info .btn-scocial .fa-facebook {
  padding: 6px 13px;
}
#footer .social-info .btn-scocial .fa-linkedin {
  padding: 6px 9px;
}
#footer .social-info .btn-scocial .fa-twitter {
  padding: 6px 8px;
}
#footer .social-info .btn-scocial .fa-google-plus {
  padding: 6px 3px;
}
#footer .social-info .btn-scocial .fa-youtube {
  padding: 5px 8px;
}
#footer .btn-send-message {
  text-align: center;
  background-color: #7aa127;
  font-family: Roboto-Regular;
  font-size: 20px;
  width: 175px;
  height: 45px;
  border-radius: 15px;
  margin-left: 5%;
  border: none;
  margin-top: 20px;
  /*@media @tablet {
            margin-left: 35%;
        }*/
}
#footer .btn-send-message:hover {
  color: grey;
  opacity: 0.6;
  transform: inherit;
}
@media only screen and (max-width: 1200px) {
  #footer .btn-message {
    width: 100%;
    text-align: center;
  }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  #footer .btn-message {
    width: 100%;
    text-align: center;
  }
}
#myModal {
  color: black !important;
  font-family: Roboto-Regular;
  font-size: 20px;
}
#myModal .modal-title {
  text-align: center;
  text-transform: uppercase;
  font-size: 22px;
  color: #5b7222;
}
#myModal .message .submit {
  text-align: center;
}
#myModal .message .form-group {
  margin-top: 10px;
}
.footer-bottom {
  background-color: #5b7222;
}
.footer-bottom .brand {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.footer-bottom .brand .list-items {
  padding: 0px 20px;
  flex-basis: 10%;
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 1200px) {
  .footer-bottom .brand .list-items {
    padding: 0px 5px;
    flex-basis: 25%;
  }
}
.copy-right {
  text-align: center;
  min-height: 45px;
  font-size: 15px;
  line-height: 40px;
  color: #eef0f1;
  background-color: #5b7222;
}