@font-face {
  font-family: 'Regular';
  src: url('../../lib/Font-Roboto/fa-regular-400.tff') format('truetype');
}
@font-face {
  font-family: 'Roboto-Bold';
  src: url('../../lib/Font-Roboto/Roboto-Bold_1.tff') format('truetype');
}
@font-face {
  font-family: 'Roboto-Regular';
  src: url('../../lib/Font-Roboto/Roboto-Regular.tff') format('truetype');
}
@font-face {
  font-family: 'VLALLROUNDGOTHIC-BOOK';
  src: url('../../lib/Font-Roboto/VLALLROUNDGOTHIC-BOOK.otf') format('truetype');
}
@font-face {
  font-family: 'vlauthenticaregular';
  src: url('../../lib/font-roboto/vlauthenticaregular.otf') format('opentype');
}
.navbar-fixed-top {
  background-color: #7aa127;
  border-bottom: none;
  transition: background-color 2s ease-out;
}
@media only screen and (max-width: 768px) {
  .navbar-fixed-top {
    /*top: 15px;*/
  }
}
/*.scroll-fixed-navbar {
    background-color: @main-color;
    border-bottom: 1px solid #222;
}*/
.header-top {
  height: 45px;
}
.header-top .nav-header {
  padding-top: 7px;
  padding-left: 0px;
  display: flex;
  height: auto;
  align-items: center;
  justify-content: center;
  float: unset;
  text-align: center;
  transition: 0.5s ease;
  font-size: 18px;
  color: #7aa127;
  font-family: VLALLROUNDGOTHIC-BOOK;
}
.header-top .nav-header .nav-left {
  margin-right: 20%;
  /*padding: 10px;*/
}
.header-top .nav-header .nav-right i {
  margin-right: 5px;
}
.header-bottom .navbar-inverse {
  background-image: url('../../images/BGR-web/Background-Image/Nen-PC_02.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 20px;
  margin-top: 0px !important;
  font-family: VLALLROUNDGOTHIC-BOOK;
  border: none;
}
@media only screen and (min-width: 768px) {
  .header-bottom .navbar-inverse {
    height: 110px;
  }
}
@media only screen and (max-width: 768px) {
  .header-bottom .navbar-inverse .container {
    padding: 0px !important;
    margin: 0px !important;
  }
  .header-bottom .navbar-inverse .container a img {
    margin-left: 10px;
    width: 50px;
  }
  .header-bottom .navbar-inverse .container button {
    margin-top: 25px;
  }
}
@media only screen and (max-width: 768px) {
  .header-bottom .navbar-inverse {
    min-height: 110px;
    background-image: url('../../images/BGR-web/Background-Image/Nen Mobile.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border: none !important;
  }
}
.header-bottom .navbar-inverse .navbar-toggle {
  border: 1px solid white;
}
.header-bottom .navbar-inverse .navbar-toggle:hover {
  background: none;
}
@media only screen and (max-width: 768px) {
  .header-bottom .navbar-inverse .navbar-collapse {
    width: 100%;
    margin: 0px;
  }
}
.header-bottom nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 10px !important;
  margin-bottom: 0px;
  border-radius: unset;
  /* Main Nav */
  /*text-align: center;*/
  z-index: 1030;
}
@media only screen and (max-width: 768px) {
  .header-bottom nav {
    flex-direction: column;
    display: block;
    margin: 0px !important;
    width: 100%;
    /*height: 100%;*/
  }
}
@media only screen and (max-width: 768px) {
  .header-bottom nav .navbar-nav {
    margin: 0px !important;
  }
}
.header-bottom nav .navbar-collapse {
  padding-left: 0px;
  padding-right: 0px;
  border-color: #7aa127 !important;
}
@media only screen and (max-width: 768px) {
  .header-bottom nav .navbar-collapse {
    border: none !important;
    max-height: 120%;
    overflow-y: scroll;
    width: 100%;
    /*width: 80%;*/
    float: right;
    background-color: transparent;
  }
}
@media only screen and (max-width: 768px) {
  .header-bottom nav .navbar-collapse ul {
    width: 100%;
  }
}
.header-bottom nav .navbar-collapse ul li {
  font-size: 20px;
}
@media only screen and (min-width: 768px) {
  .header-bottom nav .navbar-collapse ul li {
    margin-left: 20px;
    padding-top: 35px;
  }
  .header-bottom nav .navbar-collapse ul li a {
    color: #eef0f1;
    line-height: 30px;
    padding: 0px 15px;
  }
  .header-bottom nav .navbar-collapse ul li a:hover,
  .header-bottom nav .navbar-collapse ul li a :focus,
  .header-bottom nav .navbar-collapse ul li a :active {
    border: 1px solid #FFFFFF !important;
    border-radius: 24px;
    -moz-border-radius: 24px;
  }
}
@media only screen and (max-width: 768px) {
  .header-bottom nav .navbar-collapse ul li a {
    width: 90%;
    margin-left: 5%;
    border-bottom: 1px solid #FFFFFF;
    color: #eef0f1;
  }
}
.header-bottom nav .navbar-collapse ul li .list-social-network {
  margin-top: 15px;
  margin-left: 20%;
  margin-right: 20%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}
.header-bottom nav .navbar-collapse ul li .list-social-network .list-items a {
  border: none !important;
}
.header-bottom nav .navbar-collapse ul li .list-social-network .list-items a i {
  display: inline-block;
  border-radius: 60px;
  box-shadow: 0px 0px 2px #888;
  padding: 0.5em 0.6em;
  background-color: #eef0f1;
  color: #7aa127;
}
.header-bottom nav .navbar-collapse ul li.open a {
  background-color: rgba(0, 0, 0, 0) !important;
  border-bottom: 1px solid #FFFFFF;
}
@media only screen and (min-width: 768px) {
  .header-bottom nav .navbar-collapse ul li.open a {
    border: 1px solid #FFFFFF !important;
    border-radius: 24px;
    -moz-border-radius: 24px;
    background-color: rgba(0, 0, 0, 0) !important;
  }
}
@media only screen and (max-width: 768px) {
  .header-bottom nav .navbar-collapse ul li.open a .fa-angle-down {
    display: none !important;
  }
  .header-bottom nav .navbar-collapse ul li.open a .fa-angle-up {
    display: block !important;
  }
}
@media only screen and (min-width: 768px) {
  .header-bottom nav .navbar-collapse ul li .active {
    border: 1px solid #FFFFFF !important;
    border-radius: 24px;
    -moz-border-radius: 24px;
  }
}
@media only screen and (min-width: 768px) {
  .header-bottom nav .navbar-collapse ul li:hover .dropdown-menu {
    display: block;
    position: absolute;
    opacity: 1;
    top: 100%;
    background-color: #7aa127 !important;
  }
  .header-bottom nav .navbar-collapse ul li:hover .dropdown-menu li {
    margin: 0px;
    padding: 0px;
  }
  .header-bottom nav .navbar-collapse ul li:hover .dropdown-menu li a {
    border: none !important;
    background-color: rgba(0, 0, 0, 0) !important;
    border-radius: unset;
  }
  .header-bottom nav .navbar-collapse ul li:hover .dropdown-menu li:hover {
    color: #FFFFFF;
  }
  .header-bottom nav .navbar-collapse ul li:hover .dropdown-menu li:hover a {
    -webkit-transition: all 300ms linear;
    border-bottom: 1px solid #FFFFFF !important;
  }
}
.header-bottom nav .navbar-collapse ul li .dropdown-menu {
  position: absolute;
  opacity: 1;
  top: 100%;
}
@media only screen and (min-width: 768px) {
  .header-bottom nav .navbar-collapse ul li .dropdown-menu {
    background: #7aa127 !important;
  }
}
@media only screen and (max-width: 768px) {
  .header-bottom nav .navbar-collapse ul li .dropdown-menu {
    position: static;
  }
}
.header-bottom nav .navbar-collapse ul li .dropdown-menu li {
  margin: 0px;
  padding: 0px;
}
.header-bottom nav .navbar-collapse ul li .dropdown-menu li a {
  color: #FFFFFF !important;
  border: none !important;
  border-radius: unset;
}
.header-bottom nav .navbar-collapse ul li .dropdown-menu li:hover {
  color: #FFFFFF;
}
.header-bottom nav .navbar-collapse ul li .dropdown-menu li:hover a {
  -webkit-transition: all 300ms linear;
  border-bottom: 1px solid #FFFFFF !important;
}
.header-bottom nav .header-tool {
  padding-top: 20px;
}
.header-bottom nav .header-tool .btn-group a {
  color: #7aa127;
}
.header-bottom nav .header-tool .btn-group a:hover,
.header-bottom nav .header-tool .btn-group a :focus,
.header-bottom nav .header-tool .btn-group a :active {
  text-decoration: none !important;
}