@import "config.less";
@color-text-header: #F4E8E9;

.navbar-fixed-top {
    background-color: @main-color;
    border-bottom: none;
    transition: background-color 2s ease-out;
    @media @mobile {
        /*top: 15px;*/
    }
}

/*.scroll-fixed-navbar {
    background-color: @main-color;
    border-bottom: 1px solid #222;
}*/

.header-top {
    height: 45px;
    span {
        padding-top: 11px;
        padding-left: 0px;
        display: flex;
        height: auto;
        align-items: center;
        float: unset;
        text-align: center;
        transition: 0.5s ease;
        font-size: 18px;
        color: @color-text;
        font-family: VLALLROUNDGOTHIC-BOOK;

        i {
            margin-right: 5px;
        }
    }
}

.header-bottom {
    .navbar-inverse {
        background-image: url('../../images/BGR-web/Background-Image/Nen-PC_02.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        font-size: 20px;
        margin-top: 0px !important;
        font-family: VLALLROUNDGOTHIC-BOOK;
        box-shadow: 0 8px 6px -6px #888;

        @media @not_mobile {
            height: 110px;
        }

        .wrap {
            display: flex;
            align-items: center;
            width: 100%;
            margin-left: 20%;
            @media @mobile {
                display: block;
            }

            .navbar-brand {
                padding: 0px !important;
                display: flex;
                align-items: center;
                flex: 1 0 0;
                max-width: 5%;
                @media @mobile {
                    max-width: 100%;
                    display: block;
                }
            }
        }

        .container {
            @media @mobile {
                margin: 0px !important;

                a {
                    img {
                        margin: 10px 0px 0px 5px !important;
                        width: 60px;
                    }
                }

                button {
                    margin-top: 20px;

                    .icon-bar {
                        width: 30px;
                        height: 5px;
                    }
                }
            }
        }

        border: none;

        @media @mobile {
            min-height: 90px;
            background-image: url('../../images/BGR-web/Background-Image/Nen Mobile.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            border: none !important;
            text-transform: uppercase;
        }

        .navbar-toggle {
            border: 1px solid white;

            &:hover {
                background: none;
            }
        }

        .navbar-collapse {
            @media @mobile {
                width: 100%;
                margin: 0px;
            }
        }
    }

    nav {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: row;
        margin-top: 10px !important;
        margin-bottom: 0px;
        border-radius: unset;

        @media @mobile {
            flex-direction: column;
            display: block;
            margin: 0px !important;
            width: 100%;
            /*height: 100%;*/
        }

        .navbar-nav {
            display: flex;
            align-items: center;

            @media @mobile {
                display: block;
                margin: 0px !important;
            }
        }

        .navbar-collapse {
            padding-left: 0px;
            padding-right: 0px;
            border-color: @main-color !important;

            @media @mobile {
                border: none !important;
                max-height: 120%;
                overflow-y: scroll;
                width: 100%;
                /*width: 80%;*/
                float: right;
                background-color: transparent;
                margin-top: 20px !important;
            }

            ul {
                @media @mobile {
                    width: 100%;
                }

                li {
                    font-size: 20px;

                    @media @not_mobile {
                        margin-left: 20px;

                        a {
                            text-transform: uppercase;
                            color: @color-text-white;
                            line-height: 30px;
                            padding: 0px 10px;

                            &:hover, :focus, :active {
                                border: 1px solid @color-white !important;
                                border-radius: 24px;
                                -moz-border-radius: 24px;
                            }
                        }
                    }

                    @media @mobile {
                        a {
                            width: 90%;
                            margin-left: 5%;
                            border-bottom: 1px solid @color-white;
                            color: @color-text-white;
                        }
                    }

                    .list-social-network {
                        margin-top: 15px;
                        margin-left: 20%;
                        margin-right: 20%;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        margin-bottom: 15px;

                        .list-items {
                            a {
                                border: none !important;

                                i {
                                    display: inline-block;
                                    border-radius: 60px;
                                    box-shadow: 0px 0px 2px #888;
                                    padding: 0.5em 0.6em;
                                    background-color: @color-text-white;
                                    color: @main-color;

                                    &.fa-facebook {
                                        padding: 10px 15px;
                                    }

                                    &.fa-linkedin {
                                        padding: 10px 13px;
                                    }

                                    &.fa-twitter {
                                        padding: 10px 13px;
                                    }

                                    &.fa-google-plus {
                                        padding: 10px 9px;
                                    }

                                    &.fa-youtube {
                                        padding: 10px 13px;
                                    }
                                }
                            }
                        }
                    }

                    &.open {
                        a {
                            background-color: rgba(0,0,0,0) !important;
                            border-bottom: 1px solid @color-white;

                            @media @not_mobile {
                                border: 1px solid @color-white !important;
                                border-radius: 24px;
                                -moz-border-radius: 24px;
                                background-color: rgba(0,0,0,0) !important;
                            }

                            @media @mobile {
                                .fa-angle-down {
                                    display: none !important;
                                }

                                .fa-angle-up {
                                    display: block !important;
                                }
                            }
                        }
                    }

                    .active {
                        @media @not_mobile {
                            border: 1px solid @color-white !important;
                            border-radius: 24px;
                            -moz-border-radius: 24px;
                        }
                    }

                    @media @not_mobile {
                        &:hover {
                            .dropdown-menu {
                                display: block;
                                position: absolute;
                                opacity: 1;
                                top: 100%;
                                background-color: @main-color !important;
                                padding-top: 0px !important;
                               
                                li {
                                    margin: 0px;

                                    a {
                                        padding: 5px 5px !important;
                                        border: none !important;
                                        background-color: rgba(0,0,0,0) !important;
                                        border-radius: unset;
                                        font-size: 18px !important;
                                    }

                                    &:hover {
                                        color: @color-white;
                                        /*-webkit-transition: all 300ms linear;*/
                                        border-bottom: 1px solid @color-white !important;
                                        padding-bottom: 2px;
                                    }
                                }
                            }
                        }
                    }

                    .dropdown-menu {
                        position: absolute;
                        opacity: 1;
                        top: 100%;
                        padding-top: 0px;
                        list-style: none;
                        /*display: none;*/
                        width: 100%;
                        position: static;
                        top: 0;
                        left: 0;
                        text-align: left;
                        min-width: 300px;
                        padding-left: 0;
                        -webkit-transition-property: opacity,top;
                        transition-property: opacity,top;
                        -webkit-transition-duration: .5s;
                        transition-duration: .5s;
                        z-index: 1030;
                        top: 100%;
                        margin-top: 1px;
                        padding-bottom: 10px;

                        @media @not_mobile {
                            background: @main-color !important;
                        }

                        @media @mobile {
                            position: static;
                            background-color: none;
                        }

                        li {
                            margin: 0px;
                            padding: 0px 10px;

                            @media @mobile {
                                padding: 3px 0px !important;
                            }

                            a {
                                color: @color-white !important;
                                border: none !important;
                                border-radius: unset;
                                font-family: VLALLROUNDGOTHIC-BOOK;
                                cursor:pointer;
                            }
                            /*&:hover {
                                color: @color-white;

                                a {
                                    -webkit-transition: all 300ms linear;
                                    border-bottom: 1px solid @color-white !important;
                                }
                            }*/
                        }
                    }
                }
            }
        }
        /* Main Nav */
        /*text-align: center;*/
        z-index: 1030;

        .header-tool {
            position: absolute;
            right: 0;
            padding-top: 30px;
            padding-right: 10px;

            .btn-group {
                a {
                    font-size: 16px;

                    &:hover, :focus, :active {
                        text-decoration: none !important;
                    }

                    color: @main-color;
                }
            }
        }
    }
}
