@font-face {
  font-family: 'Regular';
  src: url('../../lib/Font-Roboto/fa-regular-400.tff') format('truetype');
}
@font-face {
  font-family: 'Roboto-Bold';
  src: url('../../lib/font-roboto/roboto-bold_1.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto-Regular';
  src: url('../../lib/font-roboto/roboto-regular.ttf') format('truetype');
}
@font-face {
  font-family: 'VLALLROUNDGOTHIC-BOOK';
  src: url('../../lib/Font-Roboto/VLALLROUNDGOTHIC-BOOK.OTF') format('truetype');
}
@font-face {
  font-family: 'vlauthenticaregular';
  src: url('../../lib/font-roboto/VLAUTHENTICAREGULAR.OTF') format('truetype');
}
#backToTop {
  bottom: 20px;
  position: fixed;
  right: 25px;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 45px;
  opacity: 0.8;
  color: #fff;
}
#backToTop:hover {
  background-color: #609930;
}
#news-slider {
  margin-top: 40px;
  position: relative;
}
#news-slider .owl-dots {
  position: absolute;
}
#news-slider .item .wrap-item {
  overflow: hidden;
  border: 1px solid transparent;
  /*width: 258px !important;
            height: 290px;*/
  /*position: relative;*/
  background: linear-gradient(to right, #B78114 0%, #FDED98 70%, #B78114 100%);
  /*&:hover {
                    img {
                        visibility: hidden;
                    }
                    width: 100%;
                    background-color: #931c1f;
                    opacity: 0.9;
                    text-decoration: none; 
            }*/
}
#news-slider .item .wrap-item img {
  /*width: 258px !important;
                height: 290px;*/
  padding: 1px 2px 0px 2px;
  margin: 0 auto;
}
#news-slider .item .wrap-item .title {
  text-align: center;
  height: 75px;
  line-height: 75px;
}
#news-slider .item .wrap-item .title .slide-description {
  text-decoration: none;
  cursor: pointer;
  width: 100%;
  /*height: 75px;*/
  text-transform: uppercase;
  font-family: VLALLROUNDGOTHIC-BOOK;
  font-size: 20px;
  color: #609930;
  /*position: absolute;*/
  z-index: 9999;
  bottom: 0px;
  text-align: center;
  /*background-image: linear-gradient(to right, #f8a102 0%, #f9e0b2 50%, #f8a102 100%);*/
}
#news-slider:hover .ISAction {
  display: block;
}
.lSAction .lSPrev {
  position: absolute;
  top: 50%;
  left: -60px;
  margin-top: -20px;
  color: #609930;
  font-size: 40px !important;
  height: 40px;
  line-height: 40px;
  width: 40px;
}
.lSAction .lSPrev:hover {
  color: #FFFFFF;
}
.lSAction .lSNext {
  position: absolute;
  top: 50%;
  right: -60px;
  margin-top: -20px;
  color: #609930;
  font-size: 40px !important;
  height: 40px;
  line-height: 40px;
  width: 40px;
}
.lSAction .lSNext:hover {
  color: #FFFFFF;
}
#hotline {
  bottom: 150px;
  position: fixed;
  right: 25px;
  z-index: 1000;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 45px;
}
#myCarousel .owl-stage-outer {
  /*@media @mobile {
            max-height: 250px;
        }
        @media @tablet {
            max-height: 400px;
        }*/
}
#myCarousel .active .item a {
  font-size: 40px;
  height: 40px;
  width: 40px;
}
#myCarousel .active .item a img {
  /*max-height: 600px;*/
  margin-left: auto;
  margin-right: auto;
  height: auto;
  object-fit: cover;
  display: block;
  /*-webkit-animation: zoomin 18s ease-in infinite;
                    animation: zoomin 18s ease-in infinite;
                    transition: all 1s ease-in-out;*/
  overflow: hidden;
}
@media only screen and (max-width: 1200px) {
  #myCarousel .active .item a img {
    max-height: unset;
  }
}
#myCarousel img {
  max-height: 600px;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  display: block;
}
@media only screen and (max-width: 1200px) {
  #myCarousel img {
    max-height: unset;
  }
}
#myCarousel .fa-angle-left {
  left: 50%;
}
#myCarousel .fa-angle-right {
  right: 50%;
}
#myCarousel .owl-dots {
  text-align: center;
  margin-top: 10px;
}
#myCarousel .owl-dots .owl-dot {
  padding: 0 2px !important;
}
#myCarousel .owl-dots .owl-dot span {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 1px;
  text-indent: -999px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #609930;
  border-radius: 12px;
  font-size: 12px;
}
#myCarousel .owl-dots .owl-dot span:focus {
  border: none !important;
}
#myCarousel .owl-dots .active {
  border: none;
}
#myCarousel .owl-dots .active span {
  background-color: #609930;
}
#message {
  bottom: 80px;
  position: fixed;
  right: 25px;
  z-index: 1000;
  border-radius: 4px;
  height: 40px;
  width: 40px;
  line-height: 45px;
}
#about {
  background-image: url('../../images/bgr-web/background-image/nen-pc_04.jpg');
  background-repeat: repeat;
  background-size: cover;
  height: 260px;
}
@media only screen and (max-width: 1200px) {
  #about {
    max-height: 160px;
  }
}
#about .container {
  padding-top: 65px;
}
@media only screen and (max-width: 1200px) {
  #about .container {
    padding-top: 20px;
  }
}
#about .container .row {
  text-align: center;
  color: #609930;
}
#about .container .row .titlebar {
  text-transform: uppercase;
  font-family: VLALLROUNDGOTHIC-BOOK;
}
@media only screen and (max-width: 1200px) {
  #about .container .row .titlebar {
    font-size: 22px;
  }
}
#about .container .row .content {
  font-family: vlauthenticaregular !important;
}
@media only screen and (min-width: 1200px) {
  #about .container .row .content {
    font-size: 32px;
  }
}
@media only screen and (max-width: 1200px) {
  #about .container .row .content p span {
    font-size: 18px !important;
  }
}
#news-hot {
  background-image: url('../../images/bgr-web/background-image/nen-pc_05.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 40px;
  padding-bottom: 80px;
}
@media only screen and (min-width: 1200px) {
  #news-hot {
    /*height: 605px;*/
  }
}
@media only screen and (max-width: 1200px) {
  #news-hot {
    padding-bottom: 20px;
    padding-top: 0px;
  }
}
@media only screen and (max-width: 1200px) {
  #news-hot .container {
    padding-top: 15px;
  }
}
#news-hot .container .row {
  color: #eef0f1;
  text-align: center;
}
#news-hot .container .row .titlebar {
  color: #eef0f1;
  text-align: center;
  text-transform: uppercase;
  font-family: VLALLROUNDGOTHIC-BOOK;
}
@media only screen and (max-width: 1200px) {
  #news-hot .container .row .titlebar {
    font-size: 22px;
  }
}
#news-hot .container .row .titlebar:before,
#news-hot .container .row .titlebar:after {
  width: 5%;
  height: 2px;
  background: #eef0f1;
  content: '';
  display: inline-block;
  color: white;
  top: -10px;
  position: relative;
  margin: 0px 15px;
}
@media only screen and (max-width: 1200px) {
  #news-hot .container .row .titlebar:before {
    width: 8%;
    height: 2px;
    background: #eef0f1;
    content: '';
    display: inline-block;
    color: white;
    top: -5px;
    position: relative;
    margin: 0px 5px 0px 0px;
  }
  #news-hot .container .row .titlebar:after {
    width: 8%;
    height: 2px;
    background: #eef0f1;
    content: '';
    display: inline-block;
    color: white;
    top: -5px;
    position: relative;
    margin: 0px 0px 0px 5px;
  }
}
#news-hot .container .row .descriptionbar {
  font-family: vlauthenticaregular;
}
@media only screen and (max-width: 1200px) {
  #news-hot .container .row .descriptionbar {
    font-size: 18px !important;
  }
}
#news-hot .container .row .wrap-hr {
  padding-top: 15px;
}
#news-hot .container .item-hot .item {
  background-image: linear-gradient(to right, #B78114 0%, #FDED98 70%, #B78114 100%);
  font-size: 18px;
  font-family: VLALLROUNDGOTHIC-BOOK;
  color: #609930;
  margin-top: 15px;
}
#news-hot .container .item-hot .item img {
  border: 1px solid transparent;
}
@media only screen and (max-width: 1200px) {
  #news-hot .container .item-hot .item img {
    min-width: 100%;
  }
}
#news-hot .container .item-hot .item .text-description {
  color: #609930;
  width: 100%;
  max-height: 75px;
  background: linear-gradient(to right, #B78114 0%, #FDED98 70%, #B78114 100%);
  overflow: hidden;
  text-align: center;
  cursor: pointer;
}
@media only screen and (max-width: 1200px) {
  #news-hot .container .item-hot .item .text-description {
    display: inline-grid;
    height: 50px;
    line-height: 50px;
  }
}
#news-introduce {
  background-image: url('../../images/bgr-web/background-image/nen-pc_06.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 40px;
  padding-bottom: 60px;
  margin-bottom: 10px;
  color: #609930;
  text-align: center;
}
@media only screen and (min-width: 1200px) {
  #news-introduce {
    /*height: 610px;*/
  }
}
#news-introduce .titlebar {
  color: #609930;
  text-align: center;
  text-transform: uppercase;
  font-family: VLALLROUNDGOTHIC-BOOK;
}
#news-introduce .titlebar:before,
#news-introduce .titlebar:after {
  width: 5%;
  height: 2px;
  background: #609930;
  content: '';
  display: inline-block;
  color: white;
  top: -10px;
  position: relative;
  margin: 0px 15px;
}
@media only screen and (max-width: 1200px) {
  #news-introduce .titlebar:before {
    width: 8%;
    height: 2px;
    background: #609930;
    content: '';
    display: inline-block;
    color: white;
    top: -5px;
    position: relative;
    margin: 0px 5px 0px 0px;
  }
  #news-introduce .titlebar:after {
    width: 8%;
    height: 2px;
    background: #609930;
    content: '';
    display: inline-block;
    color: white;
    top: -5px;
    position: relative;
    margin: 0px 0px 0px 5px;
  }
}
#news-introduce .descriptionbar {
  font-family: vlauthenticaregular;
}
#news-introduce .wrap-hr {
  padding-top: 15px;
}
#news-introduce .wrap-hr hr {
  background-color: #609930;
  height: 2px;
}
@media only screen and (min-width: 1200px) {
  #news-introduce .wrap-item {
    /*margin: 0 15%;*/
  }
}
#news-introduce .wrap-item .item {
  text-align: center;
}
#news-introduce .wrap-item .item .wrap-image {
  background: #609930;
  border-radius: 30px 20px;
  /*padding: 0px 1px 2px 10px;*/
}
@media only screen and (max-width: 1200px) {
  #news-introduce .wrap-item .item .wrap-image {
    border-radius: 20px 10px !important;
    padding: 0px 1px 2px 5px;
  }
}
@media only screen and (min-width: 1200px) {
  #news-introduce .wrap-item .item .wrap-image {
    /*width: 280px;
                    height: 280px;*/
  }
}
#news-introduce .wrap-item .item .wrap-image img {
  border: 1px solid #609930;
  width: 100%;
  border-radius: 10px;
}
@media only screen and (min-width: 1200px) {
  #news-introduce .wrap-item .item .wrap-image img {
    /*width: 270px;
                        height: 270px;*/
  }
}
#news-introduce .wrap-item .item .wrap-text {
  margin-top: 15px;
}
#news-introduce .wrap-item .item .wrap-text a {
  text-decoration: none;
  color: #609930;
  font-family: VLALLROUNDGOTHIC-BOOK;
  font-size: 18px;
  text-transform: uppercase;
}
@media only screen and (max-width: 1200px) {
  #news-introduce .wrap-item .item .wrap-text {
    height: 50px;
    overflow: hidden;
    margin-top: 5px !important;
  }
}
#news-introduce #middle-menu-slide {
  /*margin-left: 15%;*/
  margin-top: 50px;
}
#news-introduce #middle-menu-slide .item {
  text-align: center;
  margin-top: 10px;
  min-height: 300px;
}
#news-introduce #middle-menu-slide .item .wrap-image {
  background: #609930;
  border-radius: 23px 15px;
  padding: 0px 1px 2px 10px;
}
@media only screen and (max-width: 1200px) {
  #news-introduce #middle-menu-slide .item .wrap-image {
    border-radius: 20px 10px !important;
    padding: 0px 1px 2px 5px;
  }
}
@media only screen and (min-width: 1200px) {
  #news-introduce #middle-menu-slide .item .wrap-image {
    /*width: 280px;
                    height: 280px;*/
  }
}
#news-introduce #middle-menu-slide .item .wrap-image img {
  border: 1px solid #609930;
  border-radius: 10px;
}
@media only screen and (min-width: 1200px) {
  #news-introduce #middle-menu-slide .item .wrap-image img {
    /*width: 270px;
                        height: 270px;*/
  }
}
#news-introduce #middle-menu-slide .item .wrap-text {
  width: 100%;
  margin-top: 5px;
  overflow: hidden;
}
#news-introduce #middle-menu-slide .item .wrap-text a {
  text-decoration: none;
  color: #609930;
  font-family: VLALLROUNDGOTHIC-BOOK;
  font-size: 18px;
  text-transform: uppercase;
}
@media only screen and (max-width: 1200px) {
  #news-introduce #middle-menu-slide .item .wrap-text {
    margin-top: 5px !important;
  }
}
.news-angency {
  background-image: url('../../images/bgr web/trang chu/image-05.jpg');
  background-position: initial;
  background-repeat: no-repeat;
  background-size: cover;
}
@media only screen and (max-width: 1200px) {
  .news-angency {
    background-image: none;
  }
}
.news-angency #wrap-subintroduce {
  background-color: #ededed;
}
@media only screen and (min-width: 1200px) {
  .news-angency #wrap-subintroduce {
    height: 580px;
  }
}
@media only screen and (min-width: 1200px) {
  .news-angency #wrap-subintroduce .wrap-content {
    margin: 0 15%;
  }
}
@media only screen and (min-width: 1200px) {
  .news-angency #wrap-subintroduce .wrap-content #video {
    border-right: 1px solid #609930;
    padding-left: 50px;
    margin-top: 80px;
    padding-bottom: 30px;
  }
}
@media only screen and (max-width: 1200px) {
  .news-angency #wrap-subintroduce .wrap-content #video {
    margin: 0px !important;
    padding: 0px !important;
  }
}
@media only screen and (max-width: 1200px) {
  .news-angency #wrap-subintroduce .wrap-content #video #wrap-content-video {
    margin: 0px !important;
    padding: 0px !important;
  }
}
@media only screen and (max-width: 1200px) {
  .news-angency #wrap-subintroduce .wrap-content #video #wrap-content-video .video-container {
    margin: 0px !important;
    padding: 0px !important;
  }
}
.news-angency #wrap-subintroduce .wrap-content #video #wrap-content-video .video-container .video-default iframe {
  width: 100% !important;
  height: 305px !important;
}
.news-angency #wrap-subintroduce .wrap-content #video #wrap-next {
  font-size: 20px;
  color: #609930;
  margin-bottom: 20px;
}
@media only screen and (max-width: 1200px) {
  .news-angency #wrap-subintroduce .wrap-content #video #wrap-next {
    margin: 0px !important;
    padding: 0px !important;
  }
}
.news-angency #wrap-subintroduce .wrap-content #video #wrap-next .titlebar {
  font-size: 22px;
  padding: 5px 10px;
  color: #609930;
  text-transform: uppercase;
  background: linear-gradient(to right, #f8a102 0%, #f9e0b2 50%, #f8a102 100%) !important;
  font-family: VLALLROUNDGOTHIC-BOOK;
  border-radius: 10px;
  box-shadow: 3px 3px 5px 3px lightgrey;
}
@media only screen and (max-width: 1200px) {
  .news-angency #wrap-subintroduce .wrap-content #video #wrap-next .titlebar {
    font-size: 18px !important;
  }
}
@media only screen and (min-width: 1200px) {
  .news-angency #wrap-subintroduce .wrap-content #video #wrap-next .pull-right {
    margin-right: 20px;
  }
}
@media only screen and (max-width: 1200px) {
  .news-angency #wrap-subintroduce .wrap-content #video #wrap-next .pull-right {
    margin-top: 5px;
  }
}
.news-angency #wrap-subintroduce .wrap-content #video #wrap-next .pull-right i {
  margin-top: 20px;
  border: 1px solid #609930;
  padding: 3px 10px;
  border-radius: 5px;
}
.news-angency #wrap-subintroduce .wrap-content #video #wrap-next .pull-right i:hover {
  cursor: pointer;
}
.news-angency #wrap-subintroduce .wrap-content #video iframe {
  width: 515px !important;
  height: 305px !important;
}
@media only screen and (min-width: 1200px) {
  .news-angency #wrap-subintroduce .wrap-content #response-customer {
    margin-top: 80px;
    padding-bottom: 30px;
  }
}
.news-angency #wrap-subintroduce .wrap-content #response-customer .wrap-next {
  font-size: 20px;
  color: #609930;
  margin-bottom: 20px;
}
@media only screen and (max-width: 1200px) {
  .news-angency #wrap-subintroduce .wrap-content #response-customer .wrap-next {
    margin: 0px !important;
    padding: 0px !important;
  }
}
.news-angency #wrap-subintroduce .wrap-content #response-customer .wrap-next .titlebar {
  font-size: 20px !important;
  padding: 5px 10px;
  color: #609930;
  text-transform: uppercase;
  background: linear-gradient(to right, #f8a102 0%, #f9e0b2 50%, #f8a102 100%) !important;
  font-family: VLALLROUNDGOTHIC-BOOK;
  border-radius: 10px;
  box-shadow: 3px 3px 5px 3px lightgrey;
}
@media only screen and (max-width: 1200px) {
  .news-angency #wrap-subintroduce .wrap-content #response-customer .wrap-next .titlebar {
    font-size: 18px;
  }
}
@media only screen and (min-width: 1200px) {
  .news-angency #wrap-subintroduce .wrap-content #response-customer .wrap-next .pull-right {
    margin-right: 20px;
  }
}
.news-angency #wrap-subintroduce .wrap-content #response-customer .wrap-next .pull-right i {
  margin-top: 20px;
  border: 1px solid #609930;
  padding: 3px 10px;
  border-radius: 5px;
}
.news-angency #wrap-subintroduce .wrap-content #response-customer .wrap-next .pull-right i:hover {
  cursor: pointer;
}
@media only screen and (max-width: 1200px) {
  .news-angency #wrap-subintroduce .wrap-content #response-customer .wrap-item {
    margin: 0px;
    padding: 0px;
  }
}
@media only screen and (min-width: 1200px) {
  .news-angency #wrap-subintroduce .wrap-content #response-customer .wrap-item .media {
    margin-right: 85px;
    max-height: 95px;
    overflow: hidden;
  }
}
.news-angency #wrap-subintroduce .wrap-content #response-customer .wrap-item .media .media-left img {
  width: 82px;
  height: 82px;
  border: 1px solid green;
  border-radius: 50%;
  /* padding-top: 20px; */
  margin-top: 10px;
}
@media only screen and (max-width: 1200px) {
  .news-angency #wrap-subintroduce .wrap-content #response-customer .wrap-item .media .media-left img {
    width: 60px;
    height: 60px;
  }
}
.news-angency #wrap-subintroduce .wrap-content #response-customer .wrap-item .media .media-body {
  padding-top: 15px;
  font-family: Roboto-Regular;
}
@media only screen and (max-width: 1200px) {
  .news-angency #wrap-subintroduce .wrap-content #response-customer .wrap-item .media .media-body {
    padding-top: 0px;
  }
}
.news-angency #wrap-subintroduce .wrap-content #response-customer .wrap-item .media .media-body a {
  font-weight: bold;
  font-size: 16px;
  display: block;
  color: #609930;
}
@media only screen and (max-width: 1200px) {
  .news-angency #wrap-subintroduce .wrap-content #response-customer .wrap-item .media .media-body a {
    font-size: 14px;
  }
}
#newsAndBranch .container {
  padding-top: 40px;
}
@media only screen and (max-width: 1200px) {
  #newsAndBranch .container {
    padding-top: 20px;
  }
}
#newsAndBranch .container .row .titlebar {
  color: #609930;
  text-align: center;
  text-transform: uppercase;
  font-family: VLALLROUNDGOTHIC-BOOK;
}
#newsAndBranch .container .row .titlebar:before,
#newsAndBranch .container .row .titlebar:after {
  width: 5%;
  height: 2px;
  background: #609930;
  content: '';
  display: inline-block;
  color: white;
  top: -10px;
  position: relative;
  margin: 0px 15px;
}
@media only screen and (max-width: 1200px) {
  #newsAndBranch .container .row .titlebar:before {
    width: 8%;
    height: 2px;
    background: #609930;
    content: '';
    display: inline-block;
    color: white;
    top: -5px;
    position: relative;
    margin: 0px 5px 0px 0px;
  }
  #newsAndBranch .container .row .titlebar:after {
    width: 8%;
    height: 2px;
    background: #609930;
    content: '';
    display: inline-block;
    color: white;
    top: -5px;
    position: relative;
    margin: 0px 0px 0px 5px;
  }
}
#newsAndBranch .container .row .descriptionbar {
  color: #609930;
  text-align: center;
  font-family: vlauthenticaregular;
  padding-bottom: 40px;
}
@media only screen and (max-width: 1200px) {
  #newsAndBranch .container .row .descriptionbar {
    padding-bottom: 50px;
  }
}
#newsAndBranch .container .row .wrap-hr {
  padding-top: 15px;
}
#newsAndBranch .container .row .wrap-hr hr {
  background-color: #609930;
  height: 2px;
}
@media only screen and (min-width: 1200px) {
  .block-news {
    max-height: 770px;
    margin-bottom: 100px;
  }
}
@media only screen and (max-width: 1200px) {
  .block-news {
    margin-top: 10px;
  }
}
@media only screen and (min-width: 1200px) {
  .block-news .row .news-default {
    width: 580px !important;
  }
}
@media only screen and (max-width: 1200px) {
  .block-news .row .news-default {
    margin-bottom: 20px;
  }
}
.block-news .row .news-default .image-content {
  width: 100%;
  height: 100%;
  overflow: hidden;
  overflow-y: hidden;
  display: block;
  border: 1.5px solid #609930;
  border-radius: 12px;
}
.block-news .row .news-default .news-content {
  font-family: Roboto-Regular;
}
.block-news .row .news-default .news-content .title {
  padding-top: 5px;
  font-weight: bold;
  font-size: 20px;
}
.block-news .row .news-default .news-content .title a {
  text-decoration: none;
  color: #556b20;
}
.block-news .row .news-default .news-content .summary {
  color: #848484;
  font-size: 16px;
}
@media only screen and (max-width: 1200px) {
  .block-news .row .news-default .news-content .summary {
    max-height: 45px;
    overflow: hidden;
  }
}
@media only screen and (min-width: 1200px) {
  .block-news .row .list-news {
    margin-left: 10px;
  }
}
.block-news .row .list-news .news-item {
  font-family: Roboto-Regular;
  font-size: 18px;
}
@media only screen and (max-width: 1200px) {
  .block-news .row .list-news .news-item {
    /*height: 168px;*/
    overflow: hidden;
    margin-bottom: 20px;
    font-size: 16px;
  }
}
@media only screen and (min-width: 1200px) {
  .block-news .row .list-news .news-item {
    margin-bottom: 30px;
    width: 250px;
    max-height: 220px;
    overflow: hidden;
    margin-left: 15px;
    padding: 0px;
  }
}
.block-news .row .list-news .news-item .title {
  padding-top: 5px;
}
@media only screen and (max-width: 1200px) {
  .block-news .row .list-news .news-item .title {
    max-height: 45px;
    overflow: hidden;
  }
}
.block-news .row .list-news .news-item a {
  text-decoration: none;
  color: #848484;
}
.block-news .row .list-news .news-item .image-content {
  border: 1.5px solid #609930;
  border-radius: 12px;
  overflow: hidden;
  width: 100%;
}
@media only screen and (max-width: 1200px) {
  .block-news .row .list-news .news-item .image-content {
    /*height: 94px;*/
    width: 100%;
  }
}
.block-news .row .list-news .news-item .image-content .img-overlay {
  background: rgba(0, 0, 0, 0.25);
  display: inline-block;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  border-radius: 12px;
}
@media only screen and (max-width: 1200px) {
  .block-news .row .list-news .news-item .image-content .img-overlay {
    width: auto;
  }
}
.block-news .row .list-news .news-item .image-content .img-overlay:hover {
  opacity: 1;
}
.block-news .row .list-news .news-item:hover a {
  color: #556b20;
}
.contact {
  padding-top: 55px;
  padding-bottom: 60px;
  background-image: url('../../images/bgr web/bgr lien he-19.jpg');
  background-position: initial;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
@media only screen and (max-width: 1200px) {
  .contact {
    background-image: none;
    padding: 20px 0px;
  }
}
.contact .titlebar {
  text-align: center;
  color: #7aa127;
  padding-bottom: 5px !important;
  margin-top: 0px;
  text-transform: uppercase;
}
@media only screen and (max-width: 1200px) {
  .contact .titlebar {
    padding-top: 0px;
  }
}
.contact hr {
  margin-bottom: 80px;
  border: 1px solid #7aa127;
}
@media only screen and (max-width: 1200px) {
  .contact hr {
    margin-bottom: 50px;
  }
}
.contact .item-contact {
  background-color: #F5F5F5;
  position: relative;
  text-align: center;
  display: flex;
  /*align-items: center;*/
  justify-content: center;
  margin-bottom: 40px;
  min-height: 300px;
  /*&:last-child {
            @media @mobile {
                margin-bottom: 20px;
            }
        }*/
}
.contact .item-contact .icon {
  color: #609930;
  position: absolute;
  top: -40px;
  left: auto;
  right: auto;
  font-size: 50px;
  width: 80px;
  height: 80px;
  line-height: 80px;
}
@media only screen and (max-width: 1200px) {
  .contact .item-contact .icon {
    padding-top: 20px;
  }
}
.contact .item-contact .icon i {
  background-color: #FFFFFF;
  border-radius: 100%;
  border: 3px solid #f5f5f5;
  width: 80px;
  height: 80px;
  line-height: 80px;
}
.contact .item-contact .content {
  padding-top: 60px;
}
.contact .item-contact .content .title {
  color: #609930;
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
}
.contact .item-contact .content .value {
  color: #7aa127;
  font-size: 18px;
}
.contact .item-contact .content .value a {
  color: #7aa127;
  font-size: 18px;
  text-decoration: none;
}
.contact .item-contact .content .value a:hover {
  text-decoration: none;
}
.contact .angency-system {
  background-color: #F5F5F5;
  margin-bottom: 20px;
  margin-right: -20px;
  overflow-y: scroll;
}
@media only screen and (max-width: 1200px) {
  .contact .angency-system {
    margin-right: unset;
  }
}
.contact .angency-system .header {
  height: 20px;
  background-color: #EAE9E5;
}
.contact .angency-system ul {
  list-style-type: none;
  padding-left: 0px;
  background-color: #F5F5F5;
}
.contact .angency-system ul li {
  font-size: 16px;
  color: #7aa127;
  padding: 10px 15px;
  border-bottom: 1px solid #EDEEE9;
  cursor: pointer;
}
.contact .angency-system ul li .title {
  margin-top: 10px;
  margin-bottom: 5px;
  color: #5E5C5D;
  font-size: 16px;
  font-family: OpenSans-Bold;
}
.contact .angency-system ul li .content p {
  color: #949293;
  font-size: 16px;
  padding: 3px 0px;
  margin-bottom: 0px;
}
.contact .angency-system ul li:last-child {
  border-bottom: none;
}
.contact .angency-system ul .select {
  background-color: #609930;
}
.contact .angency-system ul .select .title {
  color: #FFFFFF;
}
.contact .angency-system ul .select .content p {
  color: #FFFFFF;
}
.breadcrumb .container .row .list-inline li {
  font-size: 16px;
}
.breadcrumb .container .row .list-inline li a:hover {
  color: #af0838;
}
.breadcrumb .container .row .list-inline li span {
  color: #609930;
}
#abums {
  padding-top: 0px;
  padding-bottom: 20px;
  background-image: url('../../images/bgr-web/bgr tin tuc-sk va ld.jpg');
  background-position: initial;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
@media only screen and (max-width: 1200px) {
  #abums {
    background-image: none;
  }
}
#abums .titlebar {
  color: #7aa127;
  padding-bottom: 5px !important;
  padding-top: 20px;
}
@media only screen and (max-width: 1200px) {
  #abums .titlebar {
    padding-top: 0px;
  }
}
#abums hr {
  margin-bottom: 0px;
}
#abums .btn-toolbar {
  padding: 25px 0px;
}
#abums .content .abum-photo .title-border {
  padding-bottom: 10px;
}
#abums .content .abum-photo:first-child {
  padding-bottom: 10px;
}
#abums .content .abum-photo:last-child {
  border-bottom: none;
}
#abums #social-network {
  background-color: #609930;
}
#abums #social-network .btn-scoical {
  color: #FFFFFF;
}
#news {
  /*background-image: url('../../images/bgr web/bgr tin tuc_sk va ld.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;*/
}
#news .even {
  background-color: #FFFFFF;
}
#news .odd {
  background-color: #f5f5f5;
}
#news .titlebar {
  color: #7aa127;
  padding-bottom: 5px !important;
  padding-top: 20px;
}
#news hr {
  margin-bottom: 20px;
}
#news .block-news {
  padding-bottom: 10px;
}
@media only screen and (max-width: 1200px) {
  #category-news {
    background-image: none;
  }
}
#category-news .titlebar {
  color: #7aa127;
}
#category-news hr {
  margin-bottom: 25px;
}
#category-news .news-item {
  padding: 0px;
  margin-top: 30px;
}
#category-news .news-item .image-content {
  width: 100%;
  overflow: hidden;
  border: 1px solid #609930;
  border-radius: 12px;
}
@media only screen and (min-width: 1200px) {
  #category-news .news-item .wrap-text-content {
    /*padding-left: 30px;*/
    padding-right: 31px;
    min-height: 190px;
  }
}
#category-news .news-item .wrap-text-content .title {
  min-height: 50px;
  padding: 5px 0px;
  font-size: 16px;
}
#category-news .news-item .wrap-text-content .title a {
  color: #609930;
}
@media only screen and (max-width: 1200px) {
  #category-news .news-item .wrap-text-content .title a {
    font-size: 20px;
  }
}
#category-news .news-item .wrap-text-content .title a:hover {
  text-decoration: none;
  color: #af0838;
}
@media only screen and (max-width: 1200px) {
  #category-news .news-item .wrap-text-content .title {
    font-size: 14px;
  }
}
#category-news .news-item .wrap-text-content .wrap-interact {
  padding-bottom: 10px;
}
@media only screen and (max-width: 1200px) {
  #category-news .news-item .wrap-text-content .wrap-interact {
    font-size: 16px;
  }
}
#category-news .news-item .wrap-text-content .wrap-interact .item {
  padding-right: 5px;
}
@media only screen and (max-width: 1200px) {
  #category-news .news-item .wrap-text-content .description {
    font-size: 16px;
  }
}
#category-news .news-item .wrap-text-content .btn-main {
  margin-top: 10px;
  background-color: #609930;
  border: #609930;
  color: #fff;
  border-radius: 0;
  transition: background-color 0.3s linear;
}
#category-news .news-item .wrap-text-content .btn-main:hover {
  color: grey;
}
.content .list-style-none li {
  margin: 40px 0px;
  list-style: none;
}
@media only screen and (max-width: 1200px) {
  .content .list-style-none li .media .media-body a {
    font-size: 18px;
  }
}
.content .list-style-none li .media .media-body a:hover {
  color: #af0838;
}
@media only screen and (max-width: 1200px) {
  .content .list-style-none li .news-description {
    font-size: 16px;
  }
}
@media only screen and (max-width: 1200px) {
  .content .list-style-none li {
    margin: 20px 0px;
  }
}
#news-detail {
  /*background-image: url('../../images/bgr-web/bgr trang tin tuc_tin tuc chi tiet.jpg');
    background-position: inherit;
    background-repeat: no-repeat;
    background-size: 100% auto;*/
}
@media only screen and (max-width: 1200px) {
  #news-detail {
    background-image: none;
  }
}
#news-detail .wrap-related-news .header-related-news {
  font-family: VLALLROUNDGOTHIC-BOOK;
  color: #609930;
  text-align: center;
  font-size: 22px;
  border-bottom: 2px solid #609930;
  padding: 10px 0px;
}
#news-detail .wrap-related-news .wrap-related-item {
  margin: 10px 0px;
}
#news-detail .wrap-related-news .wrap-related-item .news-item .image-content {
  overflow: hidden;
  width: 100%;
  border: 1px solid #609930;
  border-radius: 10px;
}
#news-detail .wrap-related-news .wrap-related-item .news-item .wrap-text-content .title {
  padding-bottom: 10px;
}
#news-detail .wrap-related-news .wrap-related-item .news-item .wrap-text-content .title a {
  font-size: 18px;
  text-decoration: none;
  color: #609930;
}
#news-detail .wrap-related-news .wrap-related-item .news-item .wrap-text-content .title a:hover {
  color: #547A2F;
}
#news-detail .wrap-related-news .wrap-related-item .news-item .wrap-text-content .description {
  font-size: 16px;
}
@media only screen and (max-width: 1200px) {
  .news-detail {
    background-image: none;
  }
  .news-detail .content img {
    width: 100%;
    object-fit: cover;
  }
}
.news-detail .title {
  color: #609930;
  font-size: 28px;
  margin-bottom: 0;
  /*text-transform: uppercase;*/
  font-family: OpenSans-Bold;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.news-detail #social-network ul {
  height: unset;
}
.news-detail #social-network li {
  padding: 10px 5px;
}
.news-detail #social-network li a {
  font-size: 18px;
  text-align: center;
  color: #424242;
}
.news-detail .content {
  padding-bottom: 30px;
  padding-top: 0px;
}
.news-detail .content img {
  padding: 0px;
}
.news-detail .content table tr td p {
  padding: 0px !important;
}
.sidebar-news-detail {
  padding-top: 15px;
}
.sidebar-news-detail .title {
  padding: 10px;
  text-align: center;
  margin-bottom: 10px;
  background-color: #609930;
}
.sidebar-news-detail .title h2 {
  color: #FFFFFF;
  margin-bottom: 0px;
  margin-top: 0px;
  text-transform: uppercase;
  font-size: 20px;
}
.sidebar-news-detail .content {
  padding-left: 10px;
}
.sidebar-news-detail .content ul {
  padding-left: 0px;
}
.sidebar-news-detail .content ul li {
  margin: 15px 0;
}
.sidebar-news-detail .content ul li .media-left {
  min-width: 72px;
  min-height: 72px;
  overflow: hidden;
  padding-right: 12px;
}
.sidebar-news-detail .content ul li .media-body a {
  color: #7aa127;
  transition: 0.3s ease;
}
.sidebar-news-detail .content ul li .media-body a:hover {
  text-decoration: none;
  color: #609930;
}
.sidebar-news-detail .content ul li .media-body p {
  color: #5E5C5D;
  font-size: 14px;
  font-family: OpenSans;
}
.sidebar-news-detail .content ul li .media-body .calendar {
  color: #949293;
}
.sidebar-event {
  padding-top: 15px;
}
.sidebar-event .title {
  padding: 10px;
  /*margin-bottom: 10px;*/
  background-color: #609930;
}
.sidebar-event .title h2 {
  color: #FFFFFF;
  margin-bottom: 0px;
  margin-top: 0px;
  text-transform: uppercase;
  font-size: 20px;
}
.sidebar-event .content ul {
  padding-left: 0px;
}
.sidebar-event .content ul li {
  background-color: #f2f2f2;
  padding: 5px 20px;
  border-bottom: 2px solid #FFFFFF;
}
.sidebar-event .content ul li a {
  text-transform: uppercase;
  font-size: 18px;
  color: #7aa127;
  font-family: OpenSans;
  transition: 0.3s ease;
}
@media only screen and (max-width: 1200px) {
  .sidebar-event .content ul li a {
    font-size: 16px;
  }
}
.sidebar-event .content ul li a:hover {
  text-decoration: none;
  color: #609930;
}
.sidebar-event-fixtop {
  position: fixed;
  top: 50px;
  width: 262px;
}
.video-item {
  width: 100%;
  display: block;
  overflow: hidden;
  margin-bottom: 10px;
}
.video-item .thumbnail-video img {
  width: 100%;
}
.video-item .title-video-default {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 10px;
  padding-top: 0px;
}
.video-item .title-video-default a {
  text-decoration: none;
  font-size: 20px;
  color: #609930;
}
@media only screen and (max-width: 1200px) {
  .video-item .title-video-default a {
    font-size: 20px;
  }
}
.video-item .title-video {
  margin-top: 0px;
  padding-top: 10px;
  font-size: 16px;
  min-height: 60px;
}
@media only screen and (max-width: 1200px) {
  .video-item .title-video {
    min-height: 60px;
    font-size: 14px;
  }
}
.video-item .title-video a {
  text-decoration: none;
  color: #7aa127;
}
.video-item .description {
  padding: 10px;
  font-size: 14px;
  color: #949293;
  padding-top: 0px;
  /*min-height:80px;*/
}
.video-item:hover a {
  color: #609930;
}
.video-item .thumbnail-video {
  display: block;
  overflow: hidden;
  position: relative;
  width: 100%;
  background: #FFFFFF;
}
.video-item .thumbnail-video a img {
  width: 100%;
  min-height: 200px;
}
@media only screen and (max-width: 1200px) {
  .video-item .thumbnail-video a img {
    min-height: unset;
  }
}
.duration_video {
  position: absolute;
  left: 40%;
  bottom: 43%;
  font-size: 15px;
  color: #FFFFFF;
  height: 36px;
  width: 48px;
  line-height: 36px;
  background-color: #333;
  border-radius: 7px;
  text-align: center;
  opacity: 0.8;
  vertical-align: middle;
}
@media only screen and (max-width: 1200px) {
  .duration_video {
    height: 21px;
    width: 28px;
    line-height: 21px;
    border-radius: 4px;
    font-size: 10px;
  }
}
.line {
  margin-bottom: 15px;
  border-top: 1px solid #b2b2b2;
  margin-top: -6px;
  height: 1px;
  width: 100%;
}
.pagination li a {
  border-radius: 100%;
  height: 25px;
  width: 25px;
  line-height: 25px;
  border: none !important;
  font-size: 16px;
  padding: 5px;
  margin: 0 5px;
  color: #5f5b61;
  text-align: center;
  vertical-align: middle;
  padding-top: 0px;
}
.pagination li:first-child,
.pagination li:last-child {
  padding-right: 5px;
}
.pagination li:first-child a:hover,
.pagination li:last-child a:hover,
.pagination li:first-child a:focus,
.pagination li:last-child a:focus,
.pagination li:first-child a:active,
.pagination li:last-child a:active {
  background-color: none;
  background: none;
}
.pagination li .active {
  color: #609930;
}
.pagination li .disabled {
  color: #b2bec3;
  cursor: context-menu;
}
.pagination li .disabled:hover {
  color: #b2bec3;
}
.header img {
  height: 300px !important;
  object-fit: cover;
  width: 100% !important;
}
@media only screen and (max-width: 1200px) {
  .header img {
    height: auto !important;
  }
}
.sidebar-news-detail .title {
  font-family: VLALLROUNDGOTHIC-BOOK;
}
.titlebar {
  font-size: 32px;
}
@media only screen and (max-width: 1200px) {
  .titlebar {
    font-size: 20px !important;
  }
}
.descriptionbar {
  font-size: 32px;
}
@media only screen and (max-width: 1200px) {
  .descriptionbar {
    font-size: 20px;
  }
}
.zoom:hover {
  transform: scale(1.05);
  transition: ease-in-out 500ms;
}
.category-mobile {
  text-align: center;
  padding-bottom: 10px;
}
.category-mobile .btn-main-color {
  background-color: #609930;
  border: none !important;
}
.category-mobile .btn-main-color:hover,
.category-mobile .btn-main-color:active {
  border: none !important;
  background-color: #609930;
}
.header {
  /*min-height: 650px;*/
}
.header img {
  width: 100%;
  overflow: hidden;
}
.header .breadcrumb {
  background-color: #E8E8E8;
  margin-bottom: 0px !important;
  border-radius: unset;
}
.header .breadcrumb ul {
  padding-left: 0px;
  list-style-type: none;
  margin-bottom: 0px;
}
.header .breadcrumb ul li {
  padding: 0px 10px;
  border-right: 1px solid #5E5C5D;
}
.header .breadcrumb ul li a {
  color: #609930;
  font-size: 14px;
}
.header .breadcrumb ul li a:hover {
  text-decoration: none;
}
.header .breadcrumb ul li:last-child {
  border-right: none;
  color: #7aa127;
}
.header .breadcrumb ul li:first-child {
  padding-left: 0px;
}
@media only screen and (max-width: 1200px) {
  .header {
    height: unset;
  }
}