@{
    var mainBanner = ViewBag.MainBanner as BannerViewModel;
}
<link href="~/lib/lightslider/css/lightslider.min.css" rel="stylesheet" />
@if (mainBanner != null)
{
    <partial name="_MainSlider" model="@mainBanner" />
}
<partial name="_Util" />
<div class="padding video cm-mgt-20 bg-white cm-pd-10">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-lg-8 col-sm-8">
                <partial name="_Video" />
            </div>
            <div class="col-md-4 banner" id="banner-video">
                <ul>
                    <li>
                        <a href="/dat-hen">
                            @*<img class="img-responsive lazy" data-src="@Url.Action("Index", "ImageHandler", new {url = "/assets/images/02_ngoai.jpg", width = 360, height = 360, type = 1 })"/>*@
                            <img class="img-responsive lazy" src="/images/4_Nhi khoa CLC 900x900-02.jpg" title="Đặt hẹn" />
                        </a>
                    </li>
                    <li>
                        <a href="/dang-ky-tien-san">
                            @*<img class="img-responsive lazy" data-src="@Url.Action("Index", "ImageHandler", new {url = "/assets/images/03_san.jpg", width = 360, height = 360, type = 1 })"/>*@
                            <img class="img-responsive lazy" src="/images/900x900-01.jpg" title="Đăng ký tiền sản" />
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="padding block-host-news">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <partial name="_HotNews" />
            </div>       
        </div>
    </div>
</div>
@section scripts {
    <script type="text/javascript" src="~/js/home.min.js"></script>
    <script type="text/javascript" src="~/js/viewmodel/about.viewmodel.min.js"></script>
}

