@using Microsoft.ApplicationInsights.AspNetCore
@{
    ViewBag.Title = "Lịch làm việc bác sỹ";
}

<link href="~/assets/plugins/jquery-week/skins/default.css" rel="stylesheet" />
<link href="~/assets/plugins/jquery-week/skins/gcalendar.css" rel="stylesheet" />
<link href="~/assets/plugins/jquery-week/jquery.weekcalendar.css" rel="stylesheet" />
<link href="~/assets/plugins/jquery-week/libs/css/smoothness/jquery-ui-1.8.11.custom.css" rel="stylesheet" />
<link href="~/assets/plugins/sweetalert/sweetalert.css" rel="stylesheet" />
<link href="~/Content/less/waiting.min.css" rel="stylesheet" />

<div class="bg-white wrapper-doctor-schedule page-content">
    <div class="container color-white">
        @*@if (CurrentPatient != null)
            {
                <a href="javascript://" title="Dịch vụ bạn đã đặt" class="button-shopping" data-bind="click: showMyService">
                    <i class="fa fa-shopping-basket fa-2x"></i>
                </a>
            }*@
        <div class="row">
            <div class="col-sm-12">
                <h4 class="star-title">Lịch làm việc bác sỹ</h4>
                <div class="star-title-decoration">
                    <i class="fa fa-star-o"></i>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <form class="form-inline" data-bind="submit: formSearch">
                    <div class="form-group">
                        <input data-bind="value: doctorName, valueUpdate: 'afterkeydown'" type="text" class="form-control" placeholder="Nhập tên bác sỹ cần tìm" value="" />
                    </div>
                    <div class="form-group">
                        <select class="form-control" data-bind="value: shift">
                            <option value="">-- Chọn ca làm việc --</option>
                            <option data-bind="value: 'CASANG'">Ca sáng</option>
                            <option data-bind="value: 'CACHIEU'">Ca chiều</option>
                            <option data-bind="value: 'CATOI'">Ca tối</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <select class="form-control" data-bind="options: listDate, value: mode, optionsValue: 'id', optionsText: 'name', optionCaption: '-- Chọn ngày làm việc'"></select>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary" type="submit" data-bind="enable: !isSearching()">
                            <i class="fa fa-search" data-bind="visible: !isSearching()" style="display: none"></i>
                            <i class="fa fa-spinner fa-pulse" data-bind="visible: isSearching()"></i>
                            @*@Resources.Button_Search*@
                            Tìm kiếm
                        </button>
                    </div>

                </form>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm-12">
                <table class="table">
                    <thead style="position: inherit; z-index: 9999;">
                        <tr>
                            <th style="background: #eaeaea;width:30px" class="hidden-xs"></th>
                            <th style="text-align: left;background: #d3d3d3; text-transform: uppercase;width:310px">Bác sĩ</th>
                            <th style="text-align: center;background: #d3d3d3;width:210px">Phòng</th>
                            <th style="text-align: center;background: #d3d3d3;width:62px">Sáng</th>
                            <th style="text-align: center;background: #d3d3d3;width:62px">Chiều</th>
                            <th style="text-align: center;background: #d3d3d3;width:62px">Tối</th>
                        </tr>
                    </thead>

                    <tbody data-bind="template: {name: 'mainContent', foreach: listSchedule}"></tbody>

                </table>
            </div>
        </div>
    </div>
</div>

@section knockout{
    <script type="text/template" id="mainContent">
        <tr style="background: #eaeaea" data-bind="attr: {class: 'main ' + id}">
            <td style="width: 20px;font-size: 14px;" class="hidden-xs center">
                <a href="javascript://" data-bind="attr: {'data-target': id}, click: $parent.toggleChildren">
                    <i class="glyphicon glyphicon-minus" data-bind="visible: isShowChild()"></i>
                    <i class="glyphicon glyphicon glyphicon-plus" data-bind="visible: !isShowChild()"></i>
                </a>
            </td>
            <td colspan="5" data-bind="text: ($index() + 1) + ': ' + name"></td>
        </tr>
        <!-- ko foreach: listDoctor -->
        <tr data-bind="visible: $parent.isShowChild()">
            <td style="background: #eaeaea;width:30px" class="hidden-xs"></td>
            <td style="width:310px;">
                <a href="javascript://" class="actionlink" data-bind="text: name"></a>
            </td>
            <td style="width:210px;" data-bind="text: roomName"></td>
            <td style="width:62px" class="center">
                <i class="glyphicon glyphicon-ok" data-bind="visible: isMorning"></i>
            </td>
            <td style="width:62px" class="center">
                <i class="glyphicon glyphicon-ok" data-bind="visible: isAfternoon"></i>
            </td>
            <td style="width:62px" class="center">
                <i class="glyphicon glyphicon-ok" data-bind="visible: isEvening"></i>
            </td>
        </tr>
        <!-- /ko -->
    </script>

    <script src="~/assets/plugins/moment/moment.js"></script>
    <script src="~/assets/plugins/lodash/lodash.min.js"></script>
    <script src="~/built/viewmodel/doctor-schedule/doctor-schedule.viewmodel.js"></script>
    @*@Scripts.Render("~/bundles/DoctorSchedule")*@
}