@model List<NewsSearchViewModel>
@if (Model != null && Model.Any())
{
    <div id="benefits">
        <div class="container">
            <h2 class="titlebar">
                @Resource.BenefitsofHyperthermiainCancerTreatment
            </h2>
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-sm-4">
                        <div class="benefits-item">
                            <h3 class="title">
                                <i class="fa fa-arrow-circle-o-down"></i>
                                @item.Title
                            </h3>
                            <div class="description">
                               @Html.Raw(item.Description)
                            </div>
                        </div>
                    </div>
                }                
            </div>
        </div>
    </div>
}
