@model Breadcrumb;
@if (Model != null)
{
    <div class="header">
        <h2 class="title">
            @Model.Title
        </h2>
        <div class="description">
            @Html.Raw(!string.IsNullOrEmpty(Model.Description) ? Common.SubString(Model.Description, 100) : "")
        </div>
    </div>
}
