@model List<NewsSearchViewModel>;

@if (Model != null && Model.Any())
{
    <div id="sidebar-news">
        <ul>
            <li>@Resource.RecentBlogs</li>
            @foreach (var news in Model)
            {
                <li>
                    <a href="@($"/{news.SeoLink}.html")" title="@(string.IsNullOrEmpty(news.MetaTitle) ? news.Title : news.MetaTitle)">
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                        @news.Title
                    </a>
                </li>
            }
        </ul>
    </div>
}




