@*<section id="about-1">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="titlebar">
                        <h2>HỆ THỐNG QUẢN LÝ</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div id="accordion-holder" class="row">
                <div class="col-md-6 text-center animated fadeInLeft visible" data-animation="fadeInLeft" data-animation-delay="600">
                    <img class="img-responsive" src="~/images/product.png" alt="our-philosophy-image">
                </div>
                <div class="col-md-6">
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default animated fadeInRight visible" data-animation="fadeInRight" data-animation-delay="300">
                            <div class="panel-heading">
                                <h5 class="panel-title">
                                    <a data-toggle="collapse" class="panel-toggle active" data-parent="#accordion" href="#collapseOne">
                                        <i class="fa fa-check"></i>
                                        Quản lý tổng thể phòng khám đa khoa
                                    </a>
                                </h5>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <ul>
                                        <li><i class="fa fa-circle font-size-10 cm-pd-5" aria-hidden="true"></i> Quản lý nhân sự - tiền lương </li>
                                        <li><i class="fa fa-circle font-size-10 cm-pd-5" aria-hidden="true"></i> Quản lý lịch làm việc của Bác sĩ </li>
                                        <li><i class="fa fa-circle font-size-10 cm-pd-5" aria-hidden="true"></i> Quản lý khách hàng/dịch vụ </li>
                                        <li><i class="fa fa-circle font-size-10 cm-pd-5" aria-hidden="true"></i> Quản lý doanh thu </li>
                                        <li><i class="fa fa-circle font-size-10 cm-pd-5" aria-hidden="true"></i> Quản lý khám chữa bệnh </li>
                                        <li><i class="fa fa-circle font-size-10 cm-pd-5" aria-hidden="true"></i> Quản lý thuốc và vật tư </li>
                                        <li><i class="fa fa-circle font-size-10 cm-pd-5" aria-hidden="true"></i> Quản lý các chương trình khuyến mại, giảm giá</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default animated fadeInRight visible" data-animation="fadeInRight" data-animation-delay="500">
                            <div class="panel-heading">
                                <h4 class="panel-title"> <a data-toggle="collapse" class="panel-toggle" data-parent="#accordion" href="#collapseTwo">
                                    <i class="fa fa-check"></i> Phần mềm quản lý Spa</a>
                                </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <ul>
                                        <li><i class="fa fa-circle font-size-10 cm-pd-5" aria-hidden="true"></i> Quản lý khách hàng  </li>
                                        <li><i class="fa fa-circle font-size-10 cm-pd-5" aria-hidden="true"></i> Quản lý dịch vụ  </li>
                                        <li><i class="fa fa-circle font-size-10 cm-pd-5" aria-hidden="true"></i> Quản lý doanh thu  </li>
                                        <li><i class="fa fa-circle font-size-10 cm-pd-5" aria-hidden="true"></i> Quản lý chương trình khuyến mại  </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default animated fadeInRight visible" data-animation="fadeInRight" data-animation-delay="700">
                            <div class="panel-heading">
                                <h4 class="panel-title"> <a data-toggle="collapse" class="panel-toggle" data-parent="#accordion" href="#collapseThree">
                                    <i class="fa fa-check"></i> Website quản lý phòng khám</a> </h4>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <ul>
                                        <li><i class="fa fa-circle font-size-10 cm-pd-5" aria-hidden="true"></i> Quản lý cơ cấu tổ chức và nhân viên  </li>
                                        <li><i class="fa fa-circle font-size-10 cm-pd-5" aria-hidden="true"></i> Quản lý chấm công   </li>
                                        <li><i class="fa fa-circle font-size-10 cm-pd-5" aria-hidden="true"></i> Theo dõi và báo cáo công việc   </li>
                                        <li><i class="fa fa-circle font-size-10 cm-pd-5" aria-hidden="true"></i> Đánh giá hiệu quả công việc của nhân viên   </li>
                                        <li><i class="fa fa-circle font-size-10 cm-pd-5" aria-hidden="true"></i> Sát hạch chất lượng nhân sự   </li>
                                        <li><i class="fa fa-circle font-size-10 cm-pd-5" aria-hidden="true"></i> Khảo sát ý kiến của nhân viên và khách hàng    </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default animated fadeInRight visible" data-animation="fadeInRight" data-animation-delay="900">
                            <div class="panel-heading">
                                <h4 class="panel-title"> <a data-toggle="collapse" class="panel-toggle" data-parent="#accordion" href="#collapseFour">
                                    <i class="fa fa-check"></i> Website </a> </h4>
                            </div>
                            <div id="collapseFour" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <ul>
                                        <li><i class="fa fa-circle font-size-10 cm-pd-5" aria-hidden="true"></i> Giao diện đẹp, thân thiện  </li>
                                        <li><i class="fa fa-circle font-size-10 cm-pd-5" aria-hidden="true"></i> Thiết kế đầy đủ tính năng ưu việt   </li>
                                        <li><i class="fa fa-circle font-size-10 cm-pd-5" aria-hidden="true"></i> Tối ưu tốc độ    </li>
                                        <li><i class="fa fa-circle font-size-10 cm-pd-5" aria-hidden="true"></i> Tối ưu SEO  </li>
                                        <li>
                                            <i class="fa fa-circle font-size-10 cm-pd-5" aria-hidden="true"></i>Quản trị dễ dàng, bảo mật thông tin
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>*@
@{
    var Test = ViewBag.Test as List<NewsDetailViewModel>;
}
<section id="about-1">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="titlebar">
                    <h2>HỆ THỐNG QUẢN LÝ</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div id="accordion-holder" class="row">
            <div class="col-md-6 text-center animated fadeInLeft visible" data-animation="fadeInLeft" data-animation-delay="600">
                <img class="img-responsive" src="~/images/product.png" alt="our-philosophy-image">
            </div>
            @Html.Raw(ViewBag.Test.Content)
        </div>
    </div>
</section>