@{
    var websiteSetting = ViewBag.WebsiteSetting as WebsiteSetting;
}

<div id="about" class="about-us lazy" data-src="/images/bgr-web/background-image/nenpc_about.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 center">
                <div class="titlebar"> @Resource.TitleHeader</div>
                <div class="content">@Resource.TitleDescription</div>
            </div>
        </div>
    </div>
</div>

