@{
    var listNewsHomePage = ViewBag.ListNews as List<NewsSearchViewModel>;
    var listBranch = ViewBag.BranchContacts as List<BranchContactSearchViewModel>;
    var listVideo = ViewBag.ListVideoHomePage as List<VideoViewModel>;
    var listResponseCustomer = ViewBag.ListResponseCustomer as List<NewsSearchViewModel>;
}
<link href="~/lib/lightslider/css/lightslider.css" rel="stylesheet" />
<div class="news-angency">
    @if (listNewsHomePage != null && listNewsHomePage.Any())
    {
        <div id="newsAndBranch">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="center titlebar">
                            @Resource.NewSuggestionTitle
                        </div>                      
                        <div class="descriptionbar">@Resource.NewSuggestionDesciption</div>
                    </div>
                    <div class="col-lg-12">
                            <partial name="_BlockNewsSuggestion" model="listNewsHomePage" />
                    </div>
                </div>
            </div>
        </div>
        <div id="wrap-subintroduce">
            <div class="wrap-content">
                <div class="col-lg-6">
                    <partial name="_ListVideo" model="listVideo" />
                </div>
                <div class="col-lg-6">
                    <partial name="_ListResponseCustomer" model="listResponseCustomer" />
                </div>
            </div>
        </div>
        <span class="clearfix"></span>
    }   
</div>

