@font-face {
  font-family: 'Regular';
  src: url('../../lib/Font-Roboto/fa-regular-400.tff') format('truetype');
}
@font-face {
  font-family: 'Roboto-Bold';
  src: url('../../lib/font-roboto/roboto-bold_1.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto-Regular';
  src: url('../../lib/font-roboto/roboto-regular.ttf') format('truetype');
}
@font-face {
  font-family: 'VLALLROUNDGOTHIC-BOOK';
  src: url('../../lib/Font-Roboto/VLALLROUNDGOTHIC-BOOK.OTF') format('truetype');
}
@font-face {
  font-family: 'vlauthenticaregular';
  src: url('../../lib/font-roboto/VLAUTHENTICAREGULAR.OTF') format('truetype');
}
.navbar-fixed-top {
  background-color: #F9A4A7;
  border-bottom: none;
  min-height: 100px;
  /*transition: background-color 2s ease-out;*/
}
/*.scroll-fixed-navbar {
    background-color: @main-color;
    border-bottom: 1px solid #222;
}*/
@media only screen and (max-width: 1200px) {
  .navbar-header {
    float: none;
  }
  .navbar-left,
  .navbar-right {
    float: none !important;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    /*box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);*/
  }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
    display: none !important;
  }
  .navbar-nav {
    float: none !important;
    margin-top: 7.5px;
  }
  .navbar-nav > li {
    float: none;
  }
  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .collapse.in {
    display: block !important;
  }
}
.header-top {
  position: relative;
}
.wrap-header-top {
  font-family: Roboto-Regular;
  background-color: #F9A4A7;
  color: #FFFFFF;
  padding: 5px 0px;
  display: flex;
  height: auto;
  align-items: center;
}
.wrap-header-top .hotline {
  /*display: flex;
        align-items: center;*/
}
.wrap-header-top .hotline span {
  padding-left: 0px;
  float: unset;
  text-align: center;
  transition: 0.5s ease;
  font-size: 13px;
  color: #FFFFFF;
  font-family: Roboto-Regular;
}
.wrap-header-top ul {
  margin-bottom: 0px;
}
.wrap-header-top ul li {
  padding: 0px 15px;
  border-right: 1px solid #FFFFFF;
}
.wrap-header-top ul li a {
  color: #FFFFFF;
  text-decoration: none;
}
.wrap-header-top ul li i {
  font-size: 18px;
}
.wrap-header-top ul li:last-child {
  border-right: none;
}
.wrap-header-top ul li .shopping-cart {
  position: relative;
}
.wrap-header-top ul li .shopping-cart .number-product {
  position: absolute;
  top: 3px;
  right: -3px;
  font-size: 9px;
  color: #606060;
  border-radius: 50%;
  background: #fff;
  height: 12px;
  width: 12px;
  text-align: center;
}
.header-bottom .navbar-inverse {
  background-color: #fafafa;
  font-size: 14px;
  margin-top: 0px !important;
  border: none;
  font-family: Roboto-Regular;
  width: 100%;
  box-shadow: 0 8px 50px -6px rgba(84, 84, 120, 0.26);
}
@media only screen and (max-width: 1200px) {
  .header-bottom .navbar-inverse {
    font-size: 14px !important;
    min-height: 70px;
    background-color: #fafafa;
    border: none !important;
    text-transform: uppercase;
  }
}
.header-bottom .navbar-inverse .wrap {
  align-items: center;
}
@media only screen and (max-width: 1200px) {
  .header-bottom .navbar-inverse .wrap {
    display: block;
    padding-top: 0px;
  }
}
.header-bottom .navbar-inverse .wrap .navbar-brand {
  padding: 10px !important;
  display: flex;
  align-items: center;
  flex: 1 0 0;
  max-width: 70px;
  height: 70px;
}
@media only screen and (max-width: 1200px) {
  .header-bottom .navbar-inverse .wrap .navbar-brand {
    padding-left: 5%;
    max-width: 100%;
    display: block;
  }
}
.header-bottom .navbar-inverse .wrap .wrap-show-icon {
  color: #F9A4A7;
  width: 25px;
  height: 20px;
  font-size: 20px;
  line-height: 0px !important;
}
@media only screen and (max-width: 1200px) {
  .header-bottom .navbar-inverse .container {
    margin: 0px !important;
  }
  .header-bottom .navbar-inverse .container a img {
    margin: 5px 0px 0px 5px !important;
  }
  .header-bottom .navbar-inverse .container button {
    margin-top: 15px;
  }
  .header-bottom .navbar-inverse .container button .icon-bar {
    width: 25px;
    height: 3px;
    background: #F9A4A7;
  }
}
.header-bottom .navbar-inverse .navbar-toggle {
  border: 1px solid #F9A4A7;
}
.header-bottom .navbar-inverse .navbar-toggle:hover {
  background: none;
}
@media only screen and (max-width: 1200px) {
  .header-bottom .navbar-inverse .navbar-collapse {
    font-size: 16px !important;
    width: 100%;
    margin: 0px;
  }
}
.header-bottom nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 10px !important;
  margin-bottom: 0px;
  border-radius: unset;
  /* Main Nav */
  /*text-align: center;*/
  z-index: 1030;
}
@media only screen and (max-width: 1200px) {
  .header-bottom nav {
    flex-direction: column;
    display: block;
    margin: 0px !important;
    width: 100%;
    /*height: 100%;*/
  }
}
.header-bottom nav .navbar-nav {
  display: flex;
}
@media only screen and (max-width: 1200px) {
  .header-bottom nav .navbar-nav {
    display: block;
    margin: 0px !important;
  }
}
.header-bottom nav .navbar-collapse {
  padding-left: 0px;
  padding-right: 0px;
  border-color: #F9A4A7 !important;
  overflow: scroll;
  padding-top: 20px;
}
@media only screen and (max-width: 1200px) {
  .header-bottom nav .navbar-collapse {
    border: none !important;
    max-height: 120%;
    overflow-y: scroll;
    width: 100%;
    /*width: 80%;*/
    float: right;
    margin: 0px;
    background-color: transparent;
    margin-top: 20px !important;
  }
}
.header-bottom nav .navbar-collapse ul {
  /*width: 100%;*/
  align-items: center;
  justify-content: flex-end;
}
@media only screen and (max-width: 1200px) {
  .header-bottom nav .navbar-collapse ul {
    width: 100%;
    margin-left: 0px;
  }
}
.header-bottom nav .navbar-collapse ul li {
  font-size: 14px;
  margin: 0px 5px;
}
@media only screen and (min-width: 1200px) {
  .header-bottom nav .navbar-collapse ul li {
    border: 1px solid none;
  }
  .header-bottom nav .navbar-collapse ul li a {
    position: relative;
    /*top: 10px;*/
    text-transform: uppercase;
    color: #404040 !important;
    background: none !important;
    padding: 5px 20px;
    /*padding-bottom: 20px;*/
    border: 1px solid transparent !important;
  }
  .header-bottom nav .navbar-collapse ul li:hover,
  .header-bottom nav .navbar-collapse ul li :focus,
  .header-bottom nav .navbar-collapse ul li :active {
    background-color: #F9A4A7;
  }
  .header-bottom nav .navbar-collapse ul li:hover a,
  .header-bottom nav .navbar-collapse ul li :focus a,
  .header-bottom nav .navbar-collapse ul li :active a {
    color: #FFFFFF !important;
  }
}
@media only screen and (max-width: 1200px) {
  .header-bottom nav .navbar-collapse ul li {
    font-size: 14px !important;
    border-bottom: 1px solid #F9A4A7 !important;
  }
  .header-bottom nav .navbar-collapse ul li a {
    width: 90%;
    margin-left: 10px;
    color: #404040 !important;
    background-color: #fafafa !important;
  }
  .header-bottom nav .navbar-collapse ul li a:active,
  .header-bottom nav .navbar-collapse ul li a :hover,
  .header-bottom nav .navbar-collapse ul li a :focus {
    color: #931C1F !important;
  }
  .header-bottom nav .navbar-collapse ul li.open {
    border-bottom: none !important;
  }
  .header-bottom nav .navbar-collapse ul li.open .dropdown-menu {
    font-size: 14px !important;
    border-top: 1px solid #931C1F !important;
  }
  .header-bottom nav .navbar-collapse ul li.open > a {
    color: #931C1F !important;
    font-size: 14px !important;
  }
  .header-bottom nav .navbar-collapse ul li.open > a .fa-angle-down {
    display: none !important;
  }
  .header-bottom nav .navbar-collapse ul li.open > a .fa-angle-up {
    display: block !important;
  }
  .header-bottom nav .navbar-collapse ul li .dropdown-submenu.open {
    border-bottom: none !important;
  }
  .header-bottom nav .navbar-collapse ul li .dropdown-submenu.open > ul {
    margin-left: 10px !important;
    border-top: 1px solid #931C1F !important;
  }
  .header-bottom nav .navbar-collapse ul li .dropdown-submenu.open > a {
    font-size: 14px !important;
    color: #931C1F !important;
  }
  .header-bottom nav .navbar-collapse ul li .dropdown-submenu.open > a .fa-angle-down {
    display: none !important;
  }
  .header-bottom nav .navbar-collapse ul li .dropdown-submenu.open > a .fa-angle-up {
    display: block !important;
  }
}
.header-bottom nav .navbar-collapse ul li .list-social-network {
  margin-top: 10px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-bottom nav .navbar-collapse ul li .list-social-network .list-items {
  margin: 5px;
}
.header-bottom nav .navbar-collapse ul li .list-social-network .list-items a {
  border: none !important;
}
.header-bottom nav .navbar-collapse ul li .list-social-network .list-items a i {
  display: inline-block;
  border-radius: 40px;
  box-shadow: 0px 0px 2px #888;
  padding: 0.5em 0.6em;
  background-color: #eef0f1;
  color: #F9A4A7;
  height: 40px;
  width: 40px;
  font-size: 22px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-bottom nav .navbar-collapse ul li .list-social-network .list-items a i.fa-facebook {
  padding: 10px 15px;
}
.header-bottom nav .navbar-collapse ul li .list-social-network .list-items a i.fa-linkedin {
  padding: 10px 13px;
}
.header-bottom nav .navbar-collapse ul li .list-social-network .list-items a i.fa-twitter {
  padding: 10px 13px;
}
.header-bottom nav .navbar-collapse ul li .list-social-network .list-items a i.fa-google-plus {
  padding: 10px 9px;
}
.header-bottom nav .navbar-collapse ul li .list-social-network .list-items a i.fa-youtube {
  padding: 10px 13px;
}
@media only screen and (min-width: 1200px) {
  .header-bottom nav .navbar-collapse ul li .active {
    color: #FFFFFF !important;
    background-color: #F9A4A7;
  }
}
@media only screen and (min-width: 1200px) {
  .header-bottom nav .navbar-collapse ul li:hover.dropdown-submenu > ul.dropdown-menu {
    top: -1px !important;
    left: 93%;
  }
  .header-bottom nav .navbar-collapse ul li:hover > ul.dropdown-menu {
    display: block;
    position: absolute;
    opacity: 1;
    background-color: #fafafa !important;
    padding-top: 0px !important;
  }
  .header-bottom nav .navbar-collapse ul li:hover > ul.dropdown-menu li {
    margin: 0px;
  }
  .header-bottom nav .navbar-collapse ul li:hover > ul.dropdown-menu li:hover {
    background-color: #F9A4A7 !important;
  }
  .header-bottom nav .navbar-collapse ul li:hover > ul.dropdown-menu li:hover > a {
    color: #FFFFFF !important;
  }
  .header-bottom nav .navbar-collapse ul li:hover > ul.dropdown-menu li a {
    color: #404040 !important;
    margin-left: 5px;
    padding-bottom: 5px !important;
    border: none !important;
    background-color: rgba(0, 0, 0, 0) !important;
    border-radius: unset;
    font-size: 14px !important;
    border-bottom: 1px solid transparent !important;
  }
}
.header-bottom nav .navbar-collapse ul li .dropdown-menu {
  position: absolute;
  opacity: 1;
  padding-top: 0px;
  list-style: none;
  /*display: none;*/
  width: 100%;
  top: 31px !important;
  left: 0;
  padding-bottom: 0px !important;
  text-align: left;
  min-width: 300px;
  padding-left: 0;
  -webkit-transition-property: opacity,top;
  transition-property: opacity,top;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  z-index: 1030;
  margin-top: 1px;
}
@media only screen and (max-width: 1200px) {
  .header-bottom nav .navbar-collapse ul li .dropdown-menu {
    border: none !important;
    box-shadow: none !important;
    position: static;
    height: auto;
    overflow: scroll;
  }
}
.header-bottom nav .navbar-collapse ul li .dropdown-menu li {
  margin: 0px;
  padding-bottom: 0px !important;
  border: none !important;
  background-color: #fafafa !important;
  border-radius: unset;
  font-size: 14px !important;
}
@media only screen and (max-width: 1200px) {
  .header-bottom nav .navbar-collapse ul li .dropdown-menu li {
    padding: 3px 0px !important;
  }
}
.header-bottom nav .navbar-collapse ul li .dropdown-menu li a {
  font-size: 14px;
  color: #404040 !important;
  border: none !important;
  border-radius: unset;
  font-family: Roboto-Regular;
  cursor: pointer;
  padding: 10px 20px;
}
.header-bottom nav .header-tool {
  position: absolute;
  right: 0;
  padding-top: 30px;
  padding-right: 10px;
}
.header-bottom nav .header-tool .btn-group a {
  font-size: 16px;
  color: #F9A4A7;
}
.header-bottom nav .header-tool .btn-group a:hover,
.header-bottom nav .header-tool .btn-group a :focus,
.header-bottom nav .header-tool .btn-group a :active {
  text-decoration: none !important;
}