@import "config.less";

body {
    font-family: Roboto-Regular;
}

#backToTop {
    bottom: 15px;
    position: fixed;
    right: 12px;
    z-index: 1000;
    background: rgba(0,0,0,.4);
    border-radius: 4px;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 45px;
    opacity: .8;
    color: #fff;

    &:hover {
        background-color: @main-color;
    }
}

#myCarousel {
    .active {
        .item {
            a {
                font-size: 40px;
                height: 40px;
                width: 40px;

                img {
                    margin-left: auto;
                    margin-right: auto;
                    height: auto;
                    display: block;
                    -webkit-animation: zoomin 18s ease-in infinite;
                    animation: zoomin 18s ease-in infinite;
                    transition: all 1s ease-in-out;
                    overflow: hidden;

                    @media @mobile {
                        max-height: unset;
                    }
                }
            }
        }
    }

    img {
        margin-left: auto;
        margin-right: auto;
        height: auto;
        display: block;

        @media @mobile {
            max-height: unset;
        }
    }

    .fa-angle-left {
        left: 50%;
    }

    .fa-angle-right {
        right: 50%;
    }

    .owl-nav {
        // display: none;
        .owl-prev {
            position: absolute;
            top: 50%;
            left: 20px;
            margin-top: -20px;
            transition: all 0.2s;
            /*background: @color-white;*/
            color: @color-text;
            font-size: 17px;
            border-radius: 50%;
            height: 30px;
            line-height: 30px;
            width: 30px;
            /*border: 1px solid @color-text-grey;*/
            &:hover, :active, :focus {
                background-color: @main-color;
                color: @color-white;
                border: none !important;
            }
        }

        .owl-next {
            position: absolute;
            top: 50%;
            right: 20px;
            margin-top: -20px;
            transition: all 0.2s;
            /*background: @color-white;*/
            color: @color-text;
            font-size: 17px;
            border-radius: 50%;
            height: 30px;
            line-height: 30px;
            width: 30px;
            /*border: 1px solid @color-text-grey;*/
            &:hover, &:active, &:focus {
                background-color: @main-color;
                color: @color-white;
                border: none !important;
            }
        }

        button {
            img {
                width: 30px;
                height: 30px;
            }

            span {
                position: absolute;
                top: -1px;
                right: 13px;
            }
        }
    }

    &:hover {
        .owl-nav {
            display: block;
        }
    }

    .owl-dots {
        text-align: center;
        margin-top: 10px;

        .owl-dot {
            padding: 0 2px !important;

            span {
                display: inline-block;
                width: 12px;
                height: 12px;
                margin: 1px;
                text-indent: -999px;
                cursor: pointer;
                background-color: @color-text-grey;
                border: none !important;
                border-radius: 12px;
                font-size: 12px;

                &:focus {
                    border: none !important;
                }
            }
        }

        .active {
            border: none !important;

            span {
                background-color: @main-color;
            }
        }
    }
}

#video {
    padding-top: 60px;
    padding-bottom: 80px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    @media @mobile {
        background-size: auto 100%;
        padding: 20px 0px;
    }

    @media @mobile {
        background-size: auto 100%;
    }

    .titlebar {
        h3 {
            color: @color-white;
        }

        margin-bottom: 20px;

        .image {
            &:before, &:after {
                background-color: @color-white
            }
        }
    }
}

.video-container {
    margin: auto;
    width: 70%;
    padding: 15px;
    background-color: @color-white;

    @media @mobile {
        width: 100%;
    }

    .video-default {
        position: relative;

        @media @mobile {
            iframe {
                height: 240px !important;
            }
        }
    }

    #video-silder {
        padding-top: 10px;

        .thumbnail {
            position: relative;
            border: none;
            padding: 0px;
            margin-bottom: 0px;
        }

        .item {
            .selected {
                .pause-video {
                    background-color: rgba(255,0,0,.8);
                }
            }
        }

        .pause-video {
            position: absolute;
            left: 40%;
            bottom: 43%;
            font-size: 10px;
            color: #fff;
            height: 20px;
            width: 25px;
            line-height: 22px;
            background-color: @color-text;
            border-radius: 4px;
            text-align: center;
            opacity: .8;
            vertical-align: middle;

            &:hover {
                background-color: rgba(255,0,0,.8);
            }
        }

        .carousel-caption {
            p {
                color: @main-color;
                font-size: 25px;
            }
        }

        @media @mobile {
            padding-top: 20px;
        }
    }
}

#agency {
    padding-bottom: 20px;
    padding-top: 10px;

    #agencySlider {
        padding-top: 10px;

        .item {
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 90px;

            img {
                width: 100%;
            }
        }
    }
}

.contact {
    padding-top: 55px;
    padding-bottom: 60px;
    /*background-image: url('../../images/bgr-web/bgr lien he-19.jpg');*/
    background-position: initial;
    background-repeat: no-repeat;
    background-size: 100% auto;

    @media @mobile {
        background-image: none;
        padding: 20px 0px;
    }

    .item-contact {
        background-color: #F5F5F5;
        position: relative;
        text-align: center;
        display: flex;
        font-family: Roboto-Regular !important;
        /*align-items: center;*/
        justify-content: center;
        margin-bottom: 40px;
        min-height: 300px;
        /*&:last-child {
            @media @mobile {
                margin-bottom: 20px;
            }
        }*/
        .icon {
            color: @main-color;
            position: absolute;
            top: -40px;
            left: auto;
            right: auto;
            font-size: 50px;
            width: 80px;
            height: 80px;
            line-height: 80px;

            @media @mobile {
                padding-top: 20px;
            }

            i {
                background-color: @color-white;
                border-radius: 100%;
                border: 3px solid #f5f5f5;
                width: 80px;
                height: 80px;
                line-height: 80px;
            }
        }

        .content {
            padding: 60px 23px 0px 23px;

            .title {
                color: @main-color;
                text-transform: uppercase;
                font-size: 20px;
                font-weight: 600;
                padding-bottom: 10px;
                font-family: Roboto-Regular !important;
                text-align: center;
                text-transform: uppercase;
            }

            .value {
                color: #333;
                font-size: 18px;

                a {
                    font-family: Roboto-Regular !important;
                    color: @color-text;
                    font-size: 18px;
                    text-decoration: none;

                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }

        .value {
            a {
                color: #333 !important;
            }
        }
    }

    .angency-system {
        background-color: #F5F5F5;
        margin-bottom: 20px;
        margin-right: -20px;
        overflow-y: scroll;
        font-family: Roboto-Regular !important;

        @media @mobile {
            margin-right: unset;
        }

        .header {
            height: 20px;
            background-color: #EAE9E5;
        }

        ul {
            list-style-type: none;
            padding-left: 0px;
            background-color: #F5F5F5;

            li {
                font-size: 16px;
                color: @color-text;
                padding: 10px 15px;
                border-bottom: 1px solid @border-color;
                cursor: pointer;
                font-family: Roboto-Regular !important;

                .title {
                    margin-top: 10px;
                    margin-bottom: 5px;
                    color: @color-text-bold;
                    font-size: 16px;
                    font-family: OpenSans-Bold;
                }

                .content {
                    p {
                        color: @color-text-opacity;
                        font-size: 16px;
                        padding: 3px 0px;
                        margin-bottom: 0px;
                    }

                    .value {
                        color: #333;
                    }
                }

                &:last-child {
                    border-bottom: none;
                }
            }

            .select {
                background-color: @main-color;

                .title {
                    color: @color-white;
                }

                .content {
                    p {
                        color: @color-white;
                    }
                }
            }
        }
    }
}

.breadcrumb {
    .container {
        .row {
            .list-inline {
                li {
                    a {
                        &:hover {
                            color: @color-text-grey;
                        }
                    }

                    font-size: 16px;

                    span {
                        color: @main-color;
                    }
                }
            }
        }
    }
}

#news {
    .even {
        background-color: @color-white;
    }

    .odd {
        background-color: #f5f5f5;
    }

    hr {
        margin-bottom: 20px;
    }

    .block-news {
        padding-bottom: 10px;
    }
}

#category-news {
    @media @mobile {
        background-image: none;
    }

    hr {
        margin-bottom: 25px;
    }
}

#news-detail {
    .news-detail {
        .title {
            color: @color-text;
            font-size: 20px;
            margin-bottom: 0;
            /*text-transform: uppercase;*/
            font-family: Roboto-Regular;
            padding-bottom: 10px;
        }

        #social-network {
            ul {
                height: unset;
                margin-bottom: 20px;
            }

            li {
                padding: 5px;

                a {
                    font-size: 14px;
                    color: @color-text-grey;
                }

                .time {
                    border: none;
                    padding-right: 10px;
                    margin-right: -5px;
                    border-right: 1px solid @color-text-grey;
                }
            }
        }

        .content {
            padding-bottom: 30px;
            padding-top: 0px;
            font-family: Opensans;

            img {
                padding: 0px;
            }

            table {
                tr {
                    td {
                        p {
                            padding: 0px !important;
                        }
                    }
                }
            }
        }
    }
}

.sidebar-news-host {
    padding-top: 15px;

    .title-sidebar {
        font-size: 16px;
        margin: 10px 0px;
        font-family: Roboto-Bold !important;
        padding-bottom: 10px;
        border-bottom: 2px solid @color-border;
        color: @color-text;
    }

    .list-news {
        padding-left: 0px;
        list-style: none;
        padding-left: 0px;

        li {
            padding: 10px 0px;

            .media-left {
                min-width: 90px;
                overflow: hidden;
                padding-right: 12px;
            }

            .media-body {
                a {
                    color: @color-text;
                    transition: 0.3s ease;
                    font-family: Opensans;
                    font-size: 13px;

                    &:hover {
                        text-decoration: none;
                        color: @main-color;
                    }
                }

                .calendar {
                    color: @color-text-opacity;
                    font-size: 12px;
                    padding-bottom: 0px;
                }
            }

            border-bottom: 1px solid @color-border;
        }
    }

    .list-banner {
        list-style: none;
        padding-left: 0px;

        li {
            padding: 10px 0px;
        }
    }
}

.video-item {
    width: 100%;
    display: block;
    overflow: hidden;

    .thumbnail-video {
        img {
            width: 100%;
        }
    }

    .title-video-default {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 10px;
        padding-top: 0px;

        a {
            text-decoration: none;
            font-size: 20px;
            color: @main-color;

            @media @mobile {
                font-size: 20px;
            }
        }
    }

    .title-video {
        margin-top: 0px;
        padding-top: 10px;
        font-size: 16px;
        min-height: 60px;

        @media @mobile {
            min-height: 60px;
            font-size: 14px;
        }

        a {
            text-decoration: none;
            color: @color-text;
        }
    }

    .description {
        padding: 10px;
        font-size: 14px;
        color: @color-text-opacity;
        padding-top: 0px;
        /*min-height:80px;*/
    }

    &:hover {
        a {
            text-decoration: none;
            color: @main-color;
        }
    }

    .thumbnail-video {
        display: block;
        overflow: hidden;
        position: relative;
        width: 100%;
        background: @color-white;

        a {
            img {
                width: 100%;
                min-height: 200px;

                @media @mobile {
                    min-height: unset;
                }
            }
        }
    }

    margin-bottom: 10px;
}

.duration_video {
    position: absolute;
    left: 40%;
    bottom: 43%;
    font-size: 15px;
    color: @color-white;
    height: 36px;
    width: 48px;
    line-height: 36px;
    background-color: #333;
    border-radius: 7px;
    text-align: center;
    opacity: .8;
    vertical-align: middle;

    @media @mobile {
        height: 21px;
        width: 28px;
        line-height: 21px;
        border-radius: 4px;
        font-size: 10px;
    }
}

.pagination {
    li {
        a {
            border: 1px solid @color-border;
            height: 30px;
            width: 30px;
            font-size: 13px;
            padding: 5px;
            margin: 0 5px;
            color: @color-text;
            text-align: center;
            vertical-align: middle;
        }

        &:first-child, &:last-child {
            padding-right: 5px;

            a {
                &:hover, &:focus, &:active {
                    text-decoration: none;
                    background-color: none;
                    background: none;
                }
            }
        }

        .active, &:hover {
            color: @color-white;
            background-color: @main-color;
        }

        .disabled {
            color: #b2bec3;
            cursor: context-menu;

            &:hover {
                color: @color-white;
                background-color: @main-color;
            }
        }
    }
}

.header {
    img {
        max-height: 500px;
        object-fit: cover;
        width: 100% !important;

        @media @mobile {
            height: auto !important;
        }
    }
}

.category-fixed {
    position: fixed !important;
    top: 110px !important;
    width: 14% !important;
}

.titlebar {
    font-family: PlayfairDisplay-Regular !important;
    text-align: center;

    h3 {
        margin-bottom: 10px !important;
        font-size: 50px;
        color: @color-text;
    }

    @media @mobile {
        font-size: 22px;
    }

    .image {
        &:before, &:after {
            width: 120px;
            height: 1px;
            background: @main-color;
            content: '';
            display: inline-block;
            color: #fff;
            top: 0px;
            position: relative;
            margin: 0 10px;
        }

        @media @mobile {
            &:before, &:after {
                width: 50px;
                height: 1px;
                background: @main-color;
                content: '';
                display: inline-block;
                color: white;
                top: -5px;
                position: relative;
                margin: 0px 5px 0px 0px;
            }
        }
    }
}

.zoom {
    &:hover {
        transform: scale(1.05);
        transition: ease-in-out 500ms;
    }
}

.category-mobile {
    text-align: left;
    padding-bottom: 10px;

    .btn-main-color {
        background-color: @main-color;
        border: none !important;

        &:hover, &:active {
            border: none !important;
            background-color: @main-color;
        }
    }

    .block-news {
        .news-item {
            min-height: 195px;
            overflow: hidden;
            padding-bottom: 10px;

            &:nth-child(2n + 1) {
                padding-left: 7px;
            }

            &:nth-child(2n) {
                padding-right: 7px;
            }

            @media @tablet {
                min-height: 310px;
            }

            .image-content {
                overflow: hidden;
                overflow-y: hidden;
                display: block;
                border: 1.5px solid @main-color;
                border-radius: 12px;
            }

            .title {
                padding-top: 5px;
                font-size: 14px;
                height: 60px;

                @media @tablet {
                    font-size: 16px;
                }

                a, p {
                    text-decoration: none;
                    color: @color-text-grey;
                }
            }
        }
    }
}

.header {
    img {
        width: 100%;
        overflow: hidden;
    }

    .breadcrumb {
        background-color: #E8E8E8;
        margin-bottom: 0px !important;
        border-radius: unset;

        ul {
            padding-left: 0px;
            list-style-type: none;
            margin-bottom: 0px;

            li {
                a {
                    color: @main-color;
                    font-size: 14px;

                    &:hover {
                        text-decoration: none;
                    }
                }

                padding: 0px 10px;
                border-right: 1px solid @color-text-bold;

                &:last-child {
                    border-right: none;
                    color: @color-text;
                }

                &:first-child {
                    padding-left: 0px;
                }
            }
        }
    }
    /*min-height: 650px;*/
    @media @mobile {
        height: unset;
    }
}

#news-in-homepage {
    padding: 40px 0px;

    .heading {
        background-color: @background-color-footer;
        padding-bottom: 150px;
        padding-top: 20px;
    }

    .content {
        margin-top: -130px;
    }
}

#news-hot-in-homepage {
    padding: 30px 0px;

    #news-slider {
        .slick-track {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .slick-slide {
            padding: 0px 5px;
            position: relative;

            .news-content {
                display: none;
            }
        }

        .slick-center {
            z-index: 9999;

            .news-image {
                background-color: @color-white;
                box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);

                img {
                    transform: scale(1.8);
                    transition: ease-in-out 500ms;
                }
            }

            .news-content {
                margin-top: 25%;
                margin-left: -40%;
                margin-right: -40%;
                /*transform: scaleX(1.8);*/
                display: block;
                color: @color-text;
                text-align: center;
                background-color: @color-white;

                .title {
                    padding: 10px 20px;
                    font-family: PlayfairDisplay-Bold;
                    padding-top: 10px;
                    font-size: 24px;
                    margin-bottom: 10px;

                    a {
                        text-decoration: none;
                        color: @color-text;
                    }
                }

                .description {
                    padding: 0px 20px;
                    font-family: Opensans;
                    font-size: 14px;
                }
            }
        }
    }
}

.slick-next, .slick-prev {
    /*color: @color-text;*/
    /*&:before {
                color: @color-text;
            }*/
    img {
        width: 25px;
        height: 25px;
    }
}

#menu-middle {
    padding: 30px 0px;
    position: relative;
    z-index: 1020;

    .titlebar {
        margin-bottom: 40px;
    }

    #menuMiddlerSlider {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        .menu-item {
            margin: 0px 5px;
            border: 2px solid @background-color-footer;
            /*margin-bottom: calc(7%);*/
            display: flex !important;
            align-content: center;
            align-items: center;
            flex-direction: column;
            flex-basis: 24%;

            &:hover {
                box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
                border: none;
            }

            .logo {
                text-align: center;
                margin-top: calc(-15%);
            }

            .menu-name {
                padding: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;

                a {
                    font-family: PlayfairDisplay-Bold;
                    font-size: 20px;
                    text-align: center;
                    color: @color-text;
                    text-decoration: none;
                }

                .description {
                    padding-top: 10px;
                    text-align: center;
                    font-family: Opensans;
                    font-size: 16px;
                }
            }
        }

        .slick-slide {
            padding: 0px 5px;
            position: relative;
        }

        .slick-track {
            margin-top: 60px;
        }
    }
}

.news-item {
    background-color: @color-white;
    padding: 10px;
    border: 2px solid @color-border;
    margin-bottom: 35px;

    .image-content {
        width: 100%;
        overflow: hidden;
    }

    .wrap-text-content {
        @media @not_mobile {
            /*padding-left: 30px;*/
            min-height: 200px;
        }

        .title {
            min-height: 50px;
            font-family: PlayfairDisplay-Bold;
            font-size: 15px;

            @media @tablet {
                min-height: 50px;
            }

            a {
                color: @color-text;

                @media @mobile {
                    font-size: 20px;
                }
            }

            padding: 5px 0px;
            font-size: 16px;

            @media @mobile {
                font-size: 14px;
            }
        }

        .description {
            font-size: 14px;
            font-family: Opensans;

            @media @mobile {
                font-size: 16px;
            }
        }
    }

    &:hover {
        /*box-shadow: 1px 1px 1px 1px @color-border;*/
        box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
        border: none;

        .wrap-text-content {
            .title {
                a {
                    text-decoration: none;
                    color: @main-color;
                }
            }

            .btn-main {
                background-color: @main-color;
                color: @color-white;
            }
        }
    }
}

#core-value {
    position: relative;
    background-color: #FAFAFA;
    padding: 0px;

    .heading {
        position: relative;
        z-index: 1000;
        background-color: #FAFAFA;
        padding-bottom: 30px;
        padding-top: 30px;
    }

    .center {
        display: flex;
        align-items: center;
        justify-content: center
    }

    .selector, .selector button {
        font-family: 'Oswald', sans-serif;
        font-weight: 300;
    }

    .selector button {
        position: absolute;
        width: 50%;
        height: 100%;
        background: @color-white;
        border-radius: 50%;
        border: 0;
        color: white;
        font-size: 20px;
        cursor: pointer;
        box-shadow: 0 6px 6px rgba(0, 0, 0, 0.1);
        transition: all .1s;
        z-index: 1000;

        img {
            width: 100%;
            height: 100%;
        }
    }

    .selector button:focus {
        outline: none;
    }

    .selector {
        position: relative;
        width: 992px;
        height: 496px;
        display: flex;
        align-items: center;
        justify-content: center;
        /*margin-top: -285px;
        margin-bottom: -305px;*/
    }

    .selector ul {
        position: absolute;
        list-style: none;
        padding: 0;
        margin: 0;
        top: -20px;
        right: -20px;
        bottom: -20px;
        left: -20px;
        /*background-color: @color-white;*/
        /*border-radius: 50%;*/
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .selector li {
        position: absolute;
        width: 0;
        height: 100%;
        margin: 0 50%;
        -webkit-transform: rotate(-360deg);
        transition: all 0.8s ease-in-out;
    }

    .selector {
        .active {
            input + label {
                background: @main-color;
                color: @color-white;

                span {
                    border: none !important;
                }

                &:before, &::after {
                    background-color: @color-text;
                }
            }
        }
    }

    .selector li input {
        display: none;
    }

    .selector li input + label {
        position: absolute;
        left: 50%;
        bottom: 125%;
        width: 0;
        height: 0;
        line-height: 1px;
        margin-left: 0;
        background: #fff;
        /*border-radius: 50%;*/
        text-align: center;
        font-size: 1px;
        cursor: pointer;
        box-shadow: none;
        transition: all 0.8s ease-in-out, color 0.1s, background 0.1s;
        border-radius: 20px;
    }

    .selector li input + label:hover {
        background: @main-color;
        color: @color-white;

        span {
            border: none !important;
        }
    }

    .selector li input:checked + label {
        background: @main-color;
        color: white;

        span {
            border: none !important;
        }
    }

    .selector li input:checked + label:hover {
        background: @main-color;
        color: white;

        span {
            border: none !important;
        }
    }

    .selector.open li input + label {
        width: 240px;
        height: 40px;
        line-height: 40px;
        margin-left: -80px;
        /*box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);*/
        font-size: 16px;
        font-family: Opensans-Light;
        text-transform: uppercase;

        span {
            border: 2px solid @color-border;
            border-radius: 50%;
            padding: 8px;
        }
    }

    label {
        display: unset;
        max-width: unset;
        margin-bottom: unset;
        font-weight: 700;
    }

    .bottom {
        background-color: #FAFAFA;
        position: relative;
        z-index: 999;
        padding-bottom: 120px;
    }
}

#product-category-in-homepage {
    position: relative;
    padding: 30px 0px;
    background-color: #FAFAFA;

    .category-item {
        padding-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: center;

        .image {
            flex-basis: 49%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            width: 100%;
        }

        .content {
            flex-basis: 49%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            .number {
                color: @main-color;
                font-family: Opensans-Bold;
                font-size: 90px;
            }

            .title {
                font-family: Opensans-Semibold;
                font-size: 30px;

                a {
                    color: @color-text;
                    text-decoration: none;
                }
            }

            .description {
                font-family: Opensans;
                color: @color-text;
                font-size: 15px;
            }

            &:hover {
                .title {
                    a {
                        text-decoration: none;
                        color: @main-color;
                    }
                }

                .btn-main {
                    background-color: @main-color;
                    color: @color-white;
                }
            }
        }
    }

    .odd {
        .content {
            align-items: flex-end;
        }
    }

    .even {
        .content {
            align-items: flex-start;
        }
    }
}

#product-categoty-hot-in-homepage {
    position: relative;
    padding: 30px 0px;

    .btn-toolbar {
        padding-bottom: 20px;
    }
}

#box-hotline {
    background-color: @background-color-footer;
    color: @color-text;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 4px;

    .header {
        width: 100%;
        text-align: center;
        padding: 30px;
        border-bottom: 2px solid @color-white;

        h4 {
            color: @color-text;
            font-family: PlayfairDisplay;
            font-size: 20px;
            font-weight: bold;
        }
    }

    .content {
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        width: 100%;

        .inbox {
            display: flex;
            flex-direction: column;
            align-items: center;

            .text-send-mobile {
                text-align: center;
                font-family: PlayfairDisplay;
                font-size: 18px;
                color: @color-text;
            }

            .input-group {
                margin-top: 10px;

                input {
                    border-bottom-left-radius: 2px solid @color-border;
                    border-top-left-radius: 2px solid @color-border;
                    border-radius: 4px;
                    border-bottom-right-radius: 0px;
                    border-top-right-radius: 0px;
                    width: 250px;
                }

                .input-group-btn {
                    .btn-send-phone {
                        padding: 6px 20px;
                        background-color: @main-color;
                        color: @color-white;
                        text-transform: uppercase;
                        font-size: 14px;
                    }
                }
            }
        }

        .image-right {
            img {
                margin-top: -80px;
            }
        }
    }
}

.btn-toolbar {
    padding: 25px 0px;
    display: flex;
    align-items: center;
    justify-content: center;

    .btn-group {
        border: 2px solid @color-border;
        //box-shadow: 0px 0px 2px 2px @color-text-white;
        background-color: @color-white;
        border-left: none;
        border-right: none;
        padding: 5px 0px;

        .filter {
            text-transform: uppercase;
            color: @color-text;
            font-size: 18px;
            /*border-right: 1px solid @color-text;*/
            padding-top: 5px;
            font-family: OpenSans;
            padding: 4px 8px;
            margin: 0px 5px;
            border-top-right-radius: unset !important;
            border-bottom-right-radius: unset !important;
            border-right: 1px solid @color-border;

            @media @mobile {
                font-size: 15px;
            }

            &:last-child {
                border-right: none;
            }

            &:hover {
                background-color: @main-color;
                color: @color-white;
                border-radius: 20px !important;
                border: none !important;
            }
        }

        .active {
            background-color: @main-color;
            color: @color-white;
            border-radius: 20px !important;
            border: none !important;
        }
    }
}

.product-item {
    background-color: @color-white;
    padding: 10px;
    margin-bottom: 35px;

    .image-content {
        width: 100%;
        overflow: hidden;
    }

    .wrap-text-content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        @media @not_mobile {
            /*padding-left: 30px;*/
            min-height: 200px;
        }

        .title {
            font-family: Opensans-Bold;
            font-size: 14px;

            @media @tablet {
                min-height: 50px;
            }

            a {
                color: @color-text;
                font-weight: bold;
            }

            padding: 5px 0px;
            font-size: 14px;
        }

        .description {
            font-size: 14px;
            font-family: Opensans-Light;

            @media @mobile {
                font-size: 16px;
            }
        }

        .price {
            color: @color-text;
            font-weight: bold;
            font-family: Opensans-Bold;
        }

        .star {
            i {
                color: #EED544 !important;
            }
        }

        hr {
            width: 50px;
            height: 1px;
            background-color: @color-border;
            color: @color-border;
        }
    }

    &:hover {
        /*box-shadow: 1px 1px 1px 1px @color-border;*/
        box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
        border: none;

        .wrap-text-content {
            .title {
                a {
                    text-decoration: none;
                    color: @main-color;
                }
            }

            .btn-main {
                background-color: @main-color;
                color: @color-white;
            }
        }
    }
}

.read-more {
    text-align: center;
    margin-top: 10px;

    .btn-main {
        padding: 6px 24px !important;
        font-size: 16px;
        text-transform: uppercase;
        text-align: center;
        margin-top: 10px;
        background-color: @color-white;
        border: @main-color;
        color: @color-text;
        border: 1px solid @main-color;
        border-radius: 20px;
        transition: background-color .3s linear;
    }
}

.lSAction {
    .lSPrev {
        left: 0px;
    }

    .lSNext {
        right: 0px;
    }

    a {
        background-color: @color-white;
        color: white;
        width: 25px;
        height: 25px;
        text-align: center;
        vertical-align: middle;
        margin-top: -4px;
        top: 50%;
        border-radius: 50%;
        opacity: 0.7;
        //border: 2px solid @color-border;
        @media @mobile {
            width: 18px;
            height: 18px;
            top: 59%;
        }

        i {
            font-size: 11px;
            vertical-align: middle;
            color: #BDBCC1;
            vertical-align: middle;
            position: absolute;
            top: 7px;
            right: 7px;

            @media @mobile {
                padding-top: 5px;
                top: -2px;
                right: 3px;
            }
        }

        img {
            width: 25px;
            height: 25px;
        }
    }
}

#abums {
    padding-top: 0px;
    padding-bottom: 20px;

    .video-container {
        width: 90%;
    }
}
