
    <LINK href="~/css/test/main.css" rel="stylesheet">
    @*<LINK href="~/css/test/cookieconsent.min.css" rel="stylesheet" type="text/css">*@
    
    <SECTION id="content" typeof="Content"
             vocab="http://schema.org/">
        <main>
            <STYLE>
                .safari_ios #scroll-special {
                    display: none;
                }
            </STYLE>
            <SECTION class="module" id="scroll-special">
                <DIV id="bg"><IMG src="~/images/test/scroll-bg.png"></DIV>
                <DIV class="pinned-elements">
                    <DIV class="headline col-md-4" data-aos="fade-right">
                        <H2>FULL OF IDEAS – FOR YOUR SUCCESS IN BUSINESS</H2>
                        <P class="subline">AMIEA RESEARCH &amp; DEVELOPMENT</P>
                    </DIV>
                    <DIV class="img-wrapper">
                        <IMG class="silhouette" alt="" src="~/images/test/cartridge-sample.png">
                        <IMG class="mobil-part part-4" src="~/images/test/10-grip-back.png">
                        <IMG class="mobil-part part-3" src="~/images/test/09-fassung-back.png">
                        <IMG class="mobil-part part-1" src="~/images/test/08-tip-back.png">
                        <IMG class="mobil-part part-2" src="~/images/test/07.png">
                        <IMG class="mobil-part part-1" src="~/images/test/06-tip-front.png">
                        <IMG class="mobil-part part-2" src="~/images/test/05.png">
                        <IMG class="mobil-part part-2" src="~/images/test/04.png">
                        <IMG class="mobil-part part-3" src="~/images/test/03-fassung-front.png">
                        <IMG class="mobil-part part-3" src="~/images/test/02-motor.png">
                        <IMG class="mobil-part part-4" src="~/images/test/01-grip-front.png">
                        <IMG class="mobil-part part-5" src="~/images/test/00-handpiece.png">
                    </DIV>
                    @*<div class="progress-bar1">
                        <a href="#cart1" class="progress" id="progress-1">
                            <div class="plus"></div>
                            <span>1</span><br />
                        </a>
                        <a href="#cart2" class="progress" id="progress-2">
                            <div class="plus"></div>
                            <span>2</span><br />
                        </a>
                        <a href="#cart3" class="progress" id="progress-3">
                            <div class="plus"></div>
                            <span>3</span><br />
                        </a>
                        <a href="#cart4" class="progress" id="progress-4">
                            <div class="plus"></div>
                            <span>4</span><br />
                        </a>
                        <a href="#cart5" class="progress" id="progress-5">
                            <div class="plus"></div>
                            <span>5</span><br />
                        </a>
                    </div>*@
                    <div class="progress-bar1">
                        <div style="height:15vh">
                            <a href="#cart1" class="progress" id="progress-1">
                                <div class="plus"></div>
                                <span>1</span><br />
                            </a>
                        </div>
                        <div style="height:15vh">
                            <a href="#cart2" class="progress" id="progress-2">
                                <div class="plus"></div>
                                <span>2</span><br />
                            </a>
                        </div>
                        <div style="height:15vh">
                            <a href="#cart3" class="progress" id="progress-3">
                                <div class="plus"></div>
                                <span>3</span><br />
                            </a>
                        </div>
                        <div style="height:15vh">
                            <a href="#cart4" class="progress" id="progress-4">
                                <div class="plus"></div>
                                <span>4</span><br />
                            </a>
                        </div>
                        <div style="height:15vh">
                            <a href="#cart5" class="progress" id="progress-5">
                                <div class="plus"></div>
                                <span>5</span><br />
                            </a>
                        </div>
                    </div>
                    @*<div class="progress-bar1">
                        <a href="#cart1" class="progress" id="progress-1">
                            <div class="plus"></div>
                            <span>1</span>
                        </a>
                        <a href="#cart2" class="progress" id="progress-2">
                            <div class="plus"></div>
                            <span>2</span>
                        </a>

                        <a href="#cart3" class="progress" id="progress-3">
                            <div class="plus"></div>
                            <span>3</span>
                        </a>
                        <a href="#cart4" class="progress" id="progress-4">
                            <div class="plus"></div>
                            <span>4</span>
                        </a>
                        <a href="#cart5" class="progress" id="progress-5">
                            <div class="plus"></div>
                            <span>5</span>
                        </a>
                    </div>*@
                </DIV>

                <DIV class="content-wrap">
                    <DIV class="content-box" id="cartridge-0">
                        <DIV class="pin-wrap" id="cart-0-pin">
                            <DIV class="img-wrap invisible"><IMG alt="" src="~/images/test/cartridge-sample.png"></DIV>
                            <DIV class="text-content">
                                <SPAN class="subline-red">INNOVATION</SPAN>

                                <P>
                                    Let us show you the strongest argument about quality products "Made in
                                    Germany".
                                </P>
                            </DIV>
                        </DIV>
                    </DIV>
                    <DIV class="content-box" id="cartridge-1">
                        <A name="cart1" class="anchor"></A>

                        <DIV class="pin-wrap" id="cart-1-pin" style="z-index: 18;">
                            <DIV class="img-wrap cart-part"><IMG src="~/images/test/06-tip-front.png"></DIV>
                            <DIV class="text-content">
                                <SPAN class="subline-red">SAFETY</SPAN>
                                <SPAN class="headline">SINGLE-USE CARTRIDGES</SPAN>
                                <P>
                                    amiea has patented the first system that integrates needles into single-use
                                    cartridges. Its structure offers extremely precise and clean insertions.
                                </P>
                                <P>
                                    They are easy to use. All cartridges are supplied sterile. With the excellent
                                    cartridges from amiea, you can create perfect results and impress your
                                    clients.
                                </P>
                            </DIV>
                        </DIV>
                        <DIV class="pin-wrap" id="cart-1-pin-back" style="z-index: 2;">
                            <DIV class="img-wrap cart-part"><IMG src="~/images/test/08-tip-back.png"></DIV>
                        </DIV>
                    </DIV>
                    <DIV class="content-box" id="cartridge-2">
                        <A name="cart2" class="anchor"></A>

                        <DIV class="pin-wrap" id="cart-2-pin" style="z-index: 16;">
                            <DIV class="img-wrap cart-part">
                                <IMG class="animate-cart" style="transform: translateY(-10vh);"
                                     src="~/images/test/04.png"><IMG style="top: -100%; position: relative;"
                                                                      src="~/images/test/05.png">
                            </DIV>
                            <DIV class="text-content">
                                <SPAN class="subline-red">PERFECTION</SPAN>
                                <SPAN class="headline">NANO NEEDLES</SPAN>
                                <P>
                                    As small and beautiful as you can get. Our high-quality needles help you to
                                    create the perfect illusion of the finest tiny hairs. NanoNT impresses our
                                    clients and will enhance your work too. The innovative steel tube on the tip
                                    provides support and stabilizes the needle. As such, you can enjoy better
                                    results – to the benefit of your clients.
                                </P>
                            </DIV>
                        </DIV>
                        <DIV class="pin-wrap" id="cart-2-pin-back" style="z-index: 14;">
                            <DIV class="img-wrap cart-part">
                                <IMG class="cart-part animate-cart" style="transform: translateY(40vh);"
                                     src="~/images/test/07.png">
                            </DIV>
                        </DIV>
                    </DIV>
                    <DIV class="content-box" id="cartridge-3">
                        <A name="cart3" class="anchor"></A>

                        <DIV class="pin-wrap" id="cart-3-pin" style="z-index: 18;">
                            <DIV class="img-wrap cart-part">
                                <IMG class="animate-cart" style="transform: translateY(10vh);"
                                     src="~/images/test/03-fassung-front.png"><IMG class="animate-cart" style="top: -100%; position: relative; transform: translateY(-20vh);"
                                                                                    src="~/images/test/02-motor.png">
                            </DIV>
                            <DIV class="text-content">
                                <SPAN class="subline-red">HYGIENE</SPAN> <SPAN class="headline">
                                    SAFETY
                                    MEMBRANE
                                </SPAN>
                                <P>
                                    All amiea needle modules are fitted with a special safety membrane on the
                                    back. This prevents the backflow of blood and other bodily fluids. In other
                                    words, 100% safety: this increases trust from your clients and allows you to
                                    focus on your work.
                                </P>
                            </DIV>
                        </DIV>
                        <DIV class="pin-wrap" id="cart-3-pin-back" style="z-index: 4;">
                            <DIV class="img-wrap cart-part">
                                <IMG class="animate-cart" style="transform: translateY(10vh);"
                                     src="~/images/test/09-fassung-back(1).png">
                            </DIV>
                        </DIV>
                    </DIV>
                    <DIV class="content-box" id="cartridge-4">
                        <A name="cart4" class="anchor"></A>

                        <DIV class="pin-wrap" id="cart-4-pin" style="z-index: 20;">
                            <DIV class="img-wrap cart-part"><IMG src="~/images/test/01-grip-front(1).png"></DIV>
                            <DIV class="text-content">
                                <SPAN class="subline-red">FUNCTIONALITY</SPAN>
                                <SPAN class="headline">EASY TO USE</SPAN>
                                <P>
                                    Our intelligent cartridges make it easy for you to make the switch. Enjoy the
                                    largest range of different needle configurations in an instant, from shading to
                                    fine lines – all options are open. So you can focus fully on your
                                    clients.
                                </P>
                            </DIV>
                        </DIV>
                        <DIV class="pin-wrap" id="cart-4-pin-back" style="z-index: 2;">
                            <DIV class="img-wrap cart-part"><IMG src="~/images/test/10-grip-back(1).png"></DIV>
                        </DIV>
                    </DIV>
                    <DIV class="content-box" id="cartridge-5">
                        <A name="cart5" class="anchor"></A>

                        <DIV class="pin-wrap" id="cart-5-pin" style="z-index: 22;">
                            <DIV class="img-wrap">
                                <IMG class="animate-cart" style="transform: translateY(20vh);"
                                     src="~/images/test/00-handpiece(1).png">
                            </DIV>
                            <DIV class="text-content">
                                <SPAN class="subline-red">HIGH-TECH</SPAN><SPAN class="headline">
                                    Frequency
                                    &amp; Power
                                </SPAN>
                                <P>
                                    We only use high-quality electronic components and materials. Thanks to our
                                    modern handpieces, you can easily control insertion speed and strength. This
                                    means more precise insertion holes and a better color insertion for long-lasting
                                    results. Thus you can create first-class eyebrows, eyeliner and lips that your
                                    clients will love.
                                </P>
                            </DIV>
                        </DIV>
                    </DIV>
                    <DIV class="content-box" id="cartridge-6">
                        <A name="cart6" class="anchor"></A>

                        <DIV class="pin-wrap" id="cart-6-pin" style="z-index: 20;">
                            <DIV class="text-content"></DIV>
                        </DIV>
                        <DIV class="pin-wrap" id="cart-6-pin-back"
                             style="z-index: 2;"></DIV>
                    </DIV>
                </DIV>
            </SECTION>
        </main>
    </SECTION>
    @*<SCRIPT src="~/js/test/cookieconsent.min.js"></SCRIPT>*@

    <SCRIPT src="~/js/test/main.min.js"></SCRIPT>

    <SCRIPT src="~/js/test/runtime.js"></SCRIPT>

    <SCRIPT src="~/js/test/main.js"></SCRIPT>

