@*@using Clinic.Website.Models
    @model LoginViewModel*@
@{
    ViewBag.Title = "Đăng nhập hệ thống";
}

<div class="container">
    <div class="row" id="wrapperLogin">
        <div class="col-md-4 bg-white">
            @*<h4 class="title-border">Đăng nhập</h4>
                <div class="line"></div>*@
            <form class="form-horizontal login-form" data-bind="submit: doLogin">
                <div class="center">
                    <img class="logo" src="~/assets/images/logo.png" alt="Phòng khám đa khoa thái thịnh" />
                </div>
                <div class="form-group" data-bind="attr: {class: isUserNameError() ? 'form-group has-error' : 'form-group'}">
                    <label class="col-sm-12">Tên đăng nhập (Mã bệnh nhân)</label>
                    <div class="col-sm-12">
                        <div class="input-icon">
                            <i class="fa fa-user"></i>
                            <input type="text" placeholder="VD: 121129193105" class="form-control w100pc user-name" value="" data-bind="value: userName, valueUpdate: 'afterkeydown', hasFocus: userNameFocus" />
                        </div>
                    </div>
                </div>

                <div class="form-group" data-bind="attr: {class: isPasswordError() ? 'form-group has-error' : 'form-group'}">
                    <label class="col-sm-12">Mật khẩu (Số điện thoại)</label>
                    <div class="col-sm-12">
                        <div class="input-icon">
                            <i class="fa fa-key"></i>
                            <input type="password" placeholder="VD: 0123456789 " class="form-control w100pc password" value="" data-bind="value: password, valueUpdate: 'afterkeydown', hasFocus: passwordFocus" />
                        </div>
                    </div>
                </div>

                @*<div class="form-group">
                        <div class="col-sm-12">
                            <div class="alert alert-info">
                                <p>Tài khoản cho khách hàng xem thử</p>
                                <p>Mã số bệnh nhân: 150528081750</p>
                                <p>Số điện thoại: 0111111111</p>
                            </div>
                            <br />
                            <p class="main-text-color bold">Ghi chú:</p>
                            <p>- Vui lòng xem Mã bệnh nhân trên tờ kết quả siêu âm hoặc ảnh màu.</p>
                            <p>- Vui lòng nhập đúng số điện thoại đã đăng ký tại phòng khám.</p>
                        </div>
                    </div>*@
                <div class="form-group">
                    <div class="col-sm-12">
                        Bạn không nhớ mã số? click <a href="javascript://" data-bind="click: showHelpModal">Vào đây</a>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12 text-right">
                        <a href="javascript://" data-bind="enable: !isLoading(), click: doLoginDemoVideo" style="margin-right: 10px;">
                            <i class="fa fa-spinner fa-pulse" data-bind="visible: isLoading" style="display: none"></i>
                            Đăng nhập xem video mẫu
                        </a>
                        <button type="submit" class="btn btn-primary" data-bind="enable: !isLoading()">
                            <i class="fa fa-spinner fa-pulse" data-bind="visible: isLoading" style="display: none"></i>
                            @*@Resources.Button_Login*@
                            Đăng nhập
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-8">
            <iframe width="100%" height="500" src="https://www.youtube.com/embed/vyv22jVskg8" frameborder="0" allowfullscreen></iframe>
        </div>

        <div class="modal fade" id="loginHelpModal" tabindex="-1" role="dialog" aria-labelledby="loginHelpModal-label" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title uppercase bold text-center main-text-color" id="loginHelpModal-label">Trợ giúp</h4>
                    </div>
                    <div class="modal-body">
                        <p>Kính chào quý vị, Để xem trực tuyến hoặc download video siêu âm thai 4D đã được thực hiện tại Phòng khám 125 Thái Thịnh, quý vị vui lòng truy cập vào tài khoản cá nhân với các thông tin sau:</p>
                        <p>- Mã số bệnh nhân: là mã số đã được Phòng khám cung cấp (In trên các phiếu kết quả siêu âm hoặc kết quả xét nghiệm)</p>
                        <p>- Mật khẩu: là số điện thoại di động quý vị đã đăng ký với Phòng khám.</p>

                        <p>
                            Lưu ý: Chương trình này đang trong giai đoạn hoàn thiện. Nếu có gì sai sót, quý vị vui lòng phản hồi tới địa chỉ email: <a href="mailto:info@pkdktt.com">info@pkdktt.com</a> hoặc
                            hotline: 0972 88 11 25 để được hỗ trợ.
                        </p>

                        <p>Xin cảm ơn!</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Quay trở lại đăng nhập</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section knockout {
    <script>
        @*returnUrl = '@(Request["returnUrl"] == null ? "" : Request["returnUrl"])';*@
        //require(["../../Scripts/viewmodel/login/login.viewmodel"]);
        returnUrl = '';
    </script>
    @*@Scripts.Render("~/bundles/login")*@
    <script src="~/assets/plugins/knockout/knockout-latest.js"></script>
    <script src="~/built/viewmodel/login/login.viewmodel.js"></script>
}