<div class="row note">
    <div class="col-sm-12">
        <h4 class="title-border">Lưu ý</h4>
        <div class="line"></div>
        <p>- Hiện nay một số trình duyệt sau xem không được ổn định</p>
        <ul>
            <li class="cm-mgb-10"><i class="fa fa-chrome fa-2x color-green"></i> Chrome</li>
            <li><i class="fa fa-opera fa-2x color-red"></i> Opera</li>
        </ul>
        <p>Vui lòng sử dụng trình duyệt dưới đây để có thể xem được tốt nhất: </p>
        <ul>
            <li class="cm-mgb-10">
                <i class="fa fa-firefox fa-2x color-orange"></i> Firefox
            </li>
            <li class="cm-mgb-10">
                <i class="fa fa-internet-explorer fa-2x color-blue"></i> Internet explorer
            </li>
            <li>
                <i class="fa fa-edge fa-2x color-blue"></i> Microsoft edge
            </li>
        </ul>
    </div>
</div><!-- end .note -->