<div class="wrapper-list-relate-news">
    <h4 class="title-border">Tin liên quan</h4>
    <div class="line"></div>
    <ul class="media-list">
        <li class="media">
            <div class="media-left">
                <a href="#">
                    <img class="media-object" src="~/assets/images/Home_Index/Service/baby-birth.jpg?w=50&h=50&mode=pad" alt="">
                </a>
            </div>
            <div class="media-body">
                <h4 class="media-heading">
                    <a href="javascript://">Tiêu đề tin liên quan</a>
                </h4>
                <div>
                    nội dung mô tả tin liên quan
                </div>
            </div>
        </li>
    </ul>
</div><!-- end wrapper-list-relate-news -->
