@model List<Clinic.DataAccess.Category>

@if (Model != null)
{
    <h4 class="title-border">Chuyên mục</h4>
    <div class="line"></div>
    <ul>
        @foreach (var item in Model)
        {
            <li><a href="@string.Format("/{0}",@item.SeoLink)"><i class="fa fa-long-arrow-right"></i> @item.Name</a></li>
        }
    </ul>
}
