@model List<Clinic.DataAccess.News>
@using Clinic.DataAccess
@{
    var listHotNews = ViewBag.ListHotNews as List<News>;
}

<div class="wrapper-news-tab">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs news-tab" role="tablist">
        <li role="presentation" class="active"><a href="#newNews" aria-controls="newNews" role="tab" data-toggle="tab">Bài mới</a></li>
        <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Nổi bật</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="newNews">
            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    Html.RenderPartial("~/Views/News/_NewsItem.cshtml", item);
                }
            }
        </div>
        <div role="tabpanel" class="tab-pane" id="profile">
            @if (listHotNews != null)
            {
                foreach (var item in listHotNews)
                {
                    Html.RenderPartial("~/Views/News/_NewsItem.cshtml", item);
                }
            }
        </div>
    </div>
</div>