@model string

@{
    string[] tags = !string.IsNullOrEmpty(Model) ? Model.Split(',') : null;
}
<h4 class="title-border">Tags</h4>
<div class="line"></div>
<ul class="tags">
    @if (Model != null && Model.Any())
    {
        foreach (var tag in tags)
        {
            <li><a href="/tags/@tag">@tag</a></li>
        }
    }
</ul>
