@*@using Clinic.Business.Complex.Website
    @{
        var specialist = ViewBag.ListSpecialist as List<SpecialistResult>;
    }

    <div id="facultySlider">
        @foreach (var item in specialist)
        {
            <div class="item">
                <img class="lazy" data-src="@Url.Action("Index", "ImageHandler", new { url = item.Image, width = 270, height = 270}) " />
                <a href="@string.Format("/{0}.html", item.SeoLink)" class="wrapper-info">
                    <div class="name">@item.Title</div>
                    <div class="description">@item.Description</div>
                </a>
            </div>
        }
    </div>*@

<div id="facultySlider">
    @{for (int i = 0; i <= 10; i++)
        {
            <div class="item">
                <img class="lazy" src="~/assets/images/chuyenkhoa.jpg" width="270" height="270" />
                <a href="javascript://" class="wrapper-info">
                    <div class="name">KHoa</div>
                    <div class="description">Khoa</div>
                </a>
            </div>
        }
    }
</div>