@{
    var listEvent = ViewBag.ListEventSideBar as List<EventViewModel>;
}

@if (listEvent != null && listEvent.Any())
{
    <div class="sidebar-event">
        <div class="title">
            <h2>@Resource.Events</h2>
        </div>
        <div class="content">
            <ul class="list-style-none">
                @foreach (var events in listEvent)
                {
                    <li>
                        <a href="@($"/su-kien/{events.SeoLink}.html")" title="@(string.IsNullOrEmpty(events.MetaTitle) ? events.Name : events.MetaTitle)">@events.Name</a>
                    </li>
                }
            </ul>
        </div>
    </div>
}
