@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import 'common';

.m-brand__logo-wrapper {
    img {
        width: 50%; // Temp
    }
}

.m-body .m-content {
    padding: 15px !important;
}

.m-portlet .m-portlet__foot.m-portlet__foot--fit {
    padding: 2.2rem 2.2rem !important;
}

.ghm-label {
    color: #3f4047;
    font-weight: 600;
    font-size: 1rem;
}
