@import url(~@angular/material/prebuilt-themes/deeppurple-amber.css);
.label-color {
  color: #666 !important; }

.w100pc {
  width: 100% !important;
  min-width: 100% !important;
  max-width: 100% !important; }

.w30 {
  width: 30px !important;
  min-width: 30px !important;
  max-width: 30px !important; }

.w50 {
  width: 50px !important;
  min-width: 50px !important;
  max-width: 50px !important; }

.w70 {
  width: 70px !important;
  min-width: 70px !important;
  max-width: 70px !important; }

.w100 {
  width: 100px !important;
  min-width: 100px !important;
  max-width: 100px !important; }

.w150 {
  width: 150px !important;
  min-width: 150px !important;
  max-width: 150px !important; }

.w200 {
  width: 200px !important;
  min-width: 200px !important;
  max-width: 200px !important; }

.w250 {
  width: 250px !important;
  min-width: 250px !important;
  max-width: 250px !important; }

.w300 {
  width: 300px !important;
  min-width: 300px !important;
  max-width: 300px !important; }

.w350 {
  width: 350px !important;
  min-width: 350px !important;
  max-width: 350px !important; }

.cm-pd-0 {
  padding: 0; }

.cm-pd-5 {
  padding: 5px; }

.cm-pd-10 {
  padding: 10px; }

.cm-pd-15 {
  padding: 15px; }

.cm-pd-20 {
  padding: 20px; }

.cm-pdt-0 {
  padding-top: 0; }

.cm-pdt-5 {
  padding-top: 5px; }

.cm-pdt-7 {
  padding-top: 7px; }

.cm-pdt-10 {
  padding-top: 10px; }

.cm-pdt-15 {
  padding-top: 15px; }

.cm-pdb-0 {
  padding-bottom: 0; }

.cm-pdb-5 {
  padding-bottom: 5px; }

.cm-pdb-10 {
  padding-bottom: 10px; }

.cm-pdb-15 {
  padding-bottom: 15px; }

.cm-pdl-0 {
  padding-left: 0; }

.cm-pd-i-0 {
  padding: 0px !important; }

.cm-pdl-i-0 {
  padding-left: 0px !important; }

.cm-pdb-i-0 {
  padding-bottom: 0px !important; }

.cm-pd-i-2 {
  padding: 2px !important; }

.cm-pdl-5 {
  padding-left: 5px; }

.cm-pdl-10 {
  padding-left: 10px; }

.cm-pdl-15 {
  padding-left: 15px; }

.cm-pdl-30 {
  padding-left: 30px; }

.cm-pdr-0 {
  padding-right: 0; }

.cm-pdr-5 {
  padding-right: 5px; }

.cm-pdr-10 {
  padding-right: 10px; }

.cm-pdr-15 {
  padding-right: 15px; }

.cm-pdl-45pc {
  padding-left: 45% !important; }

.hidden {
  display: none !important; }

.show {
  display: inherit !important; }

.cm-mg-0 {
  margin: 0 !important; }

.cm-mg-5 {
  margin: 5px !important; }

.cm-mg-10 {
  margin: 10px !important; }

.cm-mg-15 {
  margin: 15px !important; }

.cm-mg-20 {
  margin: 20px !important; }

.cm-mgt-0 {
  margin-top: 0 !important; }

.cm-mgt-5 {
  margin-top: 5px !important; }

.cm-mgt-10 {
  margin-top: 10px !important; }

.cm-mgt-15 {
  margin-top: 15px !important; }

.cm-mgt-20 {
  margin-top: 20px !important; }

.cm-mgb-0 {
  margin-bottom: 0 !important; }

.cm-mgb-5 {
  margin-bottom: 5px !important; }

.cm-mgb-10 {
  margin-bottom: 10px !important; }

.cm-mgb-15 {
  margin-bottom: 15px !important; }

.cm-mgb-20 {
  margin-bottom: 20px !important; }

.cm-mgl-0 {
  margin-left: 0 !important; }

.cm-mgl-5 {
  margin-left: 5px !important; }

.cm-mgl-10 {
  margin-left: 10px !important; }

.cm-mgl-15 {
  margin-left: 15px !important; }

.cm-mgl-20 {
  margin-left: 20px !important; }

.cm-mgr-0 {
  margin-right: 0 !important; }

.cm-mgr-5 {
  margin-right: 5px !important; }

.cm-mgr-10 {
  margin-right: 10px !important; }

.cm-mgr-15 {
  margin-right: 15px !important; }

.cm-mgr-20 {
  margin-right: 20px !important; }

div.solid-line {
  border-top: 1px solid #ccc !important;
  margin: 10px 0; }

div.tinymce-editor {
  height: auto !important; }
  div.tinymce-editor p {
    margin: 0 0 !important;
    height: auto; }

.text-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 100%; }

.list-items {
  list-style: none;
  padding-left: 0; }
  .list-items li {
    border-left: 3px solid transparent;
    padding: 10px;
    border-bottom: 1px solid #ccc; }
    .list-items li:hover, .list-items li.active {
      border-left: 3px solid #007455;
      cursor: pointer; }
    .list-items li:last-child {
      border-bottom: none; }
    .list-items li p {
      margin: 0; }

button p {
  margin-top: 0;
  margin-bottom: 0; }

table.no-border tr, table.no-border th, table.no-border td {
  border: none !important;
  border-left: none !important;
  border-right: none !important;
  border-top: none !important;
  border-bottom: none !important; }

.pl5 {
  padding-left: 5px; }

.pl10 {
  padding-left: 10px; }

.pl8 {
  padding-left: 8px !important; }

.pl0 {
  padding-left: 0px !important; }

.list-style-none {
  list-style: none; }

.star-title {
  position: relative;
  font-size: 20px;
  color: #b01a1f;
  text-align: center;
  font-size: 25px;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 0;
  font-weight: bold; }

.star-title-decoration {
  text-align: center;
  position: relative;
  display: block;
  width: 130px;
  margin: 0 auto;
  font-size: 20px;
  margin-bottom: 20px;
  color: #b01a1f; }
  .star-title-decoration::before {
    content: "";
    display: inline-block;
    position: absolute;
    bottom: 13px;
    width: 50px;
    left: 0;
    border: 1px solid #b01a1f; }
  .star-title-decoration::after {
    content: "";
    display: inline-block;
    position: absolute;
    bottom: 13px;
    width: 50px;
    right: 0;
    border: 1px solid #b01a1f; }

.btn-radius {
  padding: 10px 30px;
  border-radius: 20px !important;
  font-size: 16px; }

.btn-block {
  width: 100% !important; }

.middle {
  vertical-align: middle !important; }

.va-top {
  vertical-align: top !important; }

.center {
  text-align: center; }

.color-red {
  color: red !important; }

.color-green {
  color: forestgreen !important; }

.color-blue {
  color: dodgerblue !important; }

.color-orange {
  color: #f39c12 !important; }

.color-purple {
  color: #8e44ad !important; }

.fontSize18 {
  font-size: 18px !important; }

.fontSize24 {
  font-size: 24px !important; }

/* Dropdown button */
.nh-dropdown {
  position: relative; }
  .nh-dropdown.open .dropdown-menu {
    display: block; }
  .nh-dropdown .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    border: 1px solid #ccc; }
    .nh-dropdown .dropdown-menu:before {
      position: absolute;
      top: -8px;
      left: 9px;
      right: auto;
      display: inline-block !important;
      border-right: 8px solid transparent;
      border-bottom: 8px solid #ccc;
      border-left: 8px solid transparent;
      content: ''; }
    .nh-dropdown .dropdown-menu:after {
      position: absolute;
      top: -7px;
      left: 10px;
      right: auto;
      display: inline-block !important;
      border-right: 7px solid transparent;
      border-bottom: 7px solid #fff;
      border-left: 7px solid transparent;
      content: ''; }
    .nh-dropdown .dropdown-menu .search-box {
      padding: 8px; }
    .nh-dropdown .dropdown-menu hr {
      margin: 0 !important;
      border-top: 1px solid #ccc; }
    .nh-dropdown .dropdown-menu .wrapper-list-menu {
      min-width: 250px;
      max-height: 250px;
      overflow-y: auto; }
      .nh-dropdown .dropdown-menu .wrapper-list-menu ul {
        list-style: none;
        padding-left: 0;
        display: block;
        width: 100%;
        margin-bottom: 0; }
        .nh-dropdown .dropdown-menu .wrapper-list-menu ul li {
          display: block;
          width: 100%;
          border-bottom: 1px solid #ccc; }
          .nh-dropdown .dropdown-menu .wrapper-list-menu ul li:last-child {
            border-bottom: none; }
          .nh-dropdown .dropdown-menu .wrapper-list-menu ul li.no-data {
            padding: 8px 16px; }
          .nh-dropdown .dropdown-menu .wrapper-list-menu ul li a {
            display: block;
            padding: 8px 16px;
            width: 100%; }
            .nh-dropdown .dropdown-menu .wrapper-list-menu ul li a:hover, .nh-dropdown .dropdown-menu .wrapper-list-menu ul li a.selected {
              text-decoration: none;
              background: #007455;
              color: white; }
            .nh-dropdown .dropdown-menu .wrapper-list-menu ul li a i {
              margin-right: 10px; }

nh-select li.selected {
  background: #007455; }
  nh-select li.selected a {
    color: white; }

/* Suggestion */
.nh-wrapper-suggestion {
  position: relative; }
  .nh-wrapper-suggestion .loading-icon {
    position: absolute;
    top: 10px;
    right: 10px; }
  .nh-wrapper-suggestion .dropdown-menu {
    position: absolute;
    display: block; }
    .nh-wrapper-suggestion .dropdown-menu li.selected a {
      color: white;
      background: #007455; }

.loading-data {
  text-align: center;
  font-size: 20px;
  padding: 50px;
  color: #007455; }

.relative {
  position: relative !important; }

hr {
  margin-top: 5px;
  margin-bottom: 5px; }

.cm-overflow-hidden {
  overflow: hidden !important; }

.italic {
  font-style: italic !important; }

.cm-overflow-x-hidden {
  overflow-x: hidden !important; }

.alert {
  padding: 7px 10px !important;
  margin-top: 5px; }

.error-container {
  border: 3px dashed #007455;
  text-align: center;
  padding: 100px 0 130px 0;
  background: #fafafa; }
  .error-container i.icon {
    color: #e74c3c;
    font-size: 100px;
    display: block;
    margin-bottom: 55px; }
  .error-container .title {
    font-size: 150px; }
  .error-container .message {
    font-weight: bold; }

.cursor-pointer:hover {
  cursor: pointer; }

.button-size-30 {
  height: 30px !important;
  width: 30px !important;
  line-height: 30px !important; }

.spinner {
  margin: 100px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px; }

.spinner > div {
  background-color: #007455;
  height: 100%;
  width: 6px;
  display: inline-block;
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out; }

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s; }

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s; }

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s; }

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s; }

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4); }
  20% {
    -webkit-transform: scaleY(1); } }

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4); }
  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1); } }

.overflow-auto {
  overflow: auto; }

.overflow-x-auto {
  overflow-x: auto; }

.overflow-y-auto {
  overflow-y: auto; }

.nav-tabs .active {
  border-top: 3px solid red;
  border-bottom: 1px solid transparent;
  background: white; }

.font-size-18 {
  font-size: 18px !important; }

.font-size-15 {
  font-size: 15px !important; }

.font-size-13 {
  font-size: 13px !important; }

.file {
  text-decoration: none;
  color: black;
  overflow-x: hidden; }

.file_active {
  color: white !important;
  background-color: #3498db !important; }

.swal2-icon {
  border-radius: 50% !important;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important; }

.swal2-icon.swal2-success .swal2-success-ring {
  border-radius: 50% !important; }

.no-resizeable {
  resize: none; }

.dp-block {
  display: block !important; }

.portlet.box > .portlet-title > .caption {
  padding: 11px 0 9px !important; }

.hint-color {
  color: #999 !important; }

.border-none {
  border: none !important; }

.cm-form-helper {
  display: block;
  margin-top: 5px;
  color: #666;
  font-style: italic; }

.daterangepicker .input-mini {
  width: 100% !important; }

.clear {
  clear: both; }

@media (min-width: 991px) {
  .mega-menu .dropdown-menu-fw {
    left: 5px !important;
    right: 5px !important; } }

clinic-header .user-nav-dropdown {
  background: #f9f9f9; }
  clinic-header .user-nav-dropdown::before {
    border-color: transparent transparent #f9f9f9; }
  clinic-header .user-nav-dropdown li a:hover {
    background: #999;
    color: white; }

app-layout-vertical-header .page-header.navbar.navbar-fixed-top {
  z-index: 1040 !important; }

.page-header .navbar .navbar-nav .dropdown-menu > header-nav-item > li {
  display: inline-block; }
  .page-header .navbar .navbar-nav .dropdown-menu > header-nav-item > li > a {
    color: #6c7b88;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    padding: 30px 15px 30px 30px;
    font-family: "Open Sans", sans-serif;
    display: block; }
  .page-header .navbar .navbar-nav .dropdown-menu > header-nav-item > li.active > a {
    background: inherit;
    color: #009dc7; }

header-nav li.dropdown {
  position: relative; }
  header-nav li.dropdown ul {
    position: absolute;
    top: 100%;
    left: 0; }
    header-nav li.dropdown ul li a {
      padding: 30px !important; }
  header-nav li.dropdown:hover ul {
    display: block; }

header-nav header-nav-item li:hover .sub-dropdown-menu {
  display: block !important; }

header-nav header-nav-item li .sub-dropdown-menu {
  display: none !important; }

header-nav header-nav-item header-nav-item {
  position: relative;
  max-width: 350px; }
  header-nav header-nav-item header-nav-item li, header-nav header-nav-item header-nav-item li.dropdown.more-dropdown-sub, header-nav header-nav-item header-nav-item li.dropdown {
    width: 100% !important; }
    header-nav header-nav-item header-nav-item li a, header-nav header-nav-item header-nav-item li.dropdown.more-dropdown-sub a, header-nav header-nav-item header-nav-item li.dropdown a {
      display: block;
      width: 100%;
      padding: 8px 30px !important; }
      header-nav header-nav-item header-nav-item li a:hover, header-nav header-nav-item header-nav-item li.dropdown.more-dropdown-sub a:hover, header-nav header-nav-item header-nav-item li.dropdown a:hover {
        background: #ddd !important; }
      header-nav header-nav-item header-nav-item li a::after, header-nav header-nav-item header-nav-item li.dropdown.more-dropdown-sub a::after, header-nav header-nav-item header-nav-item li.dropdown a::after {
        top: 8px !important; }

/* Notification */
app-layout-vertical-notification-list {
  position: relative; }
  app-layout-vertical-notification-list.open > a {
    background-color: #3f4f62 !important;
    border: none !important; }
  app-layout-vertical-notification-list > a {
    position: relative;
    margin: 0px;
    padding: 17px 10px 9px 10px;
    display: block; }
    app-layout-vertical-notification-list > a span.badge {
      position: absolute;
      top: 10px;
      right: 20px; }
  app-layout-vertical-notification-list li.external h3 {
    font-size: 16px;
    padding: 10px;
    margin-bottom: 0;
    margin-top: 0; }
  app-layout-vertical-notification-list .no-notify-found {
    padding: 10px;
    color: #999; }
  app-layout-vertical-notification-list .list-notify-container {
    max-height: 450px;
    overflow-y: auto;
    padding-left: 0; }
    app-layout-vertical-notification-list .list-notify-container .notify-item {
      padding: 10px;
      border-bottom: 1px solid #ccc;
      border-top: none !important;
      position: relative;
      font-size: 12.5px;
      margin-top: 0;
      margin-bottom: 0;
      display: table; }
      app-layout-vertical-notification-list .list-notify-container .notify-item:hover {
        background-color: #eaeaea !important; }
      app-layout-vertical-notification-list .list-notify-container .notify-item:last-child {
        border-bottom: none !important; }
      app-layout-vertical-notification-list .list-notify-container .notify-item.info {
        border-left: 3px solid dodgerblue; }
      app-layout-vertical-notification-list .list-notify-container .notify-item.warning {
        border-left: 3px solid darkorange; }
      app-layout-vertical-notification-list .list-notify-container .notify-item.danger {
        border-left: 3px solid darkred; }
      app-layout-vertical-notification-list .list-notify-container .notify-item.success {
        border-left: 3px solid forestgreen; }
      app-layout-vertical-notification-list .list-notify-container .notify-item.readed {
        border-left: 3px solid #ccc; }
      app-layout-vertical-notification-list .list-notify-container .notify-item:hover {
        cursor: pointer; }
      app-layout-vertical-notification-list .list-notify-container .notify-item .notify-left, app-layout-vertical-notification-list .list-notify-container .notify-item .notify-body {
        display: table-cell;
        vertical-align: top; }
      app-layout-vertical-notification-list .list-notify-container .notify-item .notify-left {
        float: left;
        padding-right: 10px; }
      app-layout-vertical-notification-list .list-notify-container .notify-item .notify-body {
        width: 1000px; }
      app-layout-vertical-notification-list .list-notify-container .notify-item .content {
        margin: 0;
        padding-right: 20px; }
      app-layout-vertical-notification-list .list-notify-container .notify-item button.notification-close {
        border: none;
        font-size: 10px;
        background: transparent;
        position: absolute;
        top: 10px;
        right: 10px; }
        app-layout-vertical-notification-list .list-notify-container .notify-item button.notification-close:active, app-layout-vertical-notification-list .list-notify-container .notify-item button.notification-close:focus {
          outline: none; }
      app-layout-vertical-notification-list .list-notify-container .notify-item .times {
        margin-top: 5px; }

/* Metro menu */
.toggle-metro {
  margin-top: 10px; }
  .toggle-metro img {
    width: 45px; }

.wrapper-metro-menu {
  position: fixed;
  top: 65px;
  left: 40px;
  border: 1px solid #ddd;
  background: white;
  padding: 10px;
  z-index: 9999; }
  .wrapper-metro-menu .metro-arrow {
    position: absolute;
    top: -10px;
    left: 4px; }
  .wrapper-metro-menu ul {
    list-style: none;
    padding-left: 0; }
  .wrapper-metro-menu .metro-item {
    float: left;
    text-align: center;
    display: table-cell;
    margin-right: 10px;
    border: 2px solid white; }
    .wrapper-metro-menu .metro-item:hover {
      border: 2px solid transparent; }
    .wrapper-metro-menu .metro-item a {
      width: 120px;
      height: 120px;
      color: white;
      padding: 45px 20px;
      display: block;
      position: relative; }
      .wrapper-metro-menu .metro-item a i {
        font-size: 50px;
        width: 100%; }
      .wrapper-metro-menu .metro-item a span {
        font-size: 14px;
        text-align: left;
        margin-top: 10px;
        position: absolute;
        padding: 10px;
        width: 100%;
        display: block;
        left: 0;
        bottom: 0; }
      .wrapper-metro-menu .metro-item a:hover {
        text-decoration: none; }

app-layout-vertical-header .page-logo a {
  margin-top: 15px; }

app-layout-vertical-header .dropdown-user .dropdown-menu, app-layout-vertical-header .dropdown-notification .dropdown-menu {
  min-width: 250px; }

app-layout-vertical-header .dropdown-user a img {
  float: left;
  margin-top: -8px;
  margin-right: 7px;
  height: 39px;
  display: inline-block; }

md-input-container input {
  margin-top: .5em; }

md-input-container .mat-input-placeholder-wrapper {
  padding-bottom: 1em; }
  md-input-container .mat-input-placeholder-wrapper label.mat-input-placeholder {
    font-size: 15px; }

md-checkbox.size-20 .mat-checkbox-inner-container {
  width: 20px !important;
  height: 20px !important; }

md-checkbox.size-18 .mat-checkbox-inner-container {
  width: 18px !important;
  height: 18px !important; }

md-checkbox .mat-checkbox-inner-container {
  width: 20px;
  height: 20px;
  margin: auto auto auto auto !important; }

md-checkbox .mat-checkbox-label {
  margin-left: 10px; }

mat-slide-toggle .mat-slide-toggle-bar {
  -webkit-border-radius: 8px !important;
  -moz-border-radius: 8px !important;
  border-radius: 8px !important; }

mat-slide-toggle .mat-slide-toggle-thumb {
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important; }

mat-slide-toggle .mat-slide-toggle-ripple {
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important; }

.mat-mini-fab {
  width: 35px !important;
  height: 35px !important;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
  overflow: hidden; }
  .mat-mini-fab .mat-button-ripple-round {
    border-raidus: 50% !important; }
  .mat-mini-fab .mat-button-wrapper {
    padding: 0px !important;
    display: inline-block;
    line-height: 24px; }

.button-size-30 {
  height: 30px !important;
  width: 30px !important;
  line-height: 30px !important; }

.mat-checkbox-ripple {
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important; }

mat-icon.size-18 {
  width: 18px;
  height: 18px;
  font-size: 18px; }

mat-icon.size-16 {
  width: 16px;
  height: 16px;
  font-size: 16px; }

mat-icon.size-14 {
  width: 14px;
  height: 14px;
  font-size: 14px; }

.mat-radio-button .mat-radio-outer-circle, .mat-radio-button .mat-radio-ripple, .mat-radio-button .mat-radio-inner-circle {
  border-radius: 50% !important; }

button.mat-raised-button {
  min-width: 40px !important;
  line-height: 34px !important;
  margin-top: -1px;
  border-radius: 2px !important; }

.mat-form-field-wrapper {
  padding-bottom: 1.6em !important; }

table th .mat-checkbox-label, table td .mat-checkbox-label {
  margin-left: 0 !important; }

.mat-tab-body-content {
  height: auto !important; }

body {
  color: #222; }

main-nav .page-logo {
  padding-left: 10px;
  padding-right: 10px; }
  main-nav .page-logo img {
    width: 150px;
    margin-top: 5px !important;
    background: white; }

main-nav ul.nav.navbar-nav.pull-right li ul a {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.page-sidebar .page-sidebar-menu sidebar-item sidebar-item .sub-menu li > a {
  padding-left: 60px !important; }

table {
  background: white !important; }
  table.table .btn-group .btn {
    margin-right: 0; }
  table thead tr:nth-child(n+2) {
    border-top: 1px solid #ccc; }
    table thead tr:nth-child(n+2) th {
      border-top: 1px solid #ccc; }
  table.table-main thead {
    background: #009688 !important;
    color: white; }
    table.table-main thead tr:first-child th {
      border-top: 1px solid #009688 !important; }
    table.table-main thead tr:last-child th {
      border-bottom: 1px solid #009688; }
    table.table-main thead tr th.merge-row {
      border-bottom: 1px solid #009688 !important;
      border-top: 1px solid #009688 !important; }
    table.table-main thead tr th:first-child {
      border-left: 1px solid #009688; }
    table.table-main thead tr th:last-child {
      border-right: 1px solid #009688; }
  table.table-blue thead {
    background: #3598dc !important;
    color: white; }
    table.table-blue thead tr:first-child th {
      border-top: 1px solid #3598dc !important; }
    table.table-blue thead tr th:first-child {
      border-left: 1px solid #3598dc; }
    table.table-blue thead tr th:last-child {
      border-right: 1px solid #3598dc !important; }

.profile-content {
  overflow-y: auto !important; }

.input-3-button .input-group-btn {
  width: 14.5%; }

.fileinput {
  float: left; }

.note-container {
  border: 2px dashed #ccc;
  padding: 30px;
  text-align: center;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #ccc; }

.media-heading {
  margin-top: 5px !important; }

/* Survey */
.do-survey-container ul {
  padding-left: 0;
  list-style: none; }

.do-survey-container .content {
  margin-bottom: 10px;
  font-size: 18px;
  text-align: center;
  padding: 15px 20px; }

.do-survey-container .survey-answer-button-container {
  list-style: none;
  text-align: center; }
  .do-survey-container .survey-answer-button-container li {
    display: inline-block;
    margin-right: 10px; }

.do-survey-container .btn {
  color: white;
  padding: 10px 30px;
  border-radius: 20px !important;
  font-size: 16px; }
  .do-survey-container .btn:hover {
    color: white; }
  .do-survey-container .btn.btn-default {
    color: #222; }

.do-survey-container .button-1 {
  background-color: #0b94ea; }
  .do-survey-container .button-1:hover {
    background-color: #2d8ac7; }

.do-survey-container .button-2 {
  background-color: #b94a48; }
  .do-survey-container .button-2:hover {
    background-color: #b01a1f; }

table .question-name span {
  display: table-cell; }
  table .question-name span:first-child {
    padding-right: 10px;
    font-weight: bold; }
  table .question-name span p {
    margin: 0; }

.app-loading-content {
  color: #007455;
  font-size: 50px;
  text-align: center;
  padding: 150px 0; }

.portlet.blue.box {
  border: 1px solid #3598dc; }
  .portlet.blue.box .portlet-title {
    background: #3598dc;
    color: white; }

.portlet > .portlet-title > .caption {
  float: left;
  display: inline-block;
  font-size: 18px;
  line-height: 18px;
  padding: 0px 0 !important; }

.portlet.light > .portlet-title {
  padding: 0;
  min-height: 25px; }

.portlet.light {
  background-color: #fff; }

.portlet {
  margin-top: 0;
  margin-bottom: 10px; }

.input-group-input input, .input-group-input .input-group-input-addon {
  display: inline; }

.input-group-input .input-group-input-addon {
  padding: 10px 5px 0; }

.page-content {
  padding: 25px 20px 10px;
  overflow: hidden; }

.form .form-bordered .form-group > div {
  padding: 10px !important; }

.form .form-bordered .form-group .control-label {
  padding-top: 10px !important; }

.loading-app {
  display: block;
  background-color: #2c3e50;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }
  .loading-app div.wrapper-icon {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 60px;
    right: 0;
    margin: auto;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .loading-app .spinner {
    margin: 0 auto !important;
    width: 70px;
    height: 70px;
    background-color: white;
    margin: 100px auto;
    -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
    animation: sk-rotateplane 1.2s infinite ease-in-out; }

@-webkit-keyframes sk-rotateplane {
  0% {
    -webkit-transform: perspective(120px); }
  50% {
    -webkit-transform: perspective(120px) rotateY(180deg); }
  100% {
    -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg); } }

@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg); }
  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg); }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg); } }

.app-loading-content div.wrapper-icon {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 60px;
  right: 0;
  margin: auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.app-loading-content .spinner {
  margin: 0 auto !important;
  width: 70px;
  height: 70px;
  background-color: #009688;
  margin: 100px auto;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out; }

@-webkit-keyframes sk-rotateplane {
  0% {
    -webkit-transform: perspective(120px); }
  50% {
    -webkit-transform: perspective(120px) rotateY(180deg); }
  100% {
    -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg); } }

@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg); }
  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg); }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg); } }

.page-content {
  padding: 0 !important; }

.app-tab-container {
  display: flex;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
  background: white;
  border-bottom: 1px solid #ccc; }
  .app-tab-container .app-tab-header-pagination {
    position: relative;
    justify-content: center;
    align-items: center;
    min-width: 32px;
    cursor: pointer;
    z-index: 2; }
  .app-tab-container .app-tab-list-container, .app-tab-container .app-tab-header-pagination {
    display: flex; }
  .app-tab-container .app-tab-navigation-back div, .app-tab-container .app-tab-navigation-next div {
    border-style: solid;
    border-width: 2px 2px 0 0;
    content: '';
    height: 8px;
    width: 8px; }
  .app-tab-container .app-tab-navigation-back {
    padding-left: 4px;
    -webkit-box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12); }
    .app-tab-container .app-tab-navigation-back div.app-tab-icon-back {
      transform: rotate(-135deg); }
  .app-tab-container .app-tab-navigation-next {
    padding-right: 4px; }
    .app-tab-container .app-tab-navigation-next div.app-tab-icon-next {
      transform: rotate(45deg); }
  .app-tab-container .app-tab-list-container {
    flex-grow: 1;
    overflow: hidden;
    z-index: 1; }
    .app-tab-container .app-tab-list-container .app-tab-list {
      flex-grow: 1;
      position: relative;
      transition: transform 0.5s cubic-bezier(0.35, 0, 0.25, 1); }
      .app-tab-container .app-tab-list-container .app-tab-list .app-tab-item-container {
        display: flex; }
        .app-tab-container .app-tab-list-container .app-tab-list .app-tab-item-container div.app-tab-item {
          line-height: 48px;
          height: 48px;
          padding: 0 12px;
          cursor: pointer;
          box-sizing: border-box;
          opacity: .6;
          min-width: 160px;
          text-align: center;
          position: relative; }
          .app-tab-container .app-tab-list-container .app-tab-list .app-tab-item-container div.app-tab-item.active::before {
            position: absolute;
            content: '';
            bottom: 0;
            height: 2px;
            width: 100%;
            transition: 0.5s cubic-bezier(0.35, 0, 0.25, 1);
            background-color: #009688;
            left: 0; }
  .app-tab-container .app-tab-ink-bar {
    position: absolute;
    bottom: 0;
    height: 2px;
    transition: 0.5s cubic-bezier(0.35, 0, 0.25, 1);
    background-color: #1976d2; }

.app-tab-content {
  padding: 10px 20px;
  background: white; }
  .app-tab-content .page-title {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold; }

.theme-panel {
  position: absolute;
  top: 65px;
  right: 10px; }

.table-responsive {
  max-height: 450px; }

.input-group button i[class^='fa'], .input-group button i[class^='icon'], .input-group button i[class^='glyphicon'] {
  line-height: 20px !important; }
