@import "config.less";
@background-block-news: #424242;
@color-hover: #993333;
@color-background: #A5AAAE;

body {
    font-family: OpenSans-Light !important;
    font-size: 14px;
    margin-right:0px;
}

.body-content {
    margin-top: 0px !important;
    border-bottom: none;

    @media @mobile {
        margin-top: 50px;
    }
}

.titlebar {
    text-transform: uppercase;
    font-size: 26px;
    font-weight: 200;
    text-align: center;
    position: relative;
    display: inline-block;
    color: @color-text;
    margin-bottom: 0px;
    font-family: OpenSans-Light;

    @media @mobile {
        font-size: 20px;
        padding-top: unset;
    }
}

#myCarousel {
    .active {
        .item {
            a {
                font-size: 40px;
                height: 40px;
                width: 40px;

                img {
                    max-height: 600px;
                    margin-left: auto;
                    margin-right: auto;
                    height: auto;
                    display: block;
                    /*-webkit-animation: zoomin 18s ease-in infinite;
                    animation: zoomin 18s ease-in infinite;
                    transition: all 1s ease-in-out;*/
                    overflow: hidden;

                    @media @mobile {
                        max-height: unset;
                    }
                }
            }
        }
    }

    img {
        max-height: 600px;
        margin-left: auto;
        margin-right: auto;
        height: auto;
        display: block;

        @media @mobile {
            max-height: unset;
        }
    }

    .fa-angle-left {
        left: 50%;
    }

    .fa-angle-right {
        right: 50%;
    }

    .owl-dots {
        text-align: center;
        margin-top: 10px;

        .owl-dot {
            padding: 0 2px !important;

            span {
                display: inline-block;
                width: 12px;
                height: 12px;
                margin: 1px;
                text-indent: -999px;
                cursor: pointer;
                background-color: rgba(0, 0, 0, 0);
                border: 1px solid @main-color;
                border-radius: 12px;
                font-size: 12px;

                &:focus {
                    border: none !important;
                }
            }
        }

        .active {
            border: none;

            span {
                background-color: @main-color;
            }
        }
    }
}

#newsAndBranch {
    padding-top: 20px;
    padding-bottom: 40px;

    @media @mobile {
        background-color: #F5F5F5;
        padding-top: 0px;
    }

    .titlebar {
        color: @color-text;
        padding-top: 20px;
    }

    hr {
        margin-bottom: 0px;
    }
}

.btn-toolbar {
    padding: 25px 0px;
    display: flex;
    align-items: center;
    justify-content: center;

    .btn-group {
        border: 1px solid @color-white;
        box-shadow: 0px 0px 2px 2px @color-text-white;
        background-color: @color-white;
        border-radius: 3px;

        .btn {
            padding: 4px 8px;
            border-radius: 3px;
        }

        .filter {
            text-transform: uppercase;
            color: @color-text;
            font-size: 18px;
            border-radius: 3px;
            border-right: 1px solid @color-text;
            padding-top: 5px;
            font-family: OpenSans-Light;

            @media @mobile {
                font-size: 14px;
            }

            @media @mobile {
                font-size: 12px;
            }

            &:last-child {
                border-right: none !important;
            }
        }

        .active {
            background-color: @main-color-hover;
            color: @color-white;
        }
    }
}

#agency {
    padding-bottom: 60px;
    padding-top: 30px;

    .titlebar {
        margin-top: 150px;
        color: @color-text;

        @media @mobile {
            margin-top: unset;
        }
    }

    hr {
        margin-bottom: 20px;
    }

    #agencySlider {
        padding-top: 10px;
    }

    .lSAction {
        .lSPrev {
            left: 0px;
        }

        .lSNext {
            right: 0px;
        }

        a {
            background-color: @color-text;
            color: @color-white;
            width: 24px;
            height: 32px;
            text-align: center;
            vertical-align: middle;

            i {
                font-size: 12px;
                padding-top: 10px;
                vertical-align: middle;
                color: @color-white;
            }
        }
    }
}

#video {
    padding-top: 60px;
    padding-bottom: 80px;
    background-image: url('../../images/bgr web/trang chu/image-06.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-attachment: fixed;

    @media @mobile {
        background-size: auto 100%;
        padding: 20px 0px;
    }

    @media @mobile {
        background-size: auto 100%;
    }

    .titlebar {
        padding-bottom: 5px;
        color: @color-white;
        margin-top: 0px;
    }

    hr {
        margin-bottom: 30px;
        background-color: @color-white;
    }

    .video-container {
        margin: auto;
        width: 70%;
        padding: 15px;
        background-color: @color-white;

        @media @mobile {
            width: 100%;
        }

        .video-default {
            position: relative;

            @media @mobile {
                iframe {
                    height: 240px !important;
                }
            }

            .content {
                width: 100%;
                background-color: none;
                position: absolute;
                bottom: 0px;
                left: 0px;

                .title {
                    font-size: 24px;
                    padding: 30px;
                    color: @color-white;

                    @media @mobile {
                        font-size: 14px;
                        padding: 10px;
                    }
                }
            }
        }

        #video-silder {
            padding-top: 10px;

            .thumbnail {
                position: relative;
                border: none;
                padding: 0px;
                margin-bottom: 0px;
            }

            .item {
                .selected {
                    /*border: 1px solid @main-color;*/
                    .pause-video {
                        background-color: rgba(255,0,0,.8);
                    }
                }
            }

            .pause-video {
                position: absolute;
                left: 40%;
                bottom: 33%;
                font-size: 15px;
                color: @color-white;
                height: 30px;
                width: 40px;
                line-height: 30px;
                background-color: #333;
                border-radius: 7px;
                text-align: center;
                opacity: .8;
                vertical-align: middle;

                @media @mobile {
                    height: 21px;
                    width: 28px;
                    line-height: 21px;
                    border-radius: 4px;
                    font-size: 10px;
                    bottom: 33%;
                }
            }

            .carousel-caption {
                p {
                    color: @main-color;
                    font-size: 25px;
                }
            }

            @media @mobile {
                padding-top: 20px;
            }
        }

        .lSAction {
            .lSPrev {
                left: 0px;
            }

            .lSNext {
                right: 0px;
            }

            a {
                background-color: #79757a;
                color: @color-white;
                width: 24px;
                height: 32px;
                text-align: center;
                vertical-align: middle;
                margin-top: -4px;
                top: 40%;

                @media @mobile {
                    width: 18px;
                    height: 27px;
                    top: 50%;
                }

                i {
                    font-size: 12px;
                    padding-top: 10px;
                    vertical-align: middle;
                    color: @color-white;

                    @media @mobile {
                        padding-top: 5px;
                    }
                }
            }
        }
    }
}

#social-network {
    background-color: @color-white;

    ul {
        height: 60px;
        margin-bottom: 0px;

        li {
            vertical-align: middle;
            padding: 10px 5px;

            a {
                text-align: center;
                font-size: 28px;
                color: @background-block-news;

                img {
                    width: 30px;
                    height: 30px;
                }
            }

            &:last-child {
                padding-right: 0px;
            }
        }
    }
}

#about {
    background-image: url('../../images/bgr web/trang chu/image-08.jpg');
    background-position: initial;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-color: @color-white;
    padding-bottom: 65px;
    padding-top: 80px;

    @media @mobile {
        background-image: none;
        padding-bottom: 20px;
        padding-top: 20px;
    }

    .titlebar {
        color: @color-text;
        padding-bottom: 5px !important;
        margin-bottom: 15px;
        margin-top: 0px;
    }

    hr {
        margin-bottom: 20px;
    }

    .title {
        text-transform: uppercase;
        font-size: 20px;
        margin-bottom: 20px;
        color: @main-color;
    }

    .content {
        p {
            font-size: 15px;
            color: @color-text;
            padding-top: 0px;
            padding-bottom: 0px;
            margin: 0px;
        }

        ul {
            padding-left: 15px;
        }

        h1, h2, h3, h4, h5, h6 {
            font-size: 16px;
            text-transform: uppercase;
            margin: 5px 0px;

            a {
                color: @color-text;

                &:hover {
                    text-decoration: none;
                }
            }
        }
    }

    .strategy-content {
        margin-top: 30px;
        position: relative;
        transition: 2s ease-in-out;
        display: flex;
        align-items: center;
        justify-content: center;

        .content {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            padding: 30px;
            color: @color-text;
            border-radius: 2%;
            transition: 1s ease-in-out;
            font-size: 16px;
            font-family: OpenSans;

            @media @mobile {
                
            }
        }

        img {
            border-radius: 2%;
            /*width: 100%;*/
        }

        .active {
            background-color: rgba(255,255,255,0.8);
            border: 1px solid @main-color;
        }
    }

    .strategy {
        padding-top: 35px;
        padding-left: 0px;
        list-style-type: none;

        li {
            margin: 25px;
            margin-left: 0px;
            margin-top: 0px;

            @media @mobile {
                padding: 0px;
                margin: 10px;
            }

            @media @mobile {
                display: flex;
                align-content: center;
                justify-content: flex-start;
                align-items: center;
                align-self: center;
            }

            a {
                margin-left: 35px;
                /*transition:  0.3s;*/
                .media-left {
                    vertical-align: middle;
                    /*padding-left: 35px;*/
                    span {
                        width: 30px;
                        height: 30px;
                        padding: 11px 12px;
                        line-height: 30px;
                        background-color: #e9edf0;
                        text-align: center;
                        border-radius: 100%;
                        font-size: 18px;
                        text-transform: uppercase;
                        color: @color-text;

                        @media @mobile {
                            line-height: 50px;
                        }
                    }
                }

                .media-body {
                    vertical-align: middle;
                    width: unset;

                    h3 {
                        margin-top: 0px;
                        margin-bottom: 0px;
                        font-size: 18px;
                        text-transform: uppercase;
                        color: @color-text-bold;
                        font-weight: 600;

                        @media @mobile {
                            font-size: 16px;
                        }
                    }
                }

                text-decoration: none;
                /*&:hover {
                    .media-left {

                        span {
                            color: @main-color;
                        }
                    }

                    .media-body {
                        span {
                            color: @main-color;
                        }
                    }
                }*/
            }
        }

        .active {
            position: relative;
            padding-left: 0px;

            span {
                position: inherit;
                top: -5px;
                left: -0px;
                margin-right: 5px;

                i {
                    color: @main-color;
                    font-size: 24px;
                    margin-right: 0px;
                }
            }

            a {
                background-color: @main-color;
                border-radius: 30px;
                padding: 20px;
                padding-bottom: 5px;
                padding-top: 25px;
                padding-left: 10px;
                text-decoration: none;
                margin-left: 0px;

                @media @mobile {
                    padding-top: 34px;
                }

                .media-left {
                    vertical-align: middle;
                    padding-right: 0px;
                    padding-left: 0px;

                    span {
                        background-color: unset;
                        text-align: left;
                        border-radius: 100%;
                        padding-left: 0px;
                        font-size: 20px;
                        text-transform: uppercase;
                        color: @color-white;

                        @media @mobile {
                            line-height: 50px;
                        }
                    }
                }

                .media-body {
                    vertical-align: middle;
                    width: unset;

                    h3 {
                        margin-top: 0px;
                        margin-bottom: 0px;
                        font-size: 16px;
                        text-transform: uppercase;
                        color: @color-white;
                        font-weight: 600;
                    }
                }

                &:hover {
                    &:hover {
                        .media-left {

                            span {
                                color: @color-white;
                            }
                        }

                        .media-body {
                            span {
                                color: @color-white;
                            }
                        }
                    }
                }

                text-decoration: none;
            }
        }
    }
}

.header {
    img {
        width: 100%;
        overflow: hidden;
    }

    .breadcrumb {
        background-color: #E8E8E8;
        margin-bottom: 0px !important;
        border-radius: unset;

        ul {
            padding-left: 0px;
            list-style-type: none;
            margin-bottom: 0px;

            li {
                a {
                    color: @main-color;
                    font-size: 14px;

                    &:hover {
                        text-decoration: none;
                    }
                }

                padding: 0px 10px;
                border-right: 1px solid @color-text-bold;

                &:last-child {
                    border-right: none;
                    color: @color-text;
                }

                &:first-child {
                    padding-left: 0px;
                }
            }
        }
    }
    /*min-height: 650px;*/
    @media @mobile {
        height: unset;
    }
}

#abums {
    padding-top: 0px;
    padding-bottom: 20px;
    background-image: url('../../images/bgr web/bgr tin tuc-sk va ld.jpg');
    background-size: 100% auto;
    background-position: initial;
    background-repeat: no-repeat;
    background-size: 100% auto;

    @media @mobile {
        background-image: none;
    }

    .titlebar {
        color: @color-text;
        padding-bottom: 5px !important;
        padding-top: 20px;

        @media @mobile {
            padding-top: 0px;
        }
    }

    hr {
        margin-bottom: 0px;
    }

    .btn-toolbar {
        padding: 25px 0px;
    }

    .content {
        .abum-photo {
            .title-border {
                padding-bottom: 10px;
            }

            &:first-child {
                padding-bottom: 10px;
            }

            &:last-child {
                border-bottom: none;
            }
        }
    }

    #social-network {
        background-color: @color-background;

        .btn-scoical {
            color: @color-white;
        }
    }
}

.btn-more {
    font-size: 16px;
    margin-top: 5px;
    color: @color-text !important;
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
}

.social-network-header {
    margin-top: 15px;

    @media @mobile {
        float: left !important;
        margin-top: 10px;
    }

    ul {
        margin-bottom: 0px;

        li {
            padding: 0px 2px;

            a {
                color: @main-color;
                font-size: 20px;

                img {
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }
}

.contact {
    padding-top: 55px;
    padding-bottom: 60px;
    background-image: url('../../images/bgr web/bgr lien he-19.jpg');
    background-position: initial;
    background-repeat: no-repeat;
    background-size: 100% auto;

    @media @mobile {
        background-image: none;
        padding: 20px 0px;
    }

    .titlebar {
        color: @color-text;
        padding-bottom: 5px !important;
        margin-top: 0px;

        @media @mobile {
            padding-top: 0px;
        }
    }

    hr {
        margin-bottom: 80px;
        border: 1px solid @color-text;

        @media @mobile {
            margin-bottom: 50px;
        }
    }

    .item-contact {
        background-color: #F5F5F5;
        position: relative;
        text-align: center;
        display: flex;
        /*align-items: center;*/
        justify-content: center;
        margin-bottom: 40px;
        min-height: 300px;
        /*&:last-child {
            @media @mobile {
                margin-bottom: 20px;
            }
        }*/
        .icon {
            color: @main-color;
            position: absolute;
            top: -40px;
            left: auto;
            right: auto;
            font-size: 50px;
            width: 80px;
            height: 80px;
            line-height: 80px;

            @media @mobile {
                padding-top: 20px;
            }

            i {
                background-color: @color-white;
                border-radius: 100%;
                border: 3px solid #f5f5f5;
                width: 80px;
                height: 80px;
                line-height: 80px;
            }
        }

        .content {
            padding-top: 60px;

            .title {
                color: @main-color;
                text-transform: uppercase;
                font-size: 20px;
                font-weight: 600;
                padding-bottom: 10px;
            }

            .value {
                color: @color-text;
                font-size: 18px;

                a {
                    color: @color-text;
                    font-size: 18px;
                    text-decoration: none;

                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }
    }

    .angency-system {
        background-color: #F5F5F5;
        margin-bottom: 20px;
        margin-right: -20px;
        overflow-y: scroll;

        @media @mobile {
            margin-right: unset;
        }

        .header {
            height: 20px;
            background-color: #EAE9E5;

            img{
                @media @mobile{
                    height: auto !important;
                    width:100%;
                }
            }
        }

        ul {
            list-style-type: none;
            padding-left: 0px;
            background-color: #F5F5F5;

            li {
                font-size: 16px;
                color: @color-text;
                padding: 10px 15px;
                border-bottom: 1px solid @border-color;
                cursor: pointer;

                .title {
                    margin-top: 10px;
                    margin-bottom: 5px;
                    color: @color-text-bold;
                    font-size: 16px;
                    font-family: OpenSans-Bold;
                }

                .content {
                    p {
                        color: @color-text-opacity;
                        font-size: 16px;
                        padding: 3px 0px;
                        margin-bottom: 0px;
                    }
                }

                &:last-child {
                    border-bottom: none;
                }
            }

            .select {
                background-color: #4285F4;

                .title {
                    color: @color-white;
                }

                .content {
                    p {
                        color: @color-white;
                    }
                }
            }
        }
    }
}

.video-item {
    width: 100%;
    display: block;
    overflow: hidden;

    .thumbnail-video {
        img {
            width: 100%;
        }
    }

    .title-video-default {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 10px;
        padding-top: 0px;

        a {
            text-decoration: none;
            font-size: 20px;
            color: @main-color;

            @media @mobile {
                font-size: 20px;
            }
        }
    }

    .title-video {
        margin-top: 0px;
        padding-top: 10px;
        font-size: 16px;
        min-height: 60px;

        @media @mobile {
            min-height: 60px;
            font-size: 14px;
        }

        a {
            text-decoration: none;
            color: @color-text;
        }
    }

    .description {
        padding: 10px;
        font-size: 14px;
        color: @color-text-opacity;
        padding-top: 0px;
        /*min-height:80px;*/
    }

    &:hover {
        a {
            color: @main-color;
        }
    }

    .thumbnail-video {
        display: block;
        overflow: hidden;
        position: relative;
        width: 100%;
        background: @color-white;

        a {
            img {
                width: 100%;
                min-height: 200px;

                @media @mobile {
                    min-height: unset;
                }
            }
        }
    }

    margin-bottom: 10px;
}

.duration_video {
    position: absolute;
    left: 40%;
    bottom: 43%;
    font-size: 15px;
    color: @color-white;
    height: 36px;
    width: 48px;
    line-height: 36px;
    background-color: #333;
    border-radius: 7px;
    text-align: center;
    opacity: .8;
    vertical-align: middle;

    @media @mobile {
        height: 21px;
        width: 28px;
        line-height: 21px;
        border-radius: 4px;
        font-size: 10px;
    }
}

.btn-facebook:hover {
    color: #3B5998 !important;
}

.btn-twitter:hover {
    color: #4db2ec !important;
}

.btn-instagram:hover {
    color: #3B5998 !important;
}

.btn-youtube:hover {
    color: #bb0000 !important;
}

.btn-linkedin:hover {
    color: #0077b5 !important;
}

.btn-printerest:hover {
    color: #bd081c !important;
}

.title-border {
    overflow: hidden;
    border-bottom: 2px solid #993333;
    display: inline-block;
    margin-bottom: 0;
    margin-top: 5px;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    color: @color-text;
    /*font-weight: 600;*/
    text-transform: uppercase;
    font-size: 22px;

    @media @mobile {
        border-bottom: none;
    }
}

.line {
    margin-bottom: 15px;
    border-top: 1px solid #b2b2b2;
    margin-top: -6px;
    height: 1px;
    width: 100%;
}

.pagination {
    li {
        a {
            border-radius: 100%;
            height: 25px;
            width: 25px;
            line-height: 25px;
            border: none !important;
            font-size: 22px;
            padding: 5px;
            margin: 0 5px;
            color: #5f5b61;
            text-align: center;
            vertical-align: middle;
            padding-top: 0px;
        }

        &:first-child, &:last-child {
            padding-right: 5px;

            a {
                &:hover, &:focus, &:active {
                    background-color: none;
                    background: none;
                }
            }
        }

        .active {
            color: @main-color;
        }

        .disabled {
            color: #b2bec3;
            cursor: context-menu;

            &:hover {
                color: #b2bec3;
            }
        }
    }
}

.zoom {
    transform: scale(1);
    transition: ease-in-out 500ms;

    &:hover {
        transform: scale(1.1);
    }
}

.img-overlay {
    background: rgba(0,0,0,.25);
    display: inline-block;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;

    &:hover {
        opacity: 1;
    }
}

table {
    tr {
        td {
            p {
                margin-bottom: 0px;
            }
        }
    }
}

#backToTop {
    bottom: 20px;
    position: fixed;
    right: 25px;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 4px;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 45px;
    opacity: .8;
    color: #fff;

    &:hover {
        background-color: @main-color-hover;
    }
}

#hotline {
    bottom: 150px;
    position: fixed;
    right: 25px;
    z-index: 1000;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 45px;
}

#message {
    bottom: 80px;
    position: fixed;
    right: 25px;
    z-index: 1000;
    border-radius: 4px;
    height: 40px;
    width: 40px;
    line-height: 45px;
}

.block-news {
    /*display: flex;*/
    .news-default {
        .image-content {
            overflow: hidden;
            border: 1px solid @main-color;
            position: relative;
        }

        .news-content {
            padding: 10px;
            padding-bottom: 0px;

            .title {
                font-size: 24px;
                font-family: OpenSans-Light;

                @media @mobile {
                    font-size: 18px;
                }

                a {
                    color: @main-color;

                    &:hover {
                        text-decoration: none;
                    }
                }
            }

            .summary {
                color: @color-text-opacity;
                font-size: 16px;

                @media @mobile {
                    font-size: 14px;
                }
            }
        }
    }

    .list-news {
        @media @mobile {
            padding-top: 20px;
        }
    }

    .btn-view-more {
        background-color: @color-white;
        border-radius: unset;
        color: @main-color;
        border: 1px solid @main-color;
        transition: 0.5s ease-in-out;
        font-size: 18px;

        &:hover {
            background-color: @main-color;
            border-radius: unset;
            color: @color-white;
        }

        @media @mobile {
            font-size: 16px;
        }
    }
}

.news-item {
    padding: 10px;
    padding-top: 0px;
    /*border-bottom: 1px solid @color-border;
    margin: 10px 0px;*/
    @media @mobile {
        padding-left: 15px;
        padding-right: 15px;
    }

    .image-content {
        position: relative;
        border: 1px solid @main-color;
        overflow: hidden;
    }

    .title {
        padding: 5px 0px;
        font-size: 18px;
        min-height: 70px;

        @media @mobile {
            min-height: 80px;
            font-size: 14px;
        }

        a {
            color: @color-text;

            &:hover, &:focus {
                text-decoration: none;
            }
        }
    }

    &:hover {
        a {
            color: @main-color;
        }
    }
}

#menu-contact {
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #F9F9F9;

    @media @mobile {
        padding: 10px;
    }

    .list-menu {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        @media @mobile {
            border: 1px solid @main-color;
        }

        .menu-item-content {
            position: relative;
            flex-basis: 18%;
            overflow: hidden;
            white-space: nowrap;
            display: flex;
            justify-content: center;
            align-items: center;

            @media @mobile {
                flex-basis: 50%;
                border: 1px solid @main-color;
            }

            .menu-item {
                max-width: 180px;
                padding: 30px 40px;
                margin: 10px;
                overflow: hidden;
                transition: all .5s;

                &:hover {
                    background-color: #ffffff;
                    box-shadow: 0px 0px 3px 3px rgba(0,0,0,.1);
                }

                .logo {
                    display: flex;
                    align-content: center;
                    justify-content: center;
                    align-items: center;
                }

                .menu-name {
                    text-align: center;
                    padding-top: 10px;

                    a {
                        color: @color-text;
                        font-size: 26px;
                        text-transform: uppercase;

                        @media @mobile {
                            font-size: 18px;
                        }

                        &:hover {
                            text-decoration: none;
                        }
                    }

                    .description {
                        font-size: 16px;
                        color: @color-text;

                        @media @mobile {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
}

#brand {
    padding-top: 40px;
    padding-bottom: 70px;
    background-image: url('../../images/bgr web/trang chu/image-07.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-attachment: fixed;

    @media @mobile {
        padding: 30px;
        padding-bottom: 20px;
        padding-top: 20px;
        background-size: auto 100%;
    }

    .titlebar {
        color: @color-white;
        padding-bottom: 5px !important;

        @media @mobile {
            margin-top: 0px;
            font-size: 18px;
        }
    }

    hr {
        margin-bottom: 30px;
    }


    #brandSlider {
        .item {
            border: 1px solid @color-white !important;
            border-bottom: 1px solid @color-white !important;
            /*display: flex;*/
            .thumbnail-image {
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                width: 100%;
                padding: 5px;

                img {
                    z-index: -1;
                }

                .title {
                    transition: 1s ease;
                    display: none;
                }
            }

            &:hover {
                a {
                    width: 100%;
                    background-color: #931c1f;
                    opacity: 0.9;
                    text-decoration: none;
                }

                .thumbnail-image {
                    .title {
                        display: block;
                        text-align: center;
                        position: absolute;
                        height: 100%;
                        color: @color-white;
                        font-weight: 600;
                        font-size: 16px;
                        height: 100%;
                        text-transform: uppercase;
                        padding-top: 18%;
                    }
                }
            }
        }
    }

    .brand-mobile {
        max-height: 528px;
        overflow-x: scroll;

        .item {
            border: 1px solid @color-white;
            display: flex;
            align-content: center;
            justify-content: center;
            align-items: center;

            .thumbnail-image {
                position: relative;
                display: block;
                padding: 5px;

                img {
                    z-index: -1;
                }

                .title {
                    display: none;
                }
            }
        }
    }

    .lSAction {
        .lSPrev {
            left: 0px;
        }

        .lSNext {
            right: 0px;
        }

        a {
            background-color: rgba(0, 0, 0, 0.5);
            color: @color-white;
            width: 24px;
            height: 32px;
            text-align: center;
            vertical-align: middle;

            i {
                font-size: 12px;
                padding-top: 10px;
                vertical-align: middle;
                color: @color-white;
            }
        }
    }
}

#news {
    /*background-image: url('../../images/bgr web/bgr tin tuc_sk va ld.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;*/
    .even {
        background-color: @color-white;
    }

    .odd {
        background-color: #f5f5f5;
    }

    .titlebar {
        color: @color-text;
        padding-bottom: 5px !important;
        padding-top: 20px;
    }

    hr {
        margin-bottom: 20px;
    }

    .block-news {
        padding-bottom: 10px;
    }
}

#category-news {
    background-image: url('../../images/bgr web/bgr tin tuc-sk va ld.jpg');
    background-position: inherit;
    background-size: 100% auto;
    background-repeat: no-repeat;

    @media @mobile {
        background-image: none;
    }

    .titlebar {
        color: @color-text;
    }

    hr {
        margin-bottom: 25px;
    }

    .news-item {
        padding: 0px;

        .title {
            padding: 10px 0;
            font-size: 16px;
            min-height: 70px;

            @media @mobile {
                font-size: 14px;
                min-height: 80px;
            }
        }
    }
}

#news-detail {
    background-image: url('../../images/bgr web/bgr trang tin tuc_tin tuc chi tiet.jpg');
    background-position: inherit;
    background-repeat: no-repeat;
    background-size: 100% auto;

    @media @mobile {
        background-image: none;
    }
}

.news-detail {
    @media @mobile {
        background-image: none;
    }

    .title {
        color: @main-color;
        font-size: 28px;
        margin-bottom: 0;
        /*text-transform: uppercase;*/
        font-family: OpenSans-Bold;
        padding-bottom: 10px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    #social-network {
        ul {
            height: unset;
        }

        li {
            padding: 10px 5px;

            a {
                font-size: 18px;
            }
        }
    }

    .content {
        padding-bottom: 30px;
        padding-top: 0px;

        img {
            padding: 0px;
        }

        table {
            tr {
                td {
                    p {
                        padding: 0px !important;
                    }
                }
            }
        }
    }
}

.sidebar-news-detail {
    padding-top: 15px;

    .title {
        padding: 10px;
        text-align: center;
        margin-bottom: 10px;
        background-color: @main-color;

        h2 {
            color: @color-white;
            margin-bottom: 0px;
            margin-top: 0px;
            text-transform: uppercase;
            font-size: 20px;
        }
    }

    .content {
        padding-left: 10px;

        ul {
            padding-left: 0px;

            li {
                .media-left {
                    min-width: 72px;
                    min-height: 72px;
                    overflow: hidden;
                    padding-right: 12px;
                }

                .media-body {
                    a {
                        color: @color-text;
                        transition: 0.3s ease;

                        &:hover {
                            text-decoration: none;
                            color: @main-color;
                        }
                    }

                    p {
                        color: @color-text-bold;
                        font-size: 14px;
                        font-family: OpenSans;
                    }

                    .calendar {
                        color: @color-text-opacity;
                    }
                }
            }
        }
    }
}

.sidebar-event {
    padding-top: 15px;

    .title {
        padding: 10px;
        /*margin-bottom: 10px;*/
        background-color: @main-color;

        h2 {
            color: @color-white;
            margin-bottom: 0px;
            margin-top: 0px;
            text-transform: uppercase;
            font-size: 20px;
        }
    }

    .content {
        ul {
            padding-left: 0px;

            li {
                background-color: #f2f2f2;
                padding: 5px 20px;

                a {
                    text-transform: uppercase;
                    font-size: 18px;
                    color: @color-text;
                    font-family: OpenSans;
                    transition: 0.3s ease;

                    @media @mobile {
                        font-size: 16px
                    }

                    &:hover {
                        text-decoration: none;
                        color: @main-color;
                    }
                }

                border-bottom: 2px solid @color-white;
            }
        }
    }
}

.sidebar-event-fixtop{
    position:fixed;
    top: 50px;
    width:262px;
}

hr {
    background-color: @color-text;
    border: 1px @color-text;
    border-color: @color-text;
    height: 2px;
    align-content: center;
    width: 90px;
    margin-bottom: 20px;
}

.bg-brown {
    background-color: #7E6242;
}

.bg-orange {
    background-color: #F8BB19;
}

.bg-green {
    background-color: #C0CFBF;
}

.bg-white {
    background-color: @color-text-white;
}

@-webkit-keyframes zoomin {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes zoomin {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

.news-angency {
    background-image: url('../../images/bgr web/trang chu/image-05.jpg');
    background-position: initial;
    background-repeat: no-repeat;
    background-size: cover;

    @media @mobile {
        background-image: none;
    }
}

#map {
    @media @mobile {
        iframe {
            height: 360px;
        }
    }
}
