@model EventShowClientViewModel;
@{
    var listSponsors = Model?.Invitations?.Where(x => x.Role == RegisterRole.Sponsor);
}
@if (listSponsors != null && listSponsors.Any())
{
    <div class="sponsors">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 center">
                    <div class="icon">
                        <i class="fa fa-caret-down" aria-hidden="true"></i>
                    </div>
                    <h2 class="titlebar">
                        @Resource.Sponsors
                    </h2>
                </div>
                <div class="col-sm-12">
                    <div id="sponsorsSlider">
                        @foreach (var sponsors in listSponsors)
                        {
                            <div class="item">
                                <div class="professional-image">
                                    <img class="img-responsive" src="@($"/image?url={(string.IsNullOrEmpty(sponsors.Avatar) ? "/images/no-image.png" : $"{ViewBag.Url}{sponsors.Avatar}")}&width=640&height=360")"
                                         onerror="this.src='/images/no-image.png'"
                                         alt="@sponsors.FullName" />
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
}
