@{   
    var listBranch = ViewBag.BranchContacts as List<BranchContactSearchViewModel>;
    var url = ViewBag.Url;
}
@*<link href="~/lib/lightslider/css/lightslider.css" rel="stylesheet" />*@
<div class="news-angency lazy">    
    @if (listBranch != null)
    {
        <div id="agency">
            <div class="container">
                <div class="row">                    
                    <div class="col-sm-12">
                        <div id="agencySlider">
                            @foreach (var branch in listBranch)
                            {
                                <div class="item">
                                    <a href="@branch.Website" title="@branch.Name">
                                        <img class=" lazy" src="@($"/image?url={(string.IsNullOrEmpty(branch.Logo) ? "/images/no-image.png" : $"{ViewBag.Url}{branch.Logo}")}")"
                                        onerror="this.src='/images/no-image.png'"
                                        alt="@branch.Name" />
                                    </a>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>


