@model List<ValueViewModel>
@if (Model != null)
{
    var imageFirst = Model.FirstOrDefault()?.Image;
    <div id="core-value">
        <div class="heading">
            <div class="container">
                <div class="row">
                    <partial name="_TitleBar" model="@Resource.ProductGroup" />
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 center">
                    <div class="selector">
                        <ul data-bind="foreach: $root.listValue">
                            <li data-bind="css:{'active': $root.valueId() === Id}">
                                <input data-bind="attr: {id: 'c'+($index() + 1)}, click: $root.selectValue.bind($data)" type='checkbox'>
                                <!--ko if: $index()+1 <= 5-->
                                <label style="text-align:right" data-bind="attr: {for: 'c'+($index() + 1)}, click: $root.selectValue.bind($data)">
                                    <b data-bind="text: Title"></b>
                                    <span data-bind="text: '0'+ ($index()+1), css:{'cm-pdl-15': $root.valueId() === Id}"></span>
                                </label>
                                <!--/ko-->
                                <!--ko if: $index()+1 > 5-->
                                <label style="text-align: left" data-bind="attr: {for: 'c'+($index() + 1)}, click: $root.selectValue.bind($data)">
                                    <span data-bind="text: $index() + 1 < 10 ? '0'+ ($index()+1) : $index()+1, css:{'cm-pdr-15': $root.valueId() === Id}"></span>
                                    <b data-bind="text: Title"></b>
                                </label>
                                <!--/ko-->
                            </li>
                        </ul>
                        <button>
                            <img class="img-responsive img-circle lazy" data-bind="attr: {src: valueImage() ? '@ViewBag.Url' + valueImage() : '@ViewBag.Url' + '@imageFirst'}" />
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom">
        </div>
    </div>
}

<script type="text/javascript">
    var listValue = @(ViewBag.ListCoreValue != null ? Html.Raw(JsonConvert.SerializeObject(ViewBag.ListCoreValue)) : "[]");
</script>
