@model List<ProductCategorySearchViewModel>

@if (Model != null)
{
    <div id="product-category-in-homepage">
        <div class="heading">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <partial name="_TitleBar" model="@Resource.SolutionForTheSkin" />
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            @{
            }
        </div>
    </div>
}