@using Newtonsoft.Json.Serialization;

@{
    var jsonSerializerSettings = new JsonSerializerSettings
    {
        ContractResolver = new CamelCasePropertyNamesContractResolver()
    };
}

<div id="product-categoty-hot-in-homepage">
    <div class="heading">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <partial name="_TitleBar" model="@Resource.ProductHot" />
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        @*<div class="row">
                <div class="col-sm-12">
                    <div class="btn-toolbar">
                        <div class="btn-group">
                            <a class="btn filter prev" href="javascript://" data-bind="visible: firstIndex() > 0, click: prevIndex" style="display: none">
                                <img src="/images/facion/pev.png" />
                            </a>
                            <!--ko foreach: $root.listProductCategoryHot-->
                            <a class="btn filter item" href="javascript://" data-bind="css: {active: Id === $root.productCategoryId()}, click: $root.selectProductCategory.bind($data), visible: IsActive()" style="display:none">
                                <span data-bind=" text: Name"></span>
                            </a>
                            <!--/ko-->
                            <a class="btn filter nex" href="javascript://" data-bind="visible: $root.listProductCategoryHot() && lastIndex() < $root.listProductCategoryHot().length - 1, click: nextIndex" style="display: none">
                                <img src="/images/facion/nex.png" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>*@
        <div class="row">
            <div class="col-sm-12">
                <div id="product-hot-slider">
                    <!-- ko foreach: listProductHot-->
                    <div class="item">
                        <partial name="_ProductItem" />
                    </div>
                    <!--/ko-->
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
        var productCategoryHots = @(ViewBag.ListProductCategoryHot != null ? Html.Raw(JsonConvert.SerializeObject(ViewBag.ListProductCategoryHot)) : "[]");
        var productCategoryHotId = "@ViewBag.ProductCategoryId";
    var products = @(ViewBag.ListProduct != null ? Html.Raw(JsonConvert.SerializeObject(ViewBag.ListProduct, jsonSerializerSettings)) : "[]");
    console.log(products);
</script>
