/*@font-face {
    font-family: 'Opensans';
    src: url('../../lib/open_sans/opensans-regular.ttf') format('truetype');
    font-display: swap;
}*/
/*@font-face {
    font-family: 'Opensans-Light';
    src: url('../../lib/open_sans/opensans-light.ttf') format('truetype');
    font-display: swap;
}*/
/*@font-face {
    font-family: 'Opensans-Bold';
    src: url('../../lib/open_sans/opensans-bold.ttf') format('truetype');
    font-display: swap;
}*/
/*@font-face {
    font-family: 'Opensans-Regular';
    src: url('../../lib/open_sans/opensans-regular.ttf') format('truetype');
    font-display: swap;
}*/
/*@font-face {
    font-family: 'Opensans-Lightitalic';
    src: url('../../lib/open_sans/opensans-lightitalic.ttf') format('truetype');
    font-display: swap;
}*/
@font-face {
  font-family: 'Roboto-Bold';
  src: url('../../lib/font-roboto/roboto-bold_1.ttf') format('truetype');
  font-display: swap;
}
@font-face {
  font-family: 'Roboto-Regular';
  src: url('../../lib/font-roboto/roboto-regular.ttf') format('truetype');
  font-display: swap;
}
/*@font-face {
    font-family: 'PlayfairDisplay-Regular';
    src: url('../../lib/playfair-display/playfairdisplay-regular.otf') format('opentype');
    font-display: swap;
}*/
/*@font-face {
    font-family: 'PlayfairDisplay-Bold';
    src: url('../../lib/playfair-display/playfairdisplay-bold.otf') format('opentype');
    font-display: swap;
}*/
.navbar-fixed-top {
  background-color: #F9A5A7;
  border-bottom: none;
  min-height: 70px;
  transition: background-color 2s ease-out;
}
/*.scroll-fixed-navbar {
    background-color: @main-color;
    border-bottom: 1px solid #222;
}*/
@media only screen and (max-width: 1200px) {
  .navbar-header {
    float: none;
  }
  .navbar-left,
  .navbar-right {
    float: none !important;
  }
  .navbar-toggle {
    display: block;
    margin-right: 0px;
    border-radius: 0px;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    /*box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);*/
  }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
    display: none !important;
  }
  .navbar-nav {
    float: none !important;
    margin-top: 7.5px;
  }
  .navbar-nav > li {
    float: none;
  }
  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .collapse.in {
    display: block !important;
  }
}
.header-top {
  position: relative;
}
.wrap-header-top {
  font-family: Roboto-Regular;
  background-color: #F9A5A7;
  color: #FFFFFF;
  padding: 5px 0px;
  display: flex;
  height: auto;
  align-items: center;
}
.wrap-header-top .hotline {
  /*display: flex;
        align-items: center;*/
}
.wrap-header-top .hotline a {
  text-decoration: none;
}
.wrap-header-top .hotline span {
  padding-left: 0px;
  float: unset;
  text-align: center;
  transition: 0.5s ease;
  font-size: 13px;
  color: #FFFFFF;
  font-family: Roboto-Regular;
}
.wrap-header-top ul {
  margin-bottom: 0px;
}
.wrap-header-top ul li {
  padding: 0px 15px;
  border-right: 1px solid #FFFFFF;
}
.wrap-header-top ul li a {
  color: #FFFFFF;
  text-decoration: none;
}
.wrap-header-top ul li i {
  font-size: 18px;
}
.wrap-header-top ul li:last-child {
  border-right: none;
}
.wrap-header-top ul li .shopping-cart {
  position: relative;
}
.wrap-header-top ul li .shopping-cart .quantity-product {
  position: absolute;
  top: 6px;
  right: -3px;
  font-size: 9px;
  color: #606060;
  border-radius: 50%;
  background: #fff;
  height: 12px;
  width: 12px;
  text-align: center;
}
.wrap-header-top .searchbox {
  display: flex;
  position: relative;
}
.wrap-header-top .searchbox input {
  border: 1px solid #FEEEEB;
  border-radius: 15px;
  background: transparent;
  padding: 0 30px 0 15px;
  width: 150px;
  height: 25px;
  color: #fff;
  font-size: 12px;
}
.wrap-header-top .searchbox input:focus {
  box-shadow: unset;
}
.wrap-header-top .searchbox input::-webkit-input-placeholder {
  color: #FFFFFF;
}
.wrap-header-top .searchbox input:-moz-placeholder {
  color: #FFFFFF;
}
.wrap-header-top .searchbox button {
  border: none;
  background-color: transparent;
  position: absolute;
  top: 49%;
  right: -3px;
  transform: translateY(-50%);
  border: 0;
  background: transparent;
  width: 36px;
  color: #fff;
  font-size: 12px;
}
.header-bottom .navbar-inverse {
  background-color: #fafafa;
  font-size: 15px;
  margin-top: 0px !important;
  border: none;
  font-family: Roboto-Regular;
  width: 100%;
  box-shadow: 0 8px 50px -6px rgba(84, 84, 120, 0.26);
}
@media only screen and (max-width: 1200px) {
  .header-bottom .navbar-inverse {
    font-size: 15px !important;
    min-height: 75px;
    background-color: #fafafa;
    border: none !important;
    text-transform: uppercase;
  }
}
.header-bottom .navbar-inverse .wrap {
  align-items: center;
  position: relative;
  padding-right: 0px;
  padding-left: 0px;
}
@media only screen and (max-width: 1200px) {
  .header-bottom .navbar-inverse .wrap {
    display: block;
    padding-top: 0px;
  }
}
.header-bottom .navbar-inverse .wrap .navbar-brand {
  padding: 10px !important;
  display: flex;
  align-items: center;
  flex: 1 0 0;
  max-width: 75px;
  height: 75px;
}
@media only screen and (max-width: 1200px) {
  .header-bottom .navbar-inverse .wrap .navbar-brand {
    padding-left: 5%;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header-bottom .navbar-inverse .wrap .navbar-brand img {
    width: 50px;
  }
}
.header-bottom .navbar-inverse .wrap .wrap-show-icon {
  color: #F9A5A7;
  width: 25px;
  height: 20px;
  font-size: 20px;
  line-height: 0px !important;
}
.header-bottom .navbar-inverse .wrap .search-box-mobile {
  position: absolute;
  right: 120px;
  top: 15px;
}
.header-bottom .navbar-inverse .wrap .search-box-mobile a {
  position: relative;
  color: #F9A5A7;
}
.header-bottom .navbar-inverse .wrap .search-box-mobile a i {
  font-size: 25px;
}
.header-bottom .navbar-inverse .wrap .shopping-cart {
  position: absolute;
  right: 80px;
  top: 15px;
}
.header-bottom .navbar-inverse .wrap .shopping-cart a {
  position: relative;
  color: #F9A5A7;
}
.header-bottom .navbar-inverse .wrap .shopping-cart a i {
  font-size: 25px;
}
.header-bottom .navbar-inverse .wrap .shopping-cart a .quantity-product {
  position: absolute;
  top: -3px;
  right: -12px;
  font-size: 16px;
  color: #606060;
  border-radius: 50%;
  background: #fff;
  height: 22px;
  width: 22px;
  text-align: center;
}
@media only screen and (max-width: 1200px) {
  .header-bottom .navbar-inverse .container {
    margin: 0px !important;
  }
  .header-bottom .navbar-inverse .container a img {
    margin: 5px 0px 0px 5px !important;
  }
  .header-bottom .navbar-inverse .container button {
    margin-top: 15px;
    right: 10px;
  }
  .header-bottom .navbar-inverse .container button .icon-bar {
    width: 20px;
    height: 2px;
    background: #F9A5A7;
  }
}
.header-bottom .navbar-inverse .navbar-toggle {
  border: 1px solid #F9A5A7;
  padding: 7px;
}
.header-bottom .navbar-inverse .navbar-toggle:hover {
  background: none;
}
@media only screen and (max-width: 1200px) {
  .header-bottom .navbar-inverse .navbar-collapse {
    font-size: 16px !important;
    width: 100%;
    margin: 0px;
  }
}
.header-bottom nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 10px !important;
  margin-bottom: 0px;
  border-radius: unset;
  /* Main Nav */
  /*text-align: center;*/
  z-index: 1030;
}
@media only screen and (max-width: 1200px) {
  .header-bottom nav {
    flex-direction: column;
    display: block;
    margin: 0px !important;
    width: 100%;
    /*height: 100%;*/
  }
}
.header-bottom nav .navbar-nav {
  display: flex;
}
@media only screen and (max-width: 1200px) {
  .header-bottom nav .navbar-nav {
    display: block;
    margin: 0px !important;
  }
}
.header-bottom nav .navbar-collapse {
  padding-left: 0px;
  padding-right: 0px;
  border-color: #F9A5A7 !important;
  overflow: scroll;
  padding-top: 20px;
}
@media only screen and (max-width: 1200px) {
  .header-bottom nav .navbar-collapse {
    border: none !important;
    max-height: 120%;
    overflow-y: scroll;
    width: 100%;
    /*width: 80%;*/
    float: right;
    margin: 0px;
    background-color: transparent;
    margin-top: 0px !important;
    padding-top: 0px;
  }
}
.header-bottom nav .navbar-collapse ul {
  /*width: 100%;*/
  align-items: center;
  justify-content: flex-end;
}
@media only screen and (max-width: 1200px) {
  .header-bottom nav .navbar-collapse ul {
    width: 100%;
    margin-left: 0px;
  }
}
.header-bottom nav .navbar-collapse ul li {
  font-size: 15px;
}
@media only screen and (min-width: 1200px) {
  .header-bottom nav .navbar-collapse ul li {
    border: 1px solid none;
    border-radius: 20px !important;
    margin: 0px 5px;
  }
  .header-bottom nav .navbar-collapse ul li a {
    position: relative;
    /*top: 10px;*/
    text-transform: uppercase;
    color: #3F3F3F !important;
    background: none !important;
    padding: 5px 15px;
    /*padding-bottom: 20px;*/
    border: 1px solid transparent !important;
  }
  .header-bottom nav .navbar-collapse ul li a i {
    margin-left: 5px;
    font-size: 20px;
  }
  .header-bottom nav .navbar-collapse ul li:hover,
  .header-bottom nav .navbar-collapse ul li :focus,
  .header-bottom nav .navbar-collapse ul li :active {
    background-color: #F9A5A7;
    border-radius: 10px;
  }
  .header-bottom nav .navbar-collapse ul li:hover a,
  .header-bottom nav .navbar-collapse ul li :focus a,
  .header-bottom nav .navbar-collapse ul li :active a {
    color: #FFFFFF !important;
  }
}
@media only screen and (max-width: 1200px) {
  .header-bottom nav .navbar-collapse ul li {
    font-size: 15px !important;
    border-bottom: 1px solid #EEEDEB !important;
  }
  .header-bottom nav .navbar-collapse ul li a {
    width: 100%;
    margin-left: 10px;
    color: #3F3F3F !important;
    background-color: #fafafa !important;
  }
  .header-bottom nav .navbar-collapse ul li a:active,
  .header-bottom nav .navbar-collapse ul li a :hover,
  .header-bottom nav .navbar-collapse ul li a :focus {
    color: #931C1F !important;
    background-color: #F9A5A7;
  }
  .header-bottom nav .navbar-collapse ul li a i {
    font-size: 20px;
    margin-right: 15px;
  }
  .header-bottom nav .navbar-collapse ul li.open {
    border-bottom: none !important;
  }
  .header-bottom nav .navbar-collapse ul li.open .dropdown-menu {
    font-size: 15px !important;
    border-top: 1px solid #931C1F !important;
  }
  .header-bottom nav .navbar-collapse ul li.open > a {
    color: #931C1F !important;
    font-size: 15px !important;
  }
  .header-bottom nav .navbar-collapse ul li.open > a .fa-angle-down {
    display: none !important;
  }
  .header-bottom nav .navbar-collapse ul li.open > a .fa-angle-up {
    display: block !important;
  }
  .header-bottom nav .navbar-collapse ul li:last-child {
    border-bottom: none;
  }
  .header-bottom nav .navbar-collapse ul li .dropdown-submenu.open {
    border-bottom: none !important;
  }
  .header-bottom nav .navbar-collapse ul li .dropdown-submenu.open > ul {
    margin-left: 10px !important;
    border-top: 1px solid #EEEDEB !important;
  }
  .header-bottom nav .navbar-collapse ul li .dropdown-submenu.open > a {
    font-size: 15px !important;
    color: #931C1F !important;
  }
  .header-bottom nav .navbar-collapse ul li .dropdown-submenu.open > a .fa-angle-down {
    display: none !important;
  }
  .header-bottom nav .navbar-collapse ul li .dropdown-submenu.open > a .fa-angle-up {
    display: block !important;
  }
}
.header-bottom nav .navbar-collapse ul li .list-social-network {
  margin-top: 10px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-bottom nav .navbar-collapse ul li .list-social-network .list-items {
  margin: 5px;
}
.header-bottom nav .navbar-collapse ul li .list-social-network .list-items a {
  border: none !important;
}
.header-bottom nav .navbar-collapse ul li .list-social-network .list-items a i {
  display: inline-block;
  border-radius: 40px;
  box-shadow: 0px 0px 2px #888;
  padding: 0.5em 0.6em;
  background-color: #eef0f1;
  color: #F9A5A7;
  height: 40px;
  width: 40px;
  font-size: 22px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-bottom nav .navbar-collapse ul li .list-social-network .list-items a i.fa-facebook {
  padding: 10px 15px;
}
.header-bottom nav .navbar-collapse ul li .list-social-network .list-items a i.fa-linkedin {
  padding: 10px 13px;
}
.header-bottom nav .navbar-collapse ul li .list-social-network .list-items a i.fa-twitter {
  padding: 10px 13px;
}
.header-bottom nav .navbar-collapse ul li .list-social-network .list-items a i.fa-google-plus {
  padding: 10px 9px;
}
.header-bottom nav .navbar-collapse ul li .list-social-network .list-items a i.fa-youtube {
  padding: 10px 13px;
}
@media only screen and (min-width: 1200px) {
  .header-bottom nav .navbar-collapse ul li .active {
    color: #FFFFFF !important;
    background-color: #F9A5A7 !important;
    border-radius: 20px;
  }
}
@media only screen and (min-width: 1200px) {
  .header-bottom nav .navbar-collapse ul li:hover.dropdown-submenu > ul.dropdown-menu {
    top: -1px !important;
    left: 93%;
  }
  .header-bottom nav .navbar-collapse ul li:hover > ul.dropdown-menu {
    display: block;
    position: absolute;
    opacity: 1;
    background-color: #fafafa !important;
    padding-top: 0px !important;
  }
  .header-bottom nav .navbar-collapse ul li:hover > ul.dropdown-menu li {
    margin: 0px;
    border-radius: unset !important;
  }
  .header-bottom nav .navbar-collapse ul li:hover > ul.dropdown-menu li:hover {
    background-color: #F9A5A7 !important;
  }
  .header-bottom nav .navbar-collapse ul li:hover > ul.dropdown-menu li:hover > a {
    color: #FFFFFF !important;
  }
  .header-bottom nav .navbar-collapse ul li:hover > ul.dropdown-menu li a {
    color: #3F3F3F !important;
    margin-left: 5px;
    padding-bottom: 5px !important;
    border: none !important;
    background-color: rgba(0, 0, 0, 0) !important;
    border-radius: unset;
    font-size: 15px !important;
    border-bottom: 1px solid transparent !important;
  }
}
.header-bottom nav .navbar-collapse ul li .dropdown-menu {
  position: absolute;
  opacity: 1;
  padding-top: 0px;
  list-style: none;
  /*display: none;*/
  width: 100%;
  top: 31px !important;
  left: 0;
  padding-bottom: 0px !important;
  text-align: left;
  min-width: 300px;
  padding-left: 0;
  -webkit-transition-property: opacity,top;
  transition-property: opacity,top;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  z-index: 1030;
  margin-top: 1px;
}
@media only screen and (max-width: 1200px) {
  .header-bottom nav .navbar-collapse ul li .dropdown-menu {
    border: none !important;
    box-shadow: none !important;
    position: static;
    height: auto;
    overflow: scroll;
  }
}
.header-bottom nav .navbar-collapse ul li .dropdown-menu li {
  margin: 0px;
  padding-bottom: 0px !important;
  border: none !important;
  background-color: #fafafa !important;
  border-radius: unset !important;
  font-size: 15px !important;
}
@media only screen and (max-width: 1200px) {
  .header-bottom nav .navbar-collapse ul li .dropdown-menu li {
    padding: 3px 0px !important;
  }
}
.header-bottom nav .navbar-collapse ul li .dropdown-menu li a {
  font-size: 15px;
  color: #3F3F3F !important;
  border: none !important;
  border-radius: unset;
  font-family: Roboto-Regular;
  cursor: pointer;
  padding: 10px 20px;
}
.header-bottom nav .header-tool {
  position: absolute;
  right: 0;
  padding-top: 30px;
  padding-right: 10px;
}
.header-bottom nav .header-tool .btn-group a {
  font-size: 16px;
  color: #F9A5A7;
}
.header-bottom nav .header-tool .btn-group a:hover,
.header-bottom nav .header-tool .btn-group a :focus,
.header-bottom nav .header-tool .btn-group a :active {
  text-decoration: none !important;
}
.layout_sidebar {
  position: fixed;
  list-style: none;
  right: 0px;
  top: 30%;
  z-index: 999999;
  transition: 1s ease-in-out;
}
@media only screen and (max-width: 1200px) {
  .layout_sidebar {
    top: 40%;
  }
}
.layout_sidebar li {
  padding: 5px;
  margin-bottom: 5px;
  background-color: #F9A5A7;
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  max-width: 150px;
  padding-left: 12px;
  min-height: 45px;
}
.layout_sidebar li a {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 12px;
  text-transform: uppercase;
  font-family: Roboto-Regular;
  display: inline-block;
  transition: 1s ease-in-out;
}
.layout_sidebar li a i {
  font-size: 24px;
}
.layout_sidebar li .item-left {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 5px;
}
.layout_sidebar li .shopping-cart a {
  position: relative;
}
.layout_sidebar li .shopping-cart a .quantity-product {
  position: absolute;
  top: -9px;
  right: -3px;
  font-size: 13px;
  color: #606060;
  border-radius: 50%;
  background: #fff;
  height: 17px;
  width: 17px;
  text-align: center;
}
.layout_sidebar li .item-right {
  display: none;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
.layout_sidebar li .item-right span {
  transition: 1s ease-in-out;
  text-transform: uppercase;
  /*display: none;*/
}
.layout_sidebar li ul {
  padding-left: 0px;
  transition: 1s ease-in-out;
  list-style: none;
}
.layout_sidebar li ul li {
  width: 120px;
  background-color: transparent;
  border-bottom-left-radius: unset;
  border-top-left-radius: unset;
  box-shadow: none;
  padding: 0px 5px;
  margin-bottom: 0px;
  width: unset;
  display: inline;
}
.layout_sidebar li ul li i {
  font-size: 12px;
}
.layout_sidebar:hover .item-right {
  display: flex;
}
.fullscreen_search {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.95);
  z-index: 10001;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.3s;
  transition: 0.5s;
}
.fullscreen_search.active {
  opacity: 0.9;
  visibility: visible;
}
.fullscreen_search.active .search_container {
  transform: scaley(1);
}
.fullscreen_search .search_container {
  position: fixed;
  top: 50%;
  margin-top: -50px;
  width: 80%;
  left: 10%;
  z-index: 10001;
  -webkit-transition: 0.7s;
  transition: 0.7s;
  transform: scaley(0);
}
@media only screen and (max-width: 1200px) {
  .fullscreen_search .search_container .search_container {
    width: 80%;
    left: 8%;
  }
}
.fullscreen_search .search_container form {
  position: relative;
  background: #333333;
}
.fullscreen_search .search_container form input {
  width: 100%;
  height: 100px;
  background: inherit;
  border: 0;
  color: #fff;
  opacity: 0.6;
  font-size: 15px;
  padding: 0 140px 0 20px;
}
@media only screen and (max-width: 1200px) {
  .fullscreen_search .search_container form input {
    height: 50px;
    padding: 0 60px 0 13px;
  }
}
.fullscreen_search .search_container form input:focus {
  border: none !important;
  box-shadow: none !important;
}
.fullscreen_search .search_container form button {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  height: 100%;
  width: 140px;
  background: #F9A5A7;
  color: #FFFFFF;
  font-size: 48px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
@media only screen and (max-width: 1200px) {
  .fullscreen_search .search_container form button {
    width: 62px;
    font-size: 25px;
  }
}
.fullscreen_search .search_close_btn {
  position: fixed;
  top: 14%;
  right: 10%;
  cursor: pointer;
}
.fullscreen_search .search_close_btn i {
  color: #F9A5A7;
  font-size: 26px;
}