
@{
    var listSocialNetWork = ViewBag.SocialNetwork as List<SocialNetworkViewModel>;
}
<footer id="footer">
    <div class="container">
        <div class="row">
            <div id="footer_copyright" class="col-sm-12 text-center">
                <p>
                    Copyright 2018 - @DateTime.Now.Year <span>Ameia - PMU</span>. All Rights Reserved.
                    @if (listSocialNetWork != null && listSocialNetWork.Any())
                    {
                        <ul class="list-inline">
                            @foreach (var socialNetWork in listSocialNetWork)
                            {
                                <li class="list-items">
                                    <a href="@socialNetWork.Url" class="btn-scoical">
                                        @if (!string.IsNullOrEmpty(socialNetWork.Image))
                                        {
                                            <img data-src="@($"/image?url={(string.IsNullOrEmpty(socialNetWork.Image) ? "/images/no-image.png" : socialNetWork.Image)}&width=15&height=15&type=1")"
                                                 alt="@socialNetWork.Name"
                                                 class="lazy" />
                                        }
                                    </a>
                                </li>
                            }
                        </ul>
                    }
                </p>
            </div>
        </div>
    </div>
</footer>
