@model List<CategorySearchViewModel>;
@{
    var url = ViewBag.Url;
}

@if (Model != null && Model.Any())
{
    @foreach (var news in Model)
    {
        <div class="item">
            <div class="wrap-item">
                <a href="@($"/{ news.SeoLink}.html")">
                    <img class="news-image zoom img-responsive lazy" src="/image?url=@(string.IsNullOrEmpty(news.BannerImage) ? "/images/no-image.png" : $"{url}{news.BannerImage}&width=255&height=213")"
                         onerror="this.src='/images/no-image.png'"/>

                </a>
                <div class="title">
                    <a class="slide-description" href="@($"/{ news.SeoLink}.html")">@(string.IsNullOrEmpty(news.Name) ? "No Name" : news.Name)</a>
                </div>
                <div class="img-overlay">

                </div>
            </div>
        </div>

    }
}

