@font-face {
    font-family: avenir-regular;
    src: url(/build/fonts/avenir-regular.c0fee925.eot?#iefix) format("eot"), url(/build/fonts/avenir-regular.0593b70c.woff2) format("woff2"), url(/build/fonts/avenir-regular.c8b2bcde.woff) format("woff"), url(/build/fonts/avenir-regular.de800838.ttf) format("truetype");
}

@font-face {
    font-family: avenir-light;
    src: url(/build/fonts/avenir-light.671fddf4.eot?#iefix) format("eot"), url(/build/fonts/avenir-light.67298f3e.woff2) format("woff2"), url(/build/fonts/avenir-light.4617ebe7.woff) format("woff"), url(/build/fonts/avenir-light.bd888039.ttf) format("truetype");
}

@font-face {
    font-family: FontAwesome;
    src: url(/build/fonts/fontawesome-webfont.674f50d2.eot?#iefix&v=4.7.0) format("embedded-opentype"), url(/build/fonts/fontawesome-webfont.af7ae505.woff2) format("woff2"), url(/build/fonts/fontawesome-webfont.fee66e71.woff) format("woff"), url(/build/fonts/fontawesome-webfont.b06871f2.ttf) format("truetype"), url(/build/images/fontawesome-webfont.912ec66d.svg#fontawesomeregular) format("svg");
    font-weight: 400;
    font-style: normal;
}

html {
    line-height: 1.65rem;
    font-family: avenir-light;
    font-size: 1rem;
    -ms-overflow-x: hidden;
}

img + p {
    margin-top: 1rem;
}

p + img {
    margin-top: 1rem;
}

p + p {
    margin-top: 1rem;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

section.module ul {
    padding-left: 1rem;
}

    section.module ul li {
        list-style: circle;
    }

.subline {
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    display: block;
}

.subline-red {
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    display: block;
}

.subline-red {
    background: rgb(233, 0, 41);
    padding: 5px 0.75rem 4px;
    color: rgb(255, 255, 255);
    line-height: 1.2rem;
    letter-spacing: 0.05rem;
    font-family: avenir-regular;
    font-size: 0.85rem;
    display: inline-block;
}

@media only screen and (max-width:767px) {
    .subline-red {
        padding: 2px 0.5rem 0px;
        font-size: 0.7rem;
    }
}

.subline-red + p {
    margin-top: 0.5rem;
}

.arrow-list li {
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    margin-bottom: 0.5rem;
}

.arrow-right {
    position: relative;
}

    .arrow-right::after {
        border-width: 1px 1px 0px 0px;
        border-style: solid;
        border-color: rgb(233, 0, 41);
        margin: auto;
        border-image: none;
        top: 0px;
        width: 8px;
        height: 8px;
        right: -0.8rem;
        bottom: 0px;
        position: absolute;
        content: "";
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
    }

a:not(.button) {
    transition: color 0.3s;
}

    a:not(.button):hover {
        color: rgb(233, 0, 41);
    }

p + .button {
    margin-top: 1.5rem;
}

:first-of-type.box-not-in-row.nir-4 {
    margin-top: 16.66%;
}

:nth-of-type(3).box-not-in-row.nir-4 {
    margin-top: 16.66%;
}

:nth-of-type(4).box-not-in-row.nir-4 {
    margin-top: -16.66%;
}

:nth-of-type(2).box-not-in-row.nir-5 {
    margin-top: calc(-33.33333% - 1.6rem);
}

:nth-of-type(4).box-not-in-row.nir-5 {
    margin-top: -16.66%;
}

:first-of-type.box-not-in-row.nir-7 {
    margin-top: 16.66%;
}

:nth-of-type(3).box-not-in-row.nir-7 {
    margin-top: 16.66%;
}

:nth-of-type(5).box-not-in-row.nir-7 {
    margin-top: -16.66%;
}

:nth-of-type(7).box-not-in-row.nir-7 {
    margin-top: -16.66%;
}

:nth-of-type(2).box-not-in-row.nir-8 {
    margin-top: calc(-33.33333% - 1.6rem);
}

:nth-of-type(4).box-not-in-row.nir-8 {
    margin-top: -16.66%;
}

:nth-of-type(7).box-not-in-row.nir-8 {
    margin-top: -16.66%;
}

@media only screen and (max-width:767px) {
    .box-not-in-row {
        margin-top: 0px !important;
        margin-left: 0px !important;
    }
}

.slide-from-bot-xs {
    transform: translateY(80px);
    -webkit-transform: translateY(80px);
}

.slide-from-bot-s {
    transform: translateY(120px);
    -webkit-transform: translateY(120px);
}

.slide-from-bot-m {
    transform: translateY(160px);
    -webkit-transform: translateY(160px);
}

.slide-from-bot-l {
    transform: translateY(200px);
    -webkit-transform: translateY(200px);
}

.slide-from-bot-xl {
    transform: translateY(240px);
    -webkit-transform: translateY(240px);
}

.slide-from-left {
    transform: translateX(-75px) translateY(75px);
    -webkit-transform: translateX(-75px) translateY(75px);
}

.slide-from-right {
    transform: translateX(75px) translateY(75px);
    -webkit-transform: translateX(75px) translateY(75px);
}

.slide-from-left-bot {
    transform: translateX(-50px) translateY(160px);
    -webkit-transform: translateX(-50px) translateY(160px);
}

.slide-from-right-bot {
    transform: translateX(50px) translateY(160px);
    -webkit-transform: translateX(50px) translateY(160px);
}

.slide-from-left-bot-with-mid {
    transform: translateX(-75px) translateY(160px);
    -webkit-transform: translateX(-75px) translateY(160px);
}

.slide-from-right-bot-with-mid {
    transform: translateX(75px) translateY(160px);
    -webkit-transform: translateX(75px) translateY(160px);
}

.slide-from-bot-bot {
    transform: translateY(160px);
    -webkit-transform: translateY(160px);
}

.slide-from-bot {
    transform: translateY(75px);
    -webkit-transform: translateY(75px);
}

.slide-from-bot-left-small {
    transform: translateX(-25px) translateY(75px);
    -webkit-transform: translateX(-25px) translateY(75px);
}

.slide-from-bot-right-small {
    transform: translateX(25px) translateY(75px);
    -webkit-transform: translateX(25px) translateY(75px);
}

.slide-from-bot.pic-1 {
    transform: translateY(400px);
    -webkit-transform: translateY(400px);
}

@media only screen and (max-width:992px) {
    .slide-from-bot.pic-1 {
        transform: translateY(60px);
        -webkit-transform: translateY(60px);
    }
}

@media only screen and (max-width:767px) {
    .slide-from-bot.pic-1 {
        transform: translateX(100px);
        -webkit-transform: translateX(100px);
    }
}

.slide-from-bot-bot.pic-2 {
    transform: translateY(250px);
    -webkit-transform: translateY(250px);
}

@media only screen and (max-width:992px) {
    .slide-from-bot-bot.pic-2 {
        transform: translateY(30px);
        -webkit-transform: translateY(30px);
    }
}

@media only screen and (max-width:767px) {
    .slide-from-bot-bot.pic-2 {
        transform: translateX(50px);
        -webkit-transform: translateX(50px);
    }
}

section.module {
    position: relative;
}

    section.module .arrow-right {
        color: rgb(0, 0, 0);
    }

        section.module .arrow-right:hover {
            color: rgb(233, 0, 41);
        }

    section.module .button {
        width: auto;
    }

    section.module a:not(.button):not(.arrow-right) {
        color: rgb(233, 0, 41);
    }

    section.module::after {
        background: rgb(50, 62, 72);
        margin: auto;
        left: 1px;
        width: 1px;
        height: 4rem;
        right: 0px;
        display: block;
        position: relative;
        content: "";
    }

    section.module::before {
        background: rgb(50, 62, 72);
        margin: auto;
        left: 1px;
        width: 1px;
        height: 4rem;
        right: 0px;
        display: block;
        position: relative;
        content: "";
    }

@media only screen and (max-width:767px) {
    section.module::after {
        height: 2rem;
    }

    section.module::before {
        height: 2rem;
    }
}

.line p:first-of-type::before {
    background: rgb(50, 62, 72);
    width: 7rem;
    height: 1px;
    margin-bottom: 2rem;
    display: block;
    content: "";
}

@media only screen and (max-width:767px) {
    .module.big-picture-left .line {
        margin-top: 2rem;
    }

    .module.big-picture-right .line {
        margin-top: 2rem;
    }

    .module.overlap-picture-left .line {
        margin-top: 2rem;
    }

    .module.overlap-picture-right .line {
        margin-top: 2rem;
    }

    .module.picture-middle .line {
        margin-top: 2rem;
    }
}

.module.big-picture-left .left {
    padding-right: 0px;
}

@media only screen and (max-width:767px) {
    .module.big-picture-left .left {
        padding-right: 1.5rem;
    }
}

.module.big-picture-left .line {
    padding-left: 3rem;
}

@media only screen and (max-width:767px) {
    .module.big-picture-left .line {
        padding-left: 1.5rem;
    }
}

.module.big-picture-right .right {
    padding-left: 0px;
}

@media only screen and (max-width:767px) {
    .module.big-picture-right .right {
        padding-left: 1.5rem;
    }
}

.module.big-picture-right .line {
    padding-right: 3rem;
}

@media only screen and (max-width:767px) {
    .module.big-picture-right .line {
        padding-right: 1.5rem;
    }
}

.module.big-picture .animation-wrapper {
    margin-bottom: 2rem;
}

.module.big-picture img {
    margin-bottom: 2rem;
}

.module.big-picture .left {
    text-align: left;
}

.module.big-picture .right {
    text-align: left;
}

@media only screen and (max-width:767px) {
    .module.big-picture .left {
        margin-bottom: 1rem;
    }
}

.module .pic-1.up {
    z-index: 900;
}

.module .pic-2.up {
    z-index: 900;
}

.module .pic-3.up {
    z-index: 900;
}

.module .overlap-pictures-right {
    position: relative;
}

@media only screen and (max-width:992px) {
    .module .overlap-pictures-right {
        margin-bottom: 2rem;
    }
}

.module .overlap-pictures-right .pic-1 {
    position: relative;
}

.module .overlap-pictures-right .pic-2 {
    margin: auto;
    left: 60%;
    top: 0px;
    width: 130%;
    bottom: 0px;
    position: absolute;
}

.module .overlap-pictures-left {
    position: relative;
}

@media only screen and (max-width:992px) {
    .module .overlap-pictures-left {
        margin-bottom: 2rem;
    }
}

.module .overlap-pictures-left .pic-1 {
    position: relative;
}

.module .overlap-pictures-left .pic-2 {
    margin: auto;
    top: 0px;
    width: 130%;
    right: 60%;
    bottom: 0px;
    position: absolute;
}

.module .wrap {
    position: relative;
}

@media only screen and (max-width:767px) {
    .module .wrap {
        margin-right: auto;
        margin-bottom: 2rem;
        margin-left: auto;
        max-width: 38rem;
    }
}

@media only screen and (max-width:992px) {
    .module .wrap .diagonal-pictures-left {
        padding-bottom: 10rem;
    }
}

.module .wrap .diagonal-pictures-left .pic-1 {
    position: relative;
    max-width: 20rem;
}

@media only screen and (max-width:767px) {
    .module .wrap .diagonal-pictures-left .pic-1 {
        max-width: 50%;
    }
}

.module .wrap .diagonal-pictures-left .pic-2 {
    right: 1.5rem;
    bottom: 0px;
    position: absolute;
    max-width: 20rem;
}

@media only screen and (max-width:767px) {
    .module .wrap .diagonal-pictures-left .pic-2 {
        right: 15%;
        bottom: 3rem;
        max-width: 50%;
    }
}

@media only screen and (max-width:992px) {
    .module .wrap .diagonal-pictures-right {
        padding-bottom: 10rem;
    }
}

.module .wrap .diagonal-pictures-right .pic-1 {
    position: relative;
    max-width: 20rem;
}

@media only screen and (max-width:767px) {
    .module .wrap .diagonal-pictures-right .pic-1 {
        max-width: 50%;
    }
}

.module .wrap .diagonal-pictures-right .pic-2 {
    right: 0px;
    bottom: 0px;
    position: absolute;
    max-width: 20rem;
}

@media only screen and (max-width:767px) {
    .module .wrap .diagonal-pictures-right .pic-2 {
        right: 15%;
        max-width: 50%;
    }
}

.module.square-left .pic-2 {
    width: 100%;
}

.module.square-right .pic-2 {
    width: 100%;
}

.module.square-left h3 {
    color: rgb(233, 0, 41);
}

.module.square-right h3 {
    color: rgb(233, 0, 41);
}

.module.long-text-left .row {
    text-align: left;
}

.module.long-text-right .row {
    text-align: left;
}

.module.three-elements-left .pic-1 {
    left: 0px;
    top: 70%;
    position: absolute;
    max-width: 21rem;
}

@media only screen and (max-width:992px) {
    .module.three-elements-left .pic-1 {
        left: -20%;
        position: relative;
    }
}

@media only screen and (max-width:767px) {
    .module.three-elements-left .pic-1 {
        left: 20%;
        max-width: 50%;
    }
}

.module.three-elements-left .pic-2 {
    display: inline-block;
}

.module.three-elements-left .pic-3 {
    display: inline-block;
}

.module.three-elements-left .pic-3 {
    margin-top: 2rem;
}

@media only screen and (max-width:992px) {
    .module.three-elements-left .pic-3 {
        width: 100%;
        height: auto;
    }
}

@media only screen and (max-width:767px) {
    .module.three-elements-left .pic-3 {
        width: 120%;
        margin-left: -10rem;
    }
}

.module.three-elements-left .pic-2 {
    min-width: 300px;
    max-width: 350px;
}

@media only screen and (max-width:992px) {
    .module.three-elements-left .pic-2 {
        height: auto;
    }
}

@media only screen and (max-width:767px) {
    .module.three-elements-left .pic-2 {
        width: 100%;
        min-width: auto;
    }
}

.module.three-elements-left .picture-left {
    height: 100%;
    text-align: right;
}

@media only screen and (max-width:992px) {
    .module.three-elements-left .picture-left {
        padding-top: 5rem;
    }
}

.module.three-elements-left .start-xs {
    margin-bottom: 2rem;
}

@media only screen and (max-width:767px) {
    .module.three-elements-left .start-xs {
        margin-bottom: 0px;
    }
}

@media only screen and (max-width:767px) {
    .module.three-elements-left .wrap {
        margin-top: 2rem;
        margin-bottom: -10%;
    }
}

@media only screen and (max-width:767px) {
    .module.three-elements-left .pic-wrap {
        transform: translateX(10%);
        -webkit-transform: translateX(10%);
    }
}

.module.video-big .start-xs {
    margin-top: 2rem;
}

@media only screen and (max-width:767px) {
    .module.video-left .line {
        margin-top: 2rem;
    }

    .module.video-right .line {
        margin-top: 2rem;
    }
}

.module.video-left .left {
    padding-right: 0px;
}

@media only screen and (max-width:767px) {
    .module.video-left .left {
        padding-right: 1.5rem;
    }
}

.module.video-left .line {
    padding-left: 3rem;
}

@media only screen and (max-width:767px) {
    .module.video-left .line {
        padding-left: 1.5rem;
    }
}

.module.video-right .right {
    padding-left: 0px;
}

@media only screen and (max-width:767px) {
    .module.video-right .right {
        padding-left: 1.5rem;
    }
}

.module.video-right .line {
    padding-right: 3rem;
}

@media only screen and (max-width:767px) {
    .module.video-right .line {
        padding-right: 1.5rem;
    }
}

.module.darkgrey {
    background: rgb(50, 62, 72);
}

    .module.darkgrey::after {
        background: rgb(255, 255, 255);
    }

    .module.darkgrey::before {
        background: rgb(255, 255, 255);
    }

    .module.darkgrey h2 {
        color: rgb(181, 168, 152);
    }

    .module.darkgrey p {
        color: rgb(255, 255, 255);
    }

    .module.darkgrey .line p:first-of-type::before {
        background: rgb(255, 255, 255);
    }

    .module.darkgrey a:not(.button):not(.arrow-right) {
        color: rgb(181, 168, 152);
    }

.module.text-no-pic .line {
    margin-bottom: 1rem;
}

.module.text-list::after {
    background: none;
}

.module.text-list::before {
    background: none;
}

.module.text-list h3 {
    color: rgb(233, 0, 41);
}

.module.text-list .container {
    position: relative;
}

    .module.text-list .container::after {
        background: rgb(50, 62, 72);
        margin: auto;
        left: 1px;
        top: -4rem;
        width: 1px;
        height: calc(100% + 8rem);
        right: 0px;
        display: block;
        position: absolute;
        content: "";
    }

    .module.text-list .container::before {
        background: rgb(50, 62, 72);
        margin: auto;
        left: 1px;
        top: -4rem;
        width: 1px;
        height: calc(100% + 8rem);
        right: 0px;
        display: block;
        position: absolute;
        content: "";
    }

@media only screen and (max-width:767px) {
    .module.text-list .container::after {
        display: none;
    }

    .module.text-list .container::before {
        display: none;
    }
}

.module.text-list .right {
    padding-left: 4rem;
}

@media only screen and (max-width:767px) {
    .module.text-list .right {
        padding-top: 2rem;
        padding-left: 1.5rem;
        margin-top: 2rem;
        border-top-color: rgb(50, 62, 72);
        border-top-width: 1px;
        border-top-style: solid;
    }
}

.module.statement .middle {
    background: url("/build/images/letter-a.3da0650f.svg") no-repeat 50% / contain;
    text-align: center;
    margin-bottom: 0px;
}

    .module.statement .middle .center {
        margin: auto;
        padding: 7rem 0px;
        max-width: 16rem;
    }

        .module.statement .middle .center h2 {
            line-height: 1.8rem;
            font-size: 1.2rem;
            margin-bottom: 0px;
        }

        .module.statement .middle .center p {
            text-transform: uppercase;
            line-height: 1.8rem;
            font-size: 1.1rem;
        }

.module.quote {
    padding-top: 6rem;
}

@media only screen and (max-width:767px) {
    .module.quote {
        padding-right: 1.5rem;
        padding-left: 1.5rem;
    }
}

.module.quote::before {
    top: -6rem;
}

.module.quote .slick-list {
    margin-top: -10rem;
}

@media only screen and (max-width:992px) {
    .module.quote .slick-list {
        margin-top: -6rem;
    }
}

.module.quote .slick-list .slick-slide .line {
    margin-top: 10rem;
}

@media only screen and (max-width:992px) {
    .module.quote .slick-list .slick-slide .line {
        margin-top: 6rem;
    }
}

@media only screen and (max-width:767px) {
    .module.quote .slick-list .slick-slide .line {
        margin-top: 0px;
    }
}

.module.quote .slick-arrow::before {
    color: rgb(255, 255, 255);
}

.module.quote .container {
    background: rgb(50, 62, 72);
}

.module.quote p {
    color: rgb(255, 255, 255);
    margin-bottom: 1.25rem;
    display: block;
    max-width: 25rem;
}

.module.quote q {
    color: rgb(255, 255, 255);
    margin-bottom: 1.25rem;
    display: block;
    max-width: 25rem;
}

@media only screen and (max-width:767px) {
    .module.quote p {
        margin: auto auto 1.25rem;
    }

    .module.quote q {
        margin: auto auto 1.25rem;
    }
}

.module.quote p {
    color: rgb(181, 168, 152);
    letter-spacing: 0.5px;
}

.module.quote q {
    letter-spacing: 0.2px;
    font-family: avenir-light;
}

.module.quote h3 {
    margin-bottom: 0px;
}

.module.quote .line {
    padding-left: 0px;
}

@media only screen and (max-width:767px) {
    .module.quote .line {
        text-align: center;
        padding-left: 1.5rem;
    }
}

.module.quote .line p:first-of-type::before {
    background: rgb(255, 255, 255);
    margin-bottom: 1rem;
}

@media only screen and (max-width:767px) {
    .module.quote .line p:first-of-type::before {
        background: none;
    }
}

.module.quote .right {
    text-align: right;
}

@media only screen and (max-width:767px) {
    .module.quote .right {
        text-align: center;
    }
}

.module.quote .right img {
    margin-right: 3rem;
    display: inline-block;
    max-width: 350px;
}

@media only screen and (max-width:992px) {
    .module.quote .right img {
        margin-right: 1rem;
        max-width: 250px;
    }
}

.module.lightbox-wrap .img-box {
}

.module.lightbox-wrap .animate-item {
}

.module.lightbox-wrap .lightbox {
    background: rgba(0, 0, 0, 0.8);
    transition: opacity 0.3s;
    left: 0px;
    top: -100%;
    text-align: left;
    right: 0px;
    bottom: 100%;
    position: fixed;
    z-index: 2000;
    opacity: 0;
}

    .module.lightbox-wrap .lightbox div {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .module.lightbox-wrap .lightbox .lightbox-img-slider {
        padding: 0px;
    }

    .module.lightbox-wrap .lightbox .lightbox-text {
        overflow: scroll;
        padding-bottom: 3.5rem;
        max-height: 409px;
    }

@media only screen and (max-width:1200px) {
    .module.lightbox-wrap .lightbox .lightbox-text {
        max-height: 280px;
    }
}

@media only screen and (max-width:767px) {
    .module.lightbox-wrap .lightbox .lightbox-text {
        overflow: visible;
        padding-bottom: 0px;
        max-height: inherit;
    }
}

.module.lightbox-wrap .lightbox .lightbox-text::before {
    background: rgb(50, 62, 72);
    width: 7rem;
    height: 1px;
    margin-top: -1rem;
    margin-right: auto;
    margin-bottom: 1rem;
    display: block;
    position: absolute;
    content: "";
}

.module.lightbox-wrap .lightbox .lightbox-text::after {
    background: linear-gradient(180deg, hsla(0, 0%, 100%, 0) 0px, rgb(255, 255, 255) 70%);
    width: 50%;
    height: 5rem;
    bottom: 0px;
    position: absolute;
    content: "";
}

@media only screen and (max-width:767px) {
    .module.lightbox-wrap .lightbox .lightbox-text::after {
        display: none;
    }
}

.module.lightbox-wrap .lightbox .slider-wrap {
    height: 100%;
    margin-top: -5rem;
}

@media only screen and (max-width:767px) {
    .module.lightbox-wrap .lightbox .slider-wrap {
        margin-top: 0px;
    }
}

.module.lightbox-wrap :target.lightbox {
    transition: opacity 0.3s;
    top: 0px;
    bottom: 0px;
    opacity: 1;
}

    .module.lightbox-wrap :target.lightbox ~ #lightbox-controls {
        top: 0px;
    }

        .module.lightbox-wrap :target.lightbox ~ #lightbox-controls #close-lightbox::after {
            width: 50px;
        }

        .module.lightbox-wrap :target.lightbox ~ #lightbox-controls #close-lightbox::before {
            height: 50px;
        }

@media only screen and (max-width:992px) {
    .module.lightbox-wrap .lightbox .slick-list {
        margin-top: 0px;
    }
}

.module.lightbox-wrap .lightbox .slick-arrow {
    margin: 0px;
    top: 50%;
    background-color: transparent;
}

    .module.lightbox-wrap .lightbox .slick-arrow.slick-prev {
        left: 0px;
    }

@media only screen and (max-width:1200px) {
    .module.lightbox-wrap .lightbox .slick-arrow.slick-prev {
        left: -1.4rem;
    }
}

@media only screen and (max-width:767px) {
    .module.lightbox-wrap .lightbox .slick-arrow.slick-prev {
        left: -1rem;
    }
}

.module.lightbox-wrap .lightbox .slick-arrow.slick-next {
    text-align: right;
    right: 0px;
}

@media only screen and (max-width:1200px) {
    .module.lightbox-wrap .lightbox .slick-arrow.slick-next {
        right: -1.25rem;
    }
}

@media only screen and (max-width:767px) {
    .module.lightbox-wrap .lightbox .slick-arrow.slick-next {
        right: -1rem;
    }
}

.module.lightbox-wrap .lightbox h3 {
    color: rgb(233, 0, 41);
}

.module.lightbox-wrap .lightbox .center {
    background: rgb(255, 255, 255);
    padding: 2rem 2rem 0px;
    left: 50%;
    top: 50%;
    width: 80%;
    position: absolute;
    max-width: 1000px;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

@media only screen and (max-width:767px) {
    .module.lightbox-wrap .lightbox .center {
        padding: 1rem 1rem 4rem;
        width: 100vw;
        height: 100%;
        overflow: scroll;
    }
}

.module.lightbox-wrap .lightbox .center .line p:first-of-type::before {
    content: none;
}

.module.lightbox-wrap .lightbox .center .right img {
    margin: 0px auto;
    max-width: 350px;
}

.module.lightbox-wrap .lightbox .center .social {
    text-align: center;
    padding-top: 0.5rem;
    margin-top: 0.5rem;
}

    .module.lightbox-wrap .lightbox .center .social ul {
        padding-left: 0px;
    }

        .module.lightbox-wrap .lightbox .center .social ul li {
            display: inline;
        }

            .module.lightbox-wrap .lightbox .center .social ul li i {
                margin: 0px 0.75rem;
                color: rgb(50, 62, 72);
                font-size: 1.2rem;
            }

            .module.lightbox-wrap .lightbox .center .social ul li:first-child i {
                margin-left: 0px;
            }

@media only screen and (max-width:767px) {
    .module.lightbox-wrap .lightbox .center .social {
        margin-bottom: 2rem;
    }
}

.module.lightbox-wrap #lightbox-controls {
    background: rgba(0, 0, 0, 0.1);
    top: -70px;
    width: 70px;
    height: 70px;
    right: 0px;
    position: fixed;
    z-index: 2001;
}

@media only screen and (max-width:767px) {
    .module.lightbox-wrap #lightbox-controls {
        transform-origin: right top;
        transform: scale(0.75);
        -webkit-transform: scale(.75);
        -webkit-transform-origin: top right;
    }
}

.module.lightbox-wrap #lightbox-controls #close-lightbox {
    top: 10px;
    width: 50px;
    height: 50px;
    right: 10px;
    text-indent: -5000px;
    overflow: hidden;
    display: block;
    position: absolute;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

    .module.lightbox-wrap #lightbox-controls #close-lightbox::before {
        background: rgb(255, 255, 255);
        border-radius: 2px;
        transition: 0.5s ease-in-out 0.5s;
        left: 24px;
        top: 0px;
        width: 3px;
        height: 0px;
        display: block;
        position: absolute;
        content: "";
    }

    .module.lightbox-wrap #lightbox-controls #close-lightbox::after {
        background: rgb(255, 255, 255);
        border-radius: 2px;
        transition: 0.5s ease-in-out 1s;
        left: 0px;
        top: 24px;
        width: 0px;
        height: 3px;
        display: block;
        position: absolute;
        content: "";
    }

.module.list-left-and-right .list-item {
    height: 60px;
    margin-top: 3rem;
    position: relative;
}

@media only screen and (max-width:767px) {
    .module.list-left-and-right .list-item {
        padding: 0px 1.5rem 0px 6.5rem !important;
        height: auto;
        text-align: left !important;
        margin-top: 2rem;
        margin-left: 0px !important;
    }
}

.module.list-left-and-right .list-item img {
    width: 60px;
    position: absolute;
}

@media only screen and (max-width:767px) {
    .module.list-left-and-right .list-item img {
        left: 1.5rem !important;
    }
}

.module.list-left-and-right .list-item .headline {
    text-transform: uppercase;
    padding-bottom: 0.5rem;
    font-family: avenir-regular;
    font-weight: 700;
    margin-top: -0.25rem;
    margin-bottom: 0.5rem;
    border-bottom-color: rgb(50, 62, 72);
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.module.list-left-and-right .list-item .content {
    line-height: 150%;
    font-size: 0.9rem;
    margin-top: 0px;
}

.module.list-left-and-right :nth-child(2n+1).list-item {
    text-align: right;
    padding-right: 3.5rem;
}

    .module.list-left-and-right :nth-child(2n+1).list-item img {
        right: -30px;
    }

.module.list-left-and-right :nth-child(2n).list-item {
    text-align: left;
    padding-left: 3.5rem;
    margin-left: 50%;
}

    .module.list-left-and-right :nth-child(2n).list-item img {
        left: -30px;
    }

.module.list-left-and-right.big .list-item {
    height: 100px;
}

@media only screen and (max-width:767px) {
    .module.list-left-and-right.big .list-item {
        padding: 0px 1.5rem 0px 8.5rem !important;
        margin-top: 2.5rem;
    }
}

.module.list-left-and-right.big :nth-child(2n+1).list-item {
    padding-right: 5.5rem;
}

.module.list-left-and-right.big :nth-child(2n).list-item {
    padding-left: 5.5rem;
}

.module.list-left-and-right.big img {
    transform: scale(1.75);
    -webkit-transform: scale(1.75);
}

@media only screen and (max-width:767px) {
    .module.list-left-and-right.big img {
        transform-origin: 0% 1rem;
        transform: scale(1.5);
        -webkit-transform: scale(1.5);
        -webkit-transform-origin: 0 1rem;
    }
}

.module.product-section .middle {
    background: url("/build/images/letter-a.3da0650f.svg") no-repeat 50% / calc(100% - 3rem);
    text-align: center;
    margin-bottom: 0px;
}

@media only screen and (max-width:992px) {
    .module.product-section .middle {
        background-size: 80%;
    }
}

.module.product-section .middle img {
    margin: auto;
    max-width: 9rem;
}

@media only screen and (max-width:992px) {
    .module.product-section .middle img {
        max-width: 7rem;
    }
}

.module.product-section .last::before {
    width: 30%;
    margin-bottom: 2rem;
    border-top-color: rgb(0, 0, 0);
    border-top-width: 1px;
    border-top-style: solid;
    display: block;
    content: "";
}

.module.animate-boxes {
    position: relative;
}

    .module.animate-boxes h3 {
        line-height: 1.9rem;
        font-size: 1.3rem;
        margin-bottom: 0px;
    }

    .module.animate-boxes .animate-item {
        padding: 0px 0.75rem;
        margin-bottom: 1.5rem;
        position: relative;
    }

@media only screen and (max-width:767px) {
    .module.animate-boxes .animate-item {
        padding: 0px 1.5rem;
        margin-left: 0px !important;
    }
}

.module.animate-boxes .animate-item .img-box {
    transition: opacity 0.3s;
    position: relative;
}

    .module.animate-boxes .animate-item .img-box .headline {
        font-family: avenir-regular;
        font-size: 1.2rem;
        margin-top: 0.75rem;
        display: inline-block;
    }

    .module.animate-boxes .animate-item .img-box p {
        margin-top: 0.5rem;
    }

.module.animate-boxes .arrow-right {
    transition: top 0.4s 0.9s, opacity 0.4s 0.9s;
    top: 0.5rem;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    opacity: 0;
}

.module.animate-boxes .animate-item.open .img-box::before {
    width: 0px;
    opacity: 0;
}

.module.animate-boxes .animate-item.open .img-box .arrow-right {
    opacity: 1;
}

.module.animate-boxes :nth-of-type(3n+1).box-3 {
    transform: translateY(260px);
    -webkit-transform: translateY(260px);
}

.module.animate-boxes :nth-of-type(3n+3).box-3 {
    transform: translateY(120px);
    -webkit-transform: translateY(120px);
}

.module.animate-boxes :nth-of-type(4n+1).box-4 {
    transform: translateY(75px);
    -webkit-transform: translateY(75px);
}

.module.animate-boxes :nth-of-type(4n+2).box-4 {
    transform: translateY(180px);
    -webkit-transform: translateY(180px);
}

.module.animate-boxes :nth-of-type(4n+3).box-4 {
    transform: translateY(45px);
    -webkit-transform: translateY(45px);
}

.module.animate-boxes :nth-of-type(4n+4).box-4 {
    transform: translateY(120px);
    -webkit-transform: translateY(120px);
}

.module.animate-boxes.no-animation .animate-item {
    transform: none !important;
    -webkit-transform: none;
}

.module.input-col .center-xs {
    margin: auto;
    width: 100%;
    max-width: 40rem;
}

    .module.input-col .center-xs h3 {
        margin-bottom: 3rem;
    }

    .module.input-col .center-xs input[type=submit] {
        width: auto;
    }

    .module.input-col .center-xs form {
        margin-top: 0.5rem;
    }

.module.login {
    margin: auto;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    position: absolute;
}

    .module.login .center-xs {
        background: rgb(255, 255, 255);
        padding: 2rem;
        left: 50%;
        top: 50%;
        width: 100%;
        position: absolute;
        max-width: 25rem;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
    }

@media only screen and (max-width:767px) {
    .module.login .center-xs {
        width: 90%;
    }
}

.module.login .center-xs h1 {
    color: rgb(50, 62, 72);
    margin-bottom: 1rem;
}

.module.login .center-xs h2 {
    color: rgb(50, 62, 72);
    margin-bottom: 1rem;
}

.module.login .center-xs input[type=submit] {
    width: auto;
}

.module.login .center-xs form {
    margin-top: 0.5rem;
}

.module.login .center-xs a {
    font-size: 0.9rem;
    margin-top: 1rem;
    margin-bottom: -0.5rem;
    display: block;
}

.module.order-list::before {
    display: none;
}

.module.order-list tbody {
    line-height: 1.4rem;
    font-size: 0.9rem;
}

.module.order-list table a {
    color: rgb(50, 62, 72) !important;
}

    .module.order-list table a:hover {
        text-decoration: underline;
    }

.module.order-list i.fa-external-link {
    color: rgb(0, 0, 0);
    font-size: 0.8rem;
    margin-left: 0.25rem;
}

.module.order-list i.fa-angle-down {
    top: 0.5rem;
    right: 1rem;
    color: rgb(255, 255, 255);
    font-size: 1.7rem;
    position: absolute;
    cursor: pointer;
}

.module.order-list .active i.fa-angle-down {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}

.module.order-list input {
    background: rgb(242, 243, 243);
    margin: 0px;
    border: currentColor;
    border-image: none;
    width: 3.5rem;
    height: auto;
    text-align: center;
}

.module.order-list .subproduct {
    background: rgb(255, 255, 255) !important;
    color: rgb(50, 62, 72) !important;
}

    .module.order-list .subproduct i {
        color: rgb(50, 62, 72);
    }

.module.order-list table td {
    text-align: left;
}

.module.order-list table th {
    text-align: left;
}

.module.order-list table.layout {
    width: 100%;
    border-collapse: collapse;
}

.module.order-list table.display {
    margin: 1em 0px;
}

    .module.order-list table.display td {
        padding: 0.75rem;
        border: 1px solid rgb(50, 62, 72);
        border-image: none;
    }

    .module.order-list table.display th {
        padding: 0.75rem;
        border: 1px solid rgb(50, 62, 72);
        border-image: none;
    }

    .module.order-list table.display th {
        background: rgb(50, 62, 72);
        padding: 0.5rem 0.75rem;
        color: rgb(255, 255, 255);
        text-transform: uppercase;
        letter-spacing: 0.1rem;
        font-weight: 700;
        position: relative;
    }

    .module.order-list table.display td {
        background: rgb(255, 255, 255);
    }

.module.order-list .pieces {
    white-space: nowrap;
}

.module.order-list .seriennummer {
    white-space: nowrap;
}

.module.order-list .subline-red {
    padding: 3px 0.5rem 2px;
    font-size: 0.8rem;
    margin-top: 0.5rem;
}

@media only screen and (max-width:767px) {
    .module.order-list table.responsive-table {
        width: 300px;
        margin-right: auto;
        margin-left: auto;
        box-shadow: none;
    }

    .module.order-list .not-summary tbody {
        display: none;
    }

    .module.order-list tr.header {
        margin-bottom: 0px;
    }

    .module.order-list table.display td {
        padding: 0.5em;
        width: 300px;
    }

    .module.order-list table.display th {
        padding: 0.5em;
        width: 300px;
    }

    .module.order-list table.responsive-table td:first-child::before {
        content: "Serialnumber";
    }

    .module.order-list table.responsive-table td:nth-child(2)::before {
        content: "Device";
    }

    .module.order-list table.responsive-table td:first-child {
        text-align: right;
    }

    .module.order-list table.responsive-table td:nth-child(2) {
        text-align: right;
    }

    .module.order-list table.responsive-table td:first-child::before {
        left: 0.5em;
        font-weight: 700;
        position: absolute;
    }

    .module.order-list table.responsive-table td:nth-child(2)::before {
        left: 0.5em;
        font-weight: 700;
        position: absolute;
    }

    .module.order-list table.responsive-table td {
        display: block;
    }

    .module.order-list table.responsive-table tr {
        display: block;
    }

    .module.order-list table.responsive-table tr {
        margin-bottom: 1em;
        position: relative;
    }

    .module.order-list table.responsive-table td {
        border-top-color: currentColor;
        border-top-width: medium;
        border-top-style: none;
    }

        .module.order-list table.responsive-table td.seriennummer {
            background: rgb(242, 243, 243);
            color: rgb(50, 62, 72);
            text-transform: uppercase;
            letter-spacing: 0.1rem;
            margin-top: -1px;
            border-top-color: rgb(50, 62, 72);
            border-top-width: 1px;
            border-top-style: solid;
        }

    .module.order-list tr.header {
        margin-top: -1px;
        margin-bottom: 0px !important;
    }
}

.module.grid .row {
    margin-right: -0.75rem;
    margin-left: -0.75rem;
}

.module.grid .grid-item {
    padding: 0px 0.75rem;
    margin-bottom: 1.5rem;
}

    .module.grid .grid-item .arrow-right {
        top: 0.5rem;
        text-transform: uppercase;
        letter-spacing: 0.05rem;
    }

@media only screen and (max-width:767px) {
    .module#scroll-special {
        background-color: rgb(50, 62, 72);
    }

    .module.pinned#scroll-special #bg {
        position: fixed !important;
    }

    .module.pinned#scroll-special .pinned-elements {
        position: fixed !important;
    }

    .module.mobil-last-sec#scroll-special #bg {
        top: auto;
        bottom: 0px;
    }

    .module.mobil-last-sec#scroll-special .pinned-elements {
        top: auto;
        bottom: 0px;
    }

    .module.mobil-last-sec#scroll-special .mobil-part {
        transition: transform 0.5s, opacity 0.4s 0.2s, transform 0.5s !important;
        transform: scale(0.39);
        -webkit-transform: scale(.39);
    }

        .module.mobil-last-sec#scroll-special .mobil-part.part-5 {
            transition: opacity 0.6s 0.5s !important;
            transform: none;
            -webkit-transform: none;
        }

    .module.mobil-last-sec#scroll-special .silhouette {
        transition: opacity 0.2s !important;
        opacity: 0 !important;
    }
}

.module#scroll-special::after {
    content: none;
}

.module#scroll-special::before {
    content: none;
}

.module#scroll-special #bg {
    left: 0px;
    top: 0px;
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: -10;
}

    .module#scroll-special #bg img {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
    }

@media only screen and (max-width:767px) {
    .module#scroll-special #bg {
        z-index: 0;
    }
}

.module#scroll-special .pinned#bg {
    position: fixed;
}

.module#scroll-special .mobil-last-frame#bg {
    top: auto;
    bottom: 0px;
}

.module#scroll-special .pinned-elements {
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 30;
}

    .module#scroll-special .pinned-elements .img-wrapper {
        left: 50%;
        height: 100vh;
        padding-top: calc(10vh + 30px);
        padding-bottom: 8vh;
        position: absolute;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
    }

@media only screen and (max-width:767px) {
    .module#scroll-special .pinned-elements .img-wrapper {
        left: 2rem;
        width: 13vh;
        transform: none;
        -webkit-transform: none;
    }
}

.module#scroll-special .pinned-elements .img-wrapper img {
    transition: opacity 0.2s 0.4s;
    width: auto;
    height: 100%;
    opacity: 0.1;
    -webkit-filter: brightness(100);
}

@media only screen and (max-width:767px) {
    .module#scroll-special .pinned-elements .img-wrapper img {
        transition: opacity 0.3s 0.9s;
    }
}

.module#scroll-special .pinned-elements .img-wrapper .mobil-part {
    transform-origin: center top;
    transition: opacity 0.6s, transform 0.5s 0.6s, transform 0.5s 0.6s;
    top: calc(10vh + 30px);
    height: calc(82vh - 30px);
    filter: none;
    position: absolute;
    z-index: 1;
    opacity: 0;
    -webkit-filter: none;
    -webkit-transform-origin: top center;
}

    .module#scroll-special .pinned-elements .img-wrapper .mobil-part.active {
        opacity: 1;
    }

.module#scroll-special .pinned-elements .headline {
    left: 10%;
    top: 33.33vh;
    width: 33.33%;
    position: absolute;
}

@media only screen and (max-width:992px) {
    .module#scroll-special .pinned-elements .headline {
        left: 2rem;
    }
}

@media only screen and (max-width:767px) {
    .module#scroll-special .pinned-elements .headline {
        padding: 0px 1.5rem;
        left: calc(13vh + 2rem);
        top: auto;
        width: calc(100% - 13vh - 2rem);
        bottom: 56%;
    }
}

.module#scroll-special .pinned-elements .headline::before {
    width: 30%;
    border-top-color: rgb(255, 255, 255);
    border-top-width: 1px;
    border-top-style: solid;
    display: block;
    content: "";
}

@media only screen and (max-width:767px) {
    .module#scroll-special .pinned-elements .headline::before {
        display: none;
    }
}

.module#scroll-special .pinned-elements .headline::after {
    width: 30%;
    border-bottom-color: rgb(255, 255, 255);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    display: block;
    content: "";
}

@media only screen and (max-width:767px) {
    .module#scroll-special .pinned-elements .headline::after {
        display: none;
    }
}

.module#scroll-special .pinned-elements .headline h2 {
    color: rgb(255, 255, 255);
    padding-top: 2rem;
    margin-bottom: 3rem;
}

@media only screen and (max-width:767px) {
    .module#scroll-special .pinned-elements .headline h2 {
        line-height: 150%;
        letter-spacing: 0.5px;
        padding-top: 1rem;
        font-size: 1.2rem;
        margin-bottom: 2rem;
    }
}

.module#scroll-special .pinned-elements .headline p {
    color: rgb(255, 255, 255);
}

@media only screen and (max-width:992px) {
    .module#scroll-special .pinned-elements .headline p {
        line-height: 150%;
        font-size: 0.9rem;
    }
}

@media only screen and (max-width:767px) {
    .module#scroll-special .pinned-elements .headline p {
        font-size: 0.7rem;
    }
}

.module#scroll-special .pinned-elements .progress-bar1 {
    top: calc(10vh + 20px);
    width: 32px;
    height: 80vh;
    right: 2rem;
    overflow: visible;
    display: -ms-grid;
    position: absolute;
    z-index: 1;
}

@media only screen and (max-width:992px) {
    .module#scroll-special .pinned-elements .progress-bar1 {
        right: 0.25rem;
    }
}

@media only screen and (max-width:767px) {
    .module#scroll-special .pinned-elements .progress-bar1 {
        display: none;
    }
}

.module#scroll-special .pinned-elements .progress-bar1 .progress {
    width: 2rem;
    height: 100%;
    color: rgb(255, 255, 255);
    border-bottom-color: transparent;
    border-bottom-width: 4px;
    border-bottom-style: solid;
    position: relative;
    cursor: pointer;
}

    .module#scroll-special .pinned-elements .progress-bar1 .progress .plus {
        border-radius: 100%;
        border: 2px solid rgb(233, 0, 41);
        transition: opacity 0.3s cubic-bezier(0.7, 0, 0.3, 1) 0.1s;
        border-image: none;
        width: 20px;
        height: 20px;
        position: absolute;
        opacity: 0.2;
        box-shadow: 0px 6px 6px rgba(0,0,0,0.15);
        background-color: rgb(255, 255, 255);
    }

        .module#scroll-special .pinned-elements .progress-bar1 .progress .plus:hover {
            opacity: 1;
        }

    .module#scroll-special .pinned-elements .progress-bar1 .progress span {
        transition: 0.3s;
        left: 1.25rem;
        top: 200%;
        text-align: right;
        font-size: 1rem;
        position: absolute;
        opacity: 0.25;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
    }

@media only screen and (max-width:992px) {
    .module#scroll-special .pinned-elements .progress-bar1 .progress span {
        left: 1rem;
        font-size: 0.8rem;
    }
}

.module#scroll-special .pinned-elements .progress-bar1 .progress::before {
    border-radius: 10px;
    transition: 0.3s;
    left: 0px;
    top: 0px;
    width: 8px;
    height: 14vh;
    position: absolute;
    content: "";
    opacity: 0.25;
    background-color: hsla(0, 0%, 100%, 0.8);
}

.module#scroll-special .pinned-elements .progress-bar1 .progress.active .plus {
    opacity: 1;
}

.module#scroll-special .pinned-elements .progress-bar1 .progress.active::before {
    opacity: 1;
}

.module#scroll-special .pinned-elements .progress-bar1 .progress.active span {
    opacity: 1;
}

.module#scroll-special .pinned-elements .progress-bar1 :first-child.progress .plus {
    left: calc(-50vw + 56px + 1vh);
    top: 6.5vh;
}

.module#scroll-special .pinned-elements .progress-bar1 :nth-child(2).progress .plus {
    left: calc(-50vw + 54px);
    top: 26.5vh;
}

.module#scroll-special .pinned-elements .progress-bar1 :nth-child(3).progress .plus {
    left: calc(-50vw + 54px + 2.5vh);
    top: 46vh;
}

.module#scroll-special .pinned-elements .progress-bar1 :nth-child(4).progress .plus {
    left: calc(-50vw + 54px - 4.5vh);
    top: 54vh;
}

.module#scroll-special .pinned-elements .progress-bar1 :nth-child(5).progress .plus {
    left: calc(-50vw + 54px + 4vh);
    top: 66vh;
}

.module#scroll-special .content-wrap {
    margin: 0px 5rem;
    position: relative;
}

@media only screen and (max-width:767px) {
    .module#scroll-special .content-wrap {
        margin: 0px;
    }
}

.module#scroll-special .content-wrap .content-box {
    height: 100vh;
    display: block;
    position: relative;
}

    .module#scroll-special .content-wrap .content-box .pin-wrap {
        left: 50%;
        width: auto;
        height: 100vh;
        padding-top: calc(10vh + 30px);
        padding-bottom: 8vh;
        position: absolute;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
    }

@media only screen and (max-width:767px) {
    .module#scroll-special .content-wrap .content-box .pin-wrap {
        left: 2rem;
        width: 13vh;
        transform: none;
        -webkit-transform: none;
    }
}

.module#scroll-special .content-wrap .content-box .pin-wrap .img-wrap {
    transform-origin: center top;
    transition: transform 0.5s, transform 0.5s;
    height: 100%;
    position: relative;
    -webkit-transform-origin: top center;
}

    .module#scroll-special .content-wrap .content-box .pin-wrap .img-wrap.invisible {
        opacity: 0 !important;
    }

    .module#scroll-special .content-wrap .content-box .pin-wrap .img-wrap img {
        width: auto;
        height: 100%;
        -webkit-filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, .2));
    }

@media only screen and (max-width:767px) {
    .module#scroll-special .content-wrap .content-box .pin-wrap .img-wrap {
        opacity: 0;
    }
}

.module#scroll-special .content-wrap .content-box .pin-wrap .text-content {
    transition: opacity 0.3s, transform 0s 0.31s, transform 0s 0.31s;
    left: calc(100% + 6vw);
    top: 50%;
    width: 28vw;
    position: absolute;
    opacity: 0;
    transform: translate3d(100px, 0px, 0px);
    -webkit-transform: translate3d(100px, 0, 0);
}

@media only screen and (max-width:992px) {
    .module#scroll-special .content-wrap .content-box .pin-wrap .text-content {
        left: calc(100% + 2rem);
        width: 30vw;
    }
}

@media only screen and (max-width:767px) {
    .module#scroll-special .content-wrap .content-box .pin-wrap .text-content {
        padding: 0px 1.5rem;
        left: calc(13vh + 2rem);
        top: 48%;
        width: calc(100vw - 13vh - 2rem);
        position: fixed;
    }
}

.module#scroll-special .content-wrap .content-box .pin-wrap .text-content.active {
    transition: 0.4s 0.2s;
    opacity: 1;
    transform: translateZ(0px);
    -webkit-transform: translateZ(0);
}

.module#scroll-special .content-wrap .content-box .pin-wrap .text-content .headline {
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 135%;
    letter-spacing: 0.05rem;
    font-size: 1.3rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    display: block;
}

@media only screen and (max-width:1200px) {
    .module#scroll-special .content-wrap .content-box .pin-wrap .text-content .headline {
        margin-bottom: 0.5rem;
    }
}

@media only screen and (max-width:767px) {
    .module#scroll-special .content-wrap .content-box .pin-wrap .text-content .headline {
        font-size: 1.05rem;
    }
}

.module#scroll-special .content-wrap .content-box .pin-wrap .text-content p {
    color: rgb(255, 255, 255);
    line-height: 150%;
    font-size: 1rem;
    margin-top: 0.5rem;
}

@media only screen and (max-width:767px) {
    .module#scroll-special .content-wrap .content-box .pin-wrap .text-content p {
        font-size: 0.85rem;
    }
}

.module#scroll-special .content-wrap .content-box .anchor {
    top: 30%;
    position: absolute;
}

.module#scroll-special .content-wrap .content-box#cartridge-4 #cart-4-pin {
    transition: all, opacity 0.2s;
    opacity: 0;
}

.module#scroll-special .content-wrap .content-box#cartridge-4 #cart-4-pin-back {
    transition: all, opacity 0.2s;
    opacity: 0;
}

.module#scroll-special .content-wrap .content-box#cartridge-4 .active#cart-4-pin-back {
    transition: opacity 0.8s 0.2s;
    opacity: 1;
}

.module#scroll-special .content-wrap .content-box#cartridge-4 .active#cart-4-pin {
    transition: opacity 0.8s 0.2s;
    opacity: 1;
}

.module.small#scroll-special .pinned-elements .img-wrapper img {
    transition: opacity;
    opacity: 0;
}

.module.small#scroll-special .content-wrap .content-box .pin-wrap .img-wrap.cart-part {
    transition: transform 0.3s, transform 0.3s;
    transform: scale(0.4);
    -webkit-transform: scale(.4);
}
