@using Clinic.Business.Utils
@using Clinic.Utils
@using Newtonsoft.Json
@model List<Clinic.Business.Complex.BaoCaoBenhNhanChoKhamResult>

<link rel="stylesheet" type="text/css" href="~/Content/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="~/Content/less/main.min.css" />

@{
    ViewBag.Title = "Danh sách bệnh nhân chờ khám";
    Layout = "~/Views/Shared/_LayoutEmpty.cshtml";
}

<div class="wrapper-waiting-page">
    <div class="background"></div>
    <div class="row">
        <div class="col-sm-12" id="mainContent">
            <div class="wrapper-vericle-slider" id="mainSlider" style="height: 10000px">
                <div class="wrapper-slider-content cm-mgt-20" data-bind="foreach: listRoom, visible: listRoom().length > 0" style="display: none">
                    <div class="slider-item">
                        <div class="header">
                            <div class="wrapper-header-content">
                                <img class="logo" src="~/assets/images/logo.png" alt=""/>
                                <span class="room-name uppercase" data-bind="text: 'phòng ' + name"></span>
                            </div>
                        </div>
                        <table class="table table-bordered table-stripped">
                            <thead>
                            <tr>
                                <th class="text-center has-background">STT</th>
                                <th class="text-center has-background">Tên bệnh nhân</th>
                                <th class="text-center has-background">Tình trạng</th>
                            </tr>
                            </thead>
                            <tbody data-bind="foreach: listPatient">
                            <tr>
                                <td class="text-center has-background bold" data-bind="text: stt"></td>
                                <td data-bind="text: hoTenBenhNhan" class="bold"></td>
                                <td class="text-center bold" data-bind="attr: {class: trangThai() === 1 ? 'color-red text-center bold' : 'text-center bold'}">
                                    <!-- ko if: trangThai() === 0 -->
                                    Chờ khám
                                    <!--/ko-->
                                    <!-- ko if: trangThai() === 1 -->
                                    Đang khám
                                    <!--/ko-->
                                    <!-- ko if: trangThai() === 2 -->
                                    Đã khám
                                    <!--/ko-->
                                    <!-- ko if: trangThai() === 3 -->
                                    Hoàn tất
                                    <!--/ko-->
                                    <!-- ko if: trangThai() === 4 -->
                                    Đặt hẹn
                                    <!--/ko-->
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div><!-- end .slider-item -->
                </div>
                <div class="cm-mgt-20 wrapper-background-image">
                    <img src="~/assets/images/chokham/711x625-06.jpg" class="img-responsive" alt="" />
                </div>
            </div><!-- end .wrapper-verticle-slider -->
        </div><!-- end col-sm-12 -->
        @*<audio autoplay loop>
                <source src="~/assets/files/bgmusic.mp3" type="audio/mp3">
            </audio>*@
        <div class="col-sm-12" id="mainAds" style="display: none;">
            <video width="100%" controls style="margin-bottom: 20px;" id="mainAdsVideo">
                <source src="~/assets/files/start.mp4" type="video/mp4">
            </video>
        </div>
    </div>
</div>

@section knockout{
    <script>
        var listPatient = @Html.Raw(JsonConvert.SerializeObject(Model, Common.GetCalmcaseSetting()));

        var floor = @Request.Params["floor"];
        var area = @Request.Params["area"];

        //require(["../../Scripts/viewmodel/waiting/waiting.viewmodel"]);
    </script>
    @Scripts.Render("~/bundles/waiting")
}

