
@{
    ViewData["Title"] = "Index";
}

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="error_form">
                    <h1>404</h1>
                    <h2>Opps! TRANG KHÔNG TÌM THẤY</h2>
                    <p>Rất xin lỗi nhưng trang bạn đang xem không tồn tại, hoặc đã bị xóa, bị đổi tên hoặc tạm thời không truy cập được.</p>
                    <form action="#">
                        <input placeholder="Tìm sản phẩm khác" type="text">
                        <button type="submit"><i class="ion-ios-search-strong"></i></button>
                    </form>
                    <a href="/">Quay về trang chủ</a>
                </div>
            </div>
        </div>
    </div>

