@model List<NewsSearchViewModel>;

@if (Model != null && Model.Any())
{
    <div id="hot-news">
        <div class="container">
            <div class="row">
                <div class=" col-sm-12">
                    <h2 class="titlebar">Tin tức nổi bật</h2>
                </div>
            </div>
            <div class="row">
                @foreach (var news in Model)
                {
                    <div class="col-sm-3 news-block">
                        <partial name="_HotNewsItem" model="news"/>
                    </div>
                }
            </div>
        </div>
    </div>
}

