<link href="~/css/less/help-finder.min.css" rel="stylesheet" />
<div id="caf-form-row" class="vc_row wpb_row vc_row-fluid caf-form-row">
    <div class="caf-form-col wpb_column vc_column_container vc_col-sm-6" id="caf-form-col">
        <div class="vc_column-inner">
            <div class="wpb_wrapper">
                <div class="wpb_text_column wpb_content_element  desktop-only hidden-xs hidden-md hidden-sm">
                    <div class="wpb_wrapper wrap-text">
                        <h2>TRA Cứu màu online dành cho BẠN</h2>
                        <div class="divider"></div>
                        <p>
                            Chỉ cần điền vào các phần dưới đây bạn sẽ lựa chọn được màu mực phù hợp cho bất kỳ loại da nào trong vài giây.
                        </p>
                    </div>
                </div>
                <div class="wpb_text_column wpb_content_element ">
                    <div class="wpb_wrapper wrapper-form">
                        <div class="spacer" style="height:20px"></div>
                        <div id="color-advice-form-wrapper">
                            <div class="caf-form-toggle">
                                <span class="caf-form-toggle-text-hide">ẨN CHỌN</span>
                            </div>
                            <form>
                                <p id="caf-fieldset-select-headline">DÒNG MỰC</p>
                                <fieldset class="caf-fieldset-" id="caf-fieldset-line">
                                    <div class="caf-fieldset-col">
                                        <div class="caf-input-wrapper">
                                            <input id="radio-el"
                                                   data-num="0" name="line"
                                                   class="caf-radiobutton caf-input"
                                                   type="radio"><label for="radio-el">
                                                <span class="caf-input-wrapper-label-1">Evolutionline</span><br>Hairstrokes & tán bột
                                            </label>
                                            <div class="check">
                                                <div class="inside"></div>
                                            </div><br>
                                        </div>
                                        <div class="caf-input-wrapper">
                                            <input id="radio-ol1"
                                                   data-num="1" name="line"
                                                   class="caf-radiobutton caf-input"
                                                   type="radio"><label for="radio-ol1">
                                                <span class="caf-input-wrapper-label-1">Organicline</span><br>Hairstrokes
                                            </label>
                                            <div class="check">
                                                <div class="inside"></div>
                                            </div><br>
                                        </div>
                                    </div>
                                    <div class="caf-fieldset-col">
                                        <div class="caf-input-wrapper">
                                            <input id="radio-ol2"
                                                   data-num="2" name="line"
                                                   class="caf-radiobutton caf-input"
                                                   type="radio"><label for="radio-ol2">
                                                <span class="caf-input-wrapper-label-1">Organicline</span><br>Tán bột
                                            </label>
                                            <div class="check">
                                                <div class="inside"></div>
                                            </div><br>
                                        </div>
                                        <div class="caf-input-wrapper">
                                            <input id="radio-ol3"
                                                   data-num="3" name="line"
                                                   class="caf-radiobutton caf-input"
                                                   type="radio"><label for="radio-ol3">
                                                <span class="caf-input-wrapper-label-1">Organicline</span><br>Màu môi
                                            </label>
                                            <div class="check">
                                                <div class="inside"></div>
                                            </div><br>
                                        </div>
                                    </div>
                                </fieldset>
                                <p id="caf-fieldset-0-headline">LOẠI DA</p>
                                <fieldset class="caf-fieldset" id="caf-fieldset-0">
                                    <div class="caf-fieldset-col">
                                        <div class="caf-input-wrapper">
                                            <input id="radio-ne"
                                                   data-num="0" name="skin_type"
                                                   class="caf-radiobutton caf-input"
                                                   type="radio"><label for="radio-ne">
                                                <span class="caf-input-wrapper-label-1">
                                                    Bắc Châu Âu
                                                </span> / da trắng, nhiều tàn nhang
                                            </label>
                                            <div class="check">
                                                <div class="inside"></div>
                                            </div><br>
                                        </div>
                                        <div class="caf-input-wrapper">
                                            <input id="radio-nordic"
                                                   data-num="1" name="skin_type"
                                                   class="caf-radiobutton caf-input"
                                                   type="radio"><label for="radio-nordic">
                                                <span class="caf-input-wrapper-label-1">Bắc Âu</span>
                                                / da trắng hoặc nhạt, 1 số đốm tàn nhang
                                            </label>
                                            <div class="check">
                                                <div class="inside"></div>
                                            </div><br>
                                        </div>
                                        <div class="caf-input-wrapper">
                                            <input id="radio-european" data-num="2"
                                                   name="skin_type"
                                                   class="caf-radiobutton caf-input"
                                                   type="radio"><label for="radio-european">
                                                <span class="caf-input-wrapper-label-1">Châu Âu</span>
                                                / da màu be, 1 chút tone vàng, vài đốm tàn nhang
                                            </label>
                                            <div class="check">
                                                <div class="inside"></div>
                                            </div><br>
                                        </div>
                                        <div class="caf-input-wrapper">
                                            <input id="radio-mediterranean" data-num="3"
                                                   name="skin_type"
                                                   class="caf-radiobutton caf-input"
                                                   type="radio"><label for="radio-mediterranean">
                                                <span class="caf-input-wrapper-label-1">Địa Trung Hải</span>
                                                / da màu nâu nhạt hoặc oliu, rất ít tàn nhang
                                            </label>
                                            <div class="check">
                                                <div class="inside"></div>
                                            </div><br>
                                        </div>
                                    </div>
                                    <div class="caf-fieldset-col">
                                        <div class="caf-input-wrapper">
                                            <input id="radio-asian"
                                                   data-num="4" name="skin_type"
                                                   class="caf-radiobutton caf-input"
                                                   type="radio"><label for="radio-asian">
                                                <span class="caf-input-wrapper-label-1">Châu Á</span>
                                                / da màu nâu nhạt hoặc oliu, rất ít tàn nhang

                                            </label>
                                            <div class="check">
                                                <div class="inside"></div>
                                            </div><br>
                                        </div>
                                        <div class="caf-input-wrapper">
                                            <input id="radio-indian"
                                                   data-num="5" name="skin_type"
                                                   class="caf-radiobutton caf-input"
                                                   type="radio"><label for="radio-indian">
                                                <span class="caf-input-wrapper-label-1">Ấn Độ</span>
                                                / da hơi nâu, nâu đậm, không có tàn nhang
                                            </label>
                                            <div class="check">
                                                <div class="inside"></div>
                                            </div><br>
                                        </div>
                                        <div class="caf-input-wrapper">
                                            <input id="radio-african"
                                                   data-num="6" name="skin_type"
                                                   class="caf-radiobutton caf-input"
                                                   type="radio"><label for="radio-african">
                                                <span class="caf-input-wrapper-label-1">Châu Phi</span>
                                                / da nâu đậm, da đen, không có tàn nhang

                                            </label>
                                            <div class="check">
                                                <div class="inside"></div>
                                            </div><br>
                                        </div>
                                    </div>
                                </fieldset>
                                <p id="caf-fieldset-1-headline">TONE DA</p>
                                <fieldset class="caf-fieldset" id="caf-fieldset-1">
                                    <div class="caf-fieldset-col">
                                        <div class="caf-input-wrapper">
                                            <input id="radio-cold"
                                                   data-num="0" name="skin_tone"
                                                   class="caf-radiobutton caf-input"
                                                   type="radio"><label for="radio-cold">Lạnh</label>
                                            <div class="check">
                                                <div class="inside"></div>
                                            </div><br>
                                        </div>
                                        <div class="caf-input-wrapper">
                                            <input id="radio-warm"
                                                   data-num="2" name="skin_tone"
                                                   class="caf-radiobutton caf-input"
                                                   type="radio"><label for="radio-warm">Ấm</label>
                                            <div class="check">
                                                <div class="inside"></div>
                                            </div><br>
                                        </div>
                                    </div>
                                    <div class="caf-fieldset-col">
                                        <div class="caf-input-wrapper">
                                            <input id="radio-neutral"
                                                   data-num="1" name="skin_tone"
                                                   class="caf-radiobutton caf-input"
                                                   type="radio"><label for="radio-neutral">Trung tính</label>
                                            <div class="check">
                                                <div class="inside"></div>
                                            </div><br>
                                        </div>
                                    </div>
                                </fieldset>
                                <p id="caf-fieldset-2-headline">MÀU TÓC TỰ NHIÊN</p>
                                <fieldset class="caf-fieldset" id="caf-fieldset-2">
                                    <div class="caf-fieldset-col">
                                        <div class="caf-input-wrapper">
                                            <input id="radio-red"
                                                   data-num="0" name="hair_color"
                                                   class="caf-radiobutton caf-input"
                                                   type="radio"><label for="radio-red">Đỏ</label>
                                            <div class="check">
                                                <div class="inside"></div>
                                            </div><br>
                                        </div>
                                        <div class="caf-input-wrapper">
                                            <input id="radio-blonde"
                                                   data-num="1" name="hair_color"
                                                   class="caf-radiobutton caf-input"
                                                   type="radio"><label for="radio-blonde">Vàng</label>
                                            <div class="check">
                                                <div class="inside"></div>
                                            </div><br>
                                        </div>
                                        <div class="caf-input-wrapper">
                                            <input id="radio-lightbrown" data-num="2"
                                                   name="hair_color"
                                                   class="caf-radiobutton caf-input"
                                                   type="radio"><label for="radio-lightbrown">
                                                Nâu sáng
                                            </label>
                                            <div class="check">
                                                <div class="inside"></div>
                                            </div><br>
                                        </div>
                                    </div>
                                    <div class="caf-fieldset-col">
                                        <div class="caf-input-wrapper">
                                            <input id="radio-darkbrown" data-num="3"
                                                   name="hair_color"
                                                   class="caf-radiobutton caf-input"
                                                   type="radio"><label for="radio-darkbrown">
                                                Nâu đậm
                                            </label>
                                            <div class="check">
                                                <div class="inside"></div>
                                            </div><br>
                                        </div>
                                        <div class="caf-input-wrapper">
                                            <input id="radio-black"
                                                   data-num="4" name="hair_color"
                                                   class="caf-radiobutton caf-input"
                                                   type="radio"><label for="radio-black">Đen</label>
                                            <div class="check">
                                                <div class="inside"></div>
                                            </div><br>
                                        </div>
                                    </div>

                                </fieldset>
                                <div class="wrap-reset hidden-xs hidden-md hidden-sm">
                                    <a class="reset">Reset</a>
                                </div>
                                <div class="fresh-mobile visible-xs visible-md visible-sm hidden-lg"><i class="btn-refesh-mobile fa fa-refresh"><span></span></i></div>
                            </form>

                        </div>
                        <div id="color-advice-result-wrapper">
                            <div class="wpb_text_column wpb_content_element  hidden-lg hidden-desktop visible-xs visible-md visible-sm">
                                <div class="wpb_wrapper">
                                    <h2>Các màu đề xuất</h2>
                                    <div class="divider"></div>
                                    <p>
                                        Màu sắc có thể khác nhau trên online.
                                        Đây chỉ là một khuyến nghị. Amiea không chịu trách nhiệm về kết quả cuối cùng. Vui lòng làm theo các hướng dẫn như trong video tư vấn màu
                                    </p>
                                    <div class="caf-form-toggle caf-form-toggle-result">
                                        <span id="caf-form-toggle-text-show-2">Hiện lựa chọn</span>
                                    </div>

                                </div>
                            </div>

                            <div id="caf-result-image-wrapper" class="caf-placeholder-wrap">
                                <img class="img-responsive lazy" src="~/images/helpfinder/color_advice/img/config_img.jpg" />
                            </div>s
                            <h2 class="caf-result-headline">Sản phẩm đề xuất</h2>
                            <div id="caf-result-colors-wrapper"></div>
                            <div id="caf-message-wrapper"></div>
                            <div class="color-accuracy-note">Màu sắc có thể không giống online</div>
                            <div class="color-accuracy-note">
                                Đây chỉ là một đề xuất,
                                Amiea không có trách nhiệm cho kết quả sau khi thực hiện. Hãy xem hướng dẫn như là kết quả có thể đạt được trong việc giúp đỡ lựa chọn màu sắc này.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {

    <script src="~/js/viewmodel/help-finder.viewmodel.min.js"></script>
}