@font-face {
  font-family: 'OpenSans';
  src: url('../../lib/open_sans/opensans-regular.ttf') format('truetype');
}
@font-face {
  font-family: 'OpenSans-Bold';
  src: url('../../lib/open_sans/opensans-bold.ttf') format('truetype');
}
@font-face {
  font-family: 'OpenSans-BoldItalic';
  src: url('../../lib/open_sans/opensans-bolditalic.ttf') format('truetype');
}
@font-face {
  font-family: 'OpenSans-Italic';
  src: url('../../lib/open_sans/opensans-italic.ttf') format('truetype');
}
@font-face {
  font-family: 'OpenSans-Semibold';
  src: url('../../lib/open_sans/opensans-semibold.ttf') format('truetype');
}
@font-face {
  font-family: 'OpenSans-SemiBoldItalic';
  src: url('../../lib/open_sans/opensans-semibolditalic.ttf') format('truetype');
}
@font-face {
  font-family: 'OpenSans-Light';
  src: url('../../lib/open_sans/opensans-light.ttf') format('truetype');
}
@font-face {
  font-family: 'Robotocondensed-Light';
  src: url('../../lib/font-roboto/robotocondensed-light.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto-Bold';
  src: url('../../lib/font-roboto/roboto-bold_1.ttf') format('truetype');
}
@font-face {
  font-family: 'Sfufutura-Bold';
  src: url('../../lib/font-roboto/sfufuturabold.ttf') format('truetype');
}
@font-face {
  font-family: 'sfufuturabook';
  src: url('../../lib/font-roboto/sfufuturabook.ttf') format('truetype');
}
@font-face {
  font-family: 'vlabrahamlincoln';
  src: url('../../lib/font-roboto/vlabrahamlincoln.otf') format('opentype');
}
@font-face {
  font-family: 'roboto-medium';
  src: url('../../lib/font-roboto/roboto-medium.ttf') format('truetype');
}
/* Cubic Bezier Transition */
nav {
  /* Main Nav */
  text-align: center;
  z-index: 1030;
}
nav .navbar-header {
  width: 100%;
  margin-bottom: 10px;
}
nav .navbar-header .navbar-brand {
  padding: 0 15px !important;
}
nav .navbar-header ul {
  padding-top: 15px;
}
nav .navbar-header ul li {
  color: #007455;
}
nav .navbar-header ul li a i {
  font-size: 28px;
  font-weight: 700;
  color: #007455;
}
nav .navbar-header ul li span {
  font-size: 20px;
  font-weight: 700;
}
nav .navbar-header img {
  width: 100%;
}
nav .navbar-collapse {
  padding-left: 0px;
  padding-right: 0px;
  border-color: none;
}
nav .navbar-collapse .menu {
  background-color: #007455;
}
nav #clinicMainNav .user-menu {
  left: auto;
  right: 0;
}
nav #clinicMainNav .user-menu li a {
  padding-left: 35px;
}
nav #clinicMainNav .user-menu li a i {
  left: 15px;
  top: 10px;
}
nav ul {
  padding: 0px 0px;
  list-style: none;
  position: relative;
  display: inline-table;
}
nav ul ul {
  display: none;
  position: absolute;
  z-index: 1030;
  top: 100%;
  left: 0;
  border: 1px solid #ddd;
  background-color: #FFF;
}
nav ul ul:after {
  clear: both;
  display: block;
}
nav ul ul li {
  float: left;
  width: 250px;
  padding: 0px;
  margin: 0px;
  text-align: left;
  /*text-transform: uppercase;*/
  border-bottom: 1px solid #ddd;
}
nav ul ul li:last-child {
  border: none;
}
nav ul ul li a {
  padding: 10px 15px;
  color: #007455;
  display: block;
  width: 100%;
  position: relative;
}
nav ul ul li a i {
  position: absolute;
  top: 10px;
  right: 15px;
}
nav ul ul li:hover {
  background: #007455;
}
nav ul ul li:hover > a {
  color: #fff;
  text-decoration: none;
}
nav ul ul li:hover nav ul li a {
  display: block;
  text-decoration: none;
}
nav ul ul ul {
  position: absolute;
  left: 100%;
  top: 0;
}
nav ul li:hover > ul {
  display: block;
  position: absolute;
}
@media only screen and (max-width: 768px) {
  nav .navbar-header .navbar-brand {
    padding: 0 15px !important;
  }
  nav .navbar-header img {
    width: 69%;
  }
}