<div class="hotnews">
    <h2 class="title-border">TIN TỨC</h2>
    <div class="line"></div>
    <div class="row">
        @{for (int i = 0; i <= 3; i++)
            {
                <div class="col-md-6 cm-mgb-20">
                    <div class="block-new">
                        <span class="title-category">TIN TỨC @i</span>
                        <div class="new-item">
                            <div class="media-left">
                                <a href="/tin-hoat-dong/lop-hoc-tien-san-danh-cho-cha-me-bau-khoa-ii.html">
                                    <img src="~/assets/images/newslidebar.jpg" width="100" height="100" alt="LỚP HỌC TIỀN SẢN DÀNH CHO CHA MẸ BẦU KHÓA II" style="display: block;"/>
                                </a>
                            </div>
                            <div class="media-body">
                                <h1 class="media-heading">
                                    <a href="/tin-hoat-dong/lop-hoc-tien-san-danh-cho-cha-me-bau-khoa-ii.html" class="title" title="LỚP HỌC TIỀN SẢN DÀNH CHO CHA MẸ BẦU KHÓA II">Khuyến cáo phòng chống cúm mùa</a>
                                </h1> 
                                <h3>
                                    Bệnh cúm mùa là bệnh truyền nhiễm cấp tính với biểu hiện sốt, đau đầu, đau cơ, mệt mỏi, sổ mũi, đau họng và ho.
                                </h3>
                            </div>
                        </div>
                        <div class="list-item-new">
                            <ul>
                                <li>
                                    <a href="javascript://" title="Những thực phẩm giàu enzyme tiêu hóa tự nhiên">
                                        <i class="fa fa-caret-right"></i>
                                        Những thực phẩm giàu enzyme tiêu hóa tự nhiên
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript://" title="Những thực phẩm giàu enzyme tiêu hóa tự nhiên">
                                        <i class="fa fa-caret-right"></i>
                                        Khuyến cáo phòng chống cúm mùa
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript://" title="Những thực phẩm giàu enzyme tiêu hóa tự nhiên">
                                        <i class="fa fa-caret-right"></i>
                                        Những thực phẩm giàu enzyme tiêu hóa tự nhiên
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript://" title="Những thực phẩm giàu enzyme tiêu hóa tự nhiên">
                                        <i class="fa fa-caret-right"></i>
                                        Khuyến cáo phòng chống cúm mùa
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="">
                            <a href="javascript://" class="btn-view-more pull-right">Xem thêm <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>
