<div class="section-video">
    <h2 class="title-border">VIDEO</h2>
    <div class="line"></div>
    <video controls="controls" width="100%" height="100%">
        <source src="~/assets/files/start.mp4" type="video/mp4" />
    </video>
    <h1>Tinh thần làm việc hăng say của Bác sĩ Phòng khám 125 Thái Thịnh chào đón kỹ niệm 63 năm Ngày thầy thuốc Việt Nam</h1>
    <div class="summary-video">
        Thông tin tóm tắt video
    </div>
    <hr />
    <div id="videoSlider">
        @{for (int i = 0; i <= 10; i++)
            {
                <div class="item">
                    <video width="100%" height="100%">
                        <source src="~/assets/files/start.mp4" type="video/mp4" />
                    </video>
                    <a href="javascript://" class="video-info">
                        <b class="name">Video nổi bật @i</b>
                        @*<div class="description">Thông tin tóm tắt video</div>*@
                    </a>
                </div>
            }
        }
    </div>
</div>
