@using Clinic.DataAccess
@{
    var listNews = ViewBag.ListArea1 as List<News>;
}


@if (listNews != null && listNews.Any())
{
    var groups = listNews.GroupBy(x => new { x.CategoryId, x.CategoryName });
    <section class="service cm-mgt-20 bg-white cm-pd-10 cm-pdb-20">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="title-border">@string.Format("{0}", groups != null ? groups.FirstOrDefault().Key.CategoryName : "")</h2>
                    <div class="line"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-7">
                    @foreach (var item in groups.FirstOrDefault())
                    {                        
                        Html.RenderPartial("~/Views/News/_NewsItem.cshtml", item, new ViewDataDictionary { { "width", 170 }, { "height", 170 }, { "isShowDescription", true } });
                    }
                </div>

                <div class="col-md-5 news_thumb">
                    <div class="image">
                        <img src="~/assets/images/Home_Index/News/news3.jpg" alt="news">
                        <a class="overlay" href="blog-detail.html">
                            <div class="overlay-inner text-center">
                                <h4>Tin tức</h4>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
}