<section class="utils padding-half" style="margin-top: 20px">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="title-border">
                    Tiện ích
                </h2>
                <div class="line"></div>
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-2 item">
                <a href="/dat-hen">
                    <div class="wrapper-image">
                        <div class="image appointment"></div>
                    </div>
                    <i class="icon-patient-bed"></i>
                    <h4>Đặt hẹn khám</h4>
                </a>
            </div>
            <div class="col-sm-2 item">
                <a href="/xem-video">
                    <div class="wrapper-image">
                        <div class="image ultrasound"></div>
                    </div>
                    <i class="icon-mortar-pestle"></i>
                    <h4>Video siêu âm</h4>
                </a>
            </div>
            <div class="col-sm-2 item">
                <a href="/benh-an-dien-tu">
                    <div class="wrapper-image">
                        <div class="image medical-records"></div>
                    </div>
                    <i class="icon-ambulanc"></i>
                    <h4>Bệnh án điện tử</h4>
                </a>
            </div>
            <div class="col-sm-2 item">
                <a href="/lich-lam-viec">
                    <div class="wrapper-image">
                        <div class="image task-schedule"></div>
                    </div>
                    <i class="icon-ambulanc"></i>
                    <h4>Lịch làm việc bác sĩ</h4>
                </a>
            </div>
            <div class="col-sm-2 item">
                <a href="/cau-hoi-thuong-gap">
                    <div class="wrapper-image">
                        <div class="image faq"></div>
                    </div>
                    <i class="icon-ambulanc"></i>
                    <h4>Hỏi và đáp</h4>
                </a>
            </div>
        </div>
    </div>
</section>
