<section class="padding video cm-mgt-20 bg-white cm-pd-10">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h2 class="title-border">Video</h2>
                <div class="line"></div>

                <video controls="controls" width="100%" height="100%">
                    <source src="~/assets/files/start.mp4" type="video/mp4" />
                </video>
            </div>
            <div class="col-md-4">
                <h2 class="title-border">Liên hệ ngay</h2>
                <div class="line"></div>

                <form class="form-horizontal" data-bind="submit: sendFeedback">
                    <div class="form-group" data-bind="attr: {class: isContactNameError() ? 'form-group has-error' : 'form-group'}">
                        <label class="col-sm-12">Họ và tên</label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control w100pc" placeholder="Vui lòng nhập họ và tên" value="" data-bind="value: contactName, hasFocus: isContactNameFocus" />
                        </div>
                    </div>
                    <div class="form-group" data-bind="attr: {class: isPhoneNumberError() ? 'form-group has-error' : 'form-group'}">
                        <label class="col-sm-12">Số điện thoại</label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control w100pc" placeholder="Vui lòng nhập số điện thoại" value="" data-bind="value: contactPhoneNumber, hasFocus: isPhoneNumberFocus" />
                        </div>
                    </div>
                    <div class="form-group" data-bind="attr: {class: isEmailError() ? 'form-group has-error' : 'form-group'}">
                        <label class="col-sm-12">Email</label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control w100pc" placeholder="Vui lòng nhập Email" value="" data-bind="value: contactEmail, hasFocus: isEmailFocus" />
                        </div>
                    </div>
                    <div class="form-group" data-bind="attr: {class: isContentError() ? 'form-group has-error' : 'form-group'}">
                        <label class="col-sm-12">Nội dung</label>
                        <div class="col-sm-12">
                            <textarea type="text" class="form-control w100pc" placeholder="Vui lòng để lại nội dung liên hệ của bạn" rows="4" data-bind="value: contactContent, hasFocus: isContentFocus"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12 text-right">
                            <button type="submit" class="btn btn-primary" data-bind="enable: !isSendingContact()">
                                <i class="fa fa-send" data-bind="visible: !isSendingContact()"></i>
                                <i class="fa fa-spinner fa-pulse" data-bind="visible: isSendingContact()" style="display: none"></i>
                                Gửi
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
