@using Clinic.DataAccess
@model List<Faq>

@{
    ViewBag.Title = "Câu hỏi thương gặp";
}

<div class="page-content bg-white">
    @{Html.RenderPartial("_Breadcumb");}
    <div class="container">
        @if (Model != null)
        {
            <ul class="wrapper-faq">
                @foreach (var item in Model)
                {
                    <li>
                        <a href="javascript://">@Html.Raw(item.Question)</a>
                        <ul class="display-none">
                            <li>
                                @Html.Raw(item.Answer)
                            </li>
                        </ul>
                    </li>

                }
            </ul>
        }
    </div>
</div>

@section knockout{
    <script type="text/javascript">
        $(function () {
            $(".wrapper-faq > li > a").click(function () {
                $(".wrapper-faq li ul").stop().slideUp("slow");
                $(".wrapper-faq li").removeClass("active");
                $(this).next().stop().slideToggle("slow");
                $(this).parent().addClass("active");
            });
        });
    </script>
}