@using GHM.Website.Domain.Models.ViewModels;
@{
    ViewBag.Title = "Phòng khám 125 Thái Thịnh - 20 năm phát triển";
    var popup = ViewBag.MainPopup as List<SliderSearchViewModel>;
}

<link rel="stylesheet" type="text/css" href="~/assets/plugins/lightslider/css/lightslider.css" />

@{Html.RenderPartial("_MainSlider");}

@if (popup != null && popup.Any())
{
    var image = popup.FirstOrDefault();
    if (image != null)
    {
        <div class="main-popup" data-bind="visible: isShowPopup">
            @*<div class="wrapper-content">*@
            <a class="link-popup" href="@string.Format("{0}", string.IsNullOrEmpty(image.Url) ? "javascript://" : image.Url)">
                <div class="close-popup" data-bind="click: closePopup, tooltips" href="javascript://" title="Đóng popup" data-toggle="tooltip" data-placement="left">
                    <i class="fa fa-times"></i>
                </div>
                <img src="@Url.Action("Index", "ImageHandler", new {url = image.ImageUrl, type=1})" alt="Phòng khám đa khoa 125 Thái Thịnh." />
                @*<img src="/images.ashx?name=@(image.ImageUrl)" alt="Phòng khám đa khoa 125 Thái Thịnh">*@
            </a>
            @*</div>*@
        </div>
    }
}

<nav>
    <!--Green Section-->
    <section class="bg_green padding-half">
        <div class="container">
            <div class="row white_content">
                <h4 class="star-title" style="color: #FFF">Chuyên khoa uy tín</h4>
                <br />
                <div class="line"></div>
                @{Html.RenderPartial("_FacultySlider");}
            </div>
        </div>
    </section>
</nav>

<!------- BEGIN: Util ------------->
@{Html.RenderPartial("_Util");}
<!------- End: Util ------------->
<!------- BEGIN: Video and contact ------------->
@{Html.RenderPartial("_VideoAndContact");}
<!------- End: Util ------------->
<!------- BEGIN: Hot news ------------->
@{Html.RenderPartial("_HotNews");}
<!------- End: Util ------------->
<!------- BEGIN: Hot news ------------->
@{Html.RenderPartial("_Area1");}
<!------- End: Util ------------->
<!------- BEGIN: Specialize ------------->
@{Html.RenderPartial("_Area2");}
<!------- End: Util ------------->
<!-- testinomial -->
<section id="testinomial" class="padding">
    <!-- <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="testinomial-slider" class="owl-carousel text-center">
                    <div class="item">
                        <h3>Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram.</h3>
                        <p>Rodney Stratton, <span>Heart Patient</span></p>
                    </div>

                </div>
            </div>
        </div>
    </div>-->
</section>

@section knockout{
    @Scripts.Render("~/bundles/Home")
}