<div class="wrapper-footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h4 class="title">
                    <i class="fa fa-home"></i>
                    Phòng khám đa khoa 125 Thái Thịnh
                </h4>
                <ul>
                    <li>
                        <i class="fa fa-map-marker"></i>
                        Địa chỉ: 125 - 127 Thái Thịnh - Đống Đa - Hà Nội
                    </li>
                    <li>
                        <i class="fa fa-clock-o"></i>
                        Giờ làm việc: Từ 7:30 - 20:00
                    </li>
                    <li>
                        <i class="fa fa-volume-control-phone"></i>
                        Hotline: 0972 88 11 25
                    </li>
                    <li>
                        <i class="fa fa-envelope-o"></i>
                        Email: info@pkdktt.com
                    </li>
                </ul>

                <h4 class="title cm-mgb-20">
                    <i class="fa fa-phone-square"></i>
                    Tổng đài chăm sóc khách hàng:
                    <br />
                    <b style="font-size: 30px; margin-top:15px; display: block; padding-left: 20px;">0243.853.5522</b>
                    <b style="font-size: 30px; margin-top:15px; display: block; padding-left: 20px;">0247.309.6888</b>
                </h4>

                <div class="cm-pdl-20">
                    <a href="/lien-he" class="btn btn-success btn-lg">
                        Gửi tin nhắn
                    </a>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="fb-page" data-href="https://www.facebook.com/phongkhamdakhoa125thaithinh/" data-tabs="timeline" data-height="350" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
                    <blockquote cite="https://www.facebook.com/phongkhamdakhoa125thaithinh/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/phongkhamdakhoa125thaithinh/">Phòng khám 125 Thái Thịnh</a></blockquote>
                </div>
            </div>
            <div class="col-sm-5">
                <iframe frameborder="0" width="100%" height="350" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=125%20thai%20thinh&key=AIzaSyAWPEgy1UOyTEXbUsU_9GE2O3yhBj4w7es" allowfullscreen></iframe>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm-12">
                @*<h4 class="title">
                        <i class="fa fa-user-md"></i>
                        Chuyên khoa của chúng tôi
                    </h4>*@
                <ul class="list-specialist cm-mgb-0 center">
                    <li><a href="/chuyen-khoa/khoa-da-lieu.html" title="Khoa Da Liễu" data-toggle="tooltip" data-placement="top"><img class="lazy" data-src="/assets/images/13-Chuyen-Khoa/dalieu.png" alt="Khoa Da Liễu" /></a></li>
                    <li><a href="/chuyen-khoa/khoa-dien-nao--luu-huyet-nao.html" title="Khoa Điện não" data-toggle="tooltip" data-placement="top"><img class="lazy" data-src="/assets/images/13-Chuyen-Khoa/diennao.png" alt="Khoa Điện Não" /></a></li>
                    <li><a href="/chuyen-khoa/khoa-mat.html" title="Khoa Mắt" data-toggle="tooltip" data-placement="top"><img class="lazy" data-src="/assets/images/13-Chuyen-Khoa/mat.png" alt="Khoa Mắt" /></a></li>
                    <li><a href="/chuyen-khoa/khoa-ngoai.html" title="Khoa Ngoại" data-toggle="tooltip" data-placement="top"><img class="lazy" data-src="/assets/images/13-Chuyen-Khoa/ngoai.png" alt="Khoa Ngoại" /></a></li>
                    <li><a href="/chuyen-khoa/nhi-khoa.html" title="Khoa Nhi" data-toggle="tooltip" data-placement="top"><img class="lazy" data-src="/assets/images/13-Chuyen-Khoa/nhi.png" alt="Khoa Nhi" /></a></li>
                    <li><a href="/chuyen-khoa/noi-tong-quat.html" title="Khoa Nội" data-toggle="tooltip" data-placement="top"><img class="lazy" data-src="/assets/images/13-Chuyen-Khoa/noi.png" alt="Khoa Nội" /></a></li>
                    <li><a href="/chuyen-khoa/noi-soi-tieu-hoa.html" title="Khoa Nội soi" data-toggle="tooltip" data-placement="top"><img class="lazy" data-src="/assets/images/13-Chuyen-Khoa/noisoi.png" alt="Khoa Nội soi" /></a></li>
                    <li><a href="/chuyen-khoa/khoa-rang--ham--mat.html" title="Khoa Răng Hàm Mặt" data-toggle="tooltip" data-placement="top"><img class="lazy" data-src="/assets/images/13-Chuyen-Khoa/rhm.png" alt="Khoa Răng Hàm Mặt" /></a></li>
                    <li><a href="/chuyen-khoa/san-phu-khoa.html" title="Khoa Sản" data-toggle="tooltip" data-placement="top"><img class="lazy" data-src="/assets/images/13-Chuyen-Khoa/san.png" alt="Khoa Sản" /></a></li>
                    <li><a href="/chuyen-khoa/trung-tam-sieu-am.html" title="Khoa Siêu âm" data-toggle="tooltip" data-placement="top"><img class="lazy" data-src="/assets/images/13-Chuyen-Khoa/sieuam.png" alt="Khoa Siêu âm" /></a></li>
                    <li><a href="/chuyen-khoa/khoa-tai--mui--hong.html" title="Khoa Tai Mũi Họng" data-toggle="tooltip" data-placement="top"><img class="lazy" data-src="/assets/images/13-Chuyen-Khoa/tmh.png" alt="Khoa Tai Mũi Họng" /></a></li>
                    <li><a href="/chuyen-khoa/trung-tam-xet-nghiem.html" title="Khoa Xét Nghiệm" data-toggle="tooltip" data-placement="top"><img class="lazy" data-src="/assets/images/13-Chuyen-Khoa/xnghiem.png" alt="Khoa Xét Nghiệm" /></a></li>
                    <li><a href="/chuyen-khoa/phong-x-quang.html" title="Khoa X-Quang" data-toggle="tooltip" data-placement="top"><img class="lazy" data-src="/assets/images/13-Chuyen-Khoa/xray.png" alt="Khoa X-Quang" /></a></li>
                </ul>
            </div>
        </div>
        <hr />
        <div class="copy-right">
            Bản quyền thuộc về © 2017 Công ty cổ phần Bệnh viện Thái Thịnh.
        </div>
    </div>
</div><!-- end wrapper-footer -->
<script type="text/javascript" src="https://apis.google.com/js/plusone.js">
    $('.lazy').Lazy();
</script>